Repository ignite/cli, pull requests merged in 2020-07, with the labels that each got.

#32 publish starport to npm
  .github/workflows/npm-publish.yml
  .npm/bin/index
  .npm/lib/conf.js
  .npm/lib/install.js
  .npm/lib/starport.js
  .npm/package.json
  scripts/npm-publish
Labels: enhancement

#48 Added a license
  LICENSE
Labels: priority/high

#37 analytics
  cmd/root.go
  go.mod
  go.sum
  pkg/analyticsutil/analytics.go
  templates/app/templates/Makefile.plush
Labels: enhancement, priority/high

#57 refactor folder structure for main & cli
  Makefile
  go.mod
  go.sum
  interface/cli/starport/cmd/add.go
  interface/cli/starport/cmd/app.go
  interface/cli/starport/cmd/root.go
  interface/cli/starport/cmd/serve.go
  interface/cli/starport/cmd/typed.go
  interface/cli/starport/main.go
  main.go
  scripts/dev
  scripts/starport
Labels: refactoring

#64 interface/cli/starport/cmd: made serve command newable
  interface/cli/starport/cmd/cmd.go
  interface/cli/starport/cmd/serve.go
Labels: refactoring

#65 interface/cli/starport/cmd: made app command newable
  interface/cli/starport/cmd/app.go
  interface/cli/starport/cmd/cmd.go
Labels: refactoring

#72 interface/cli/starport/cmd: refactor `serve` short-running cmd exec
  go.mod
  go.sum
  interface/cli/starport/cmd/serve.go
  pkg/cmdrunner/cmdrunner.go
  pkg/cmdrunner/step/step.go
Labels: priority/high, refactoring

#82 starport/cmd: use cmdrunner to start cli servers
  go.mod
  interface/cli/starport/cmd/serve.go
  pkg/cmdrunner/cmdrunner.go
  pkg/cmdrunner/step/step.go
Labels: priority/high, refactoring

#86 cli/starport/cmd: use context for cancellation
  go.mod
  go.sum
  interface/cli/starport/cmd/serve.go
Labels: priority/high, refactoring

#87 services/serve: move serve logic from starport/cmd
  go.mod
  go.sum
  interface/cli/starport/cmd/serve.go
  services/serve/serve.go
Labels: priority/high, refactoring

#90 services/serve: split dev handler
  starport/services/serve/dev.go
  starport/services/serve/serve.go
Labels: priority/high, refactoring

#91 services/serve: refactor dev server handler
  starport/pkg/httpstatuschecker/httpstatuschecker.go
  starport/pkg/httpstatuschecker/httpstatuschecker_test.go
  starport/pkg/xhttp/response.go
  starport/pkg/xhttp/response_test.go
  starport/services/serve/dev.go
  starport/services/serve/serve.go
  starport/ui/src/views/Start.vue
Labels: priority/high, refactoring

#94 pkg/xexec: added IsCommandAvailable
  starport/pkg/xexec/command.go
  starport/services/serve/dev.go
  starport/services/serve/serve.go
Labels: refactoring

#95 pkg/fswatcher: added and refactored its callers
  starport/pkg/fswatcher/fswatcher.go
  starport/services/serve/serve.go
Labels: priority/high, refactoring

#98 services/serve: use cmdrunner to run npm dev for user's frontend
  starport/services/serve/serve.go
Labels: priority/high, refactoring

#99 services/serve: general refactoring, simplify code
  starport/services/serve/serve.go
Labels: priority/high, refactoring

#102 services/serve: stabilize serve
  go.mod
  go.sum
  starport/interface/cli/starport/cmd/serve.go
  starport/pkg/fswatcher/fswatcher.go
  starport/services/serve/serve.go
Labels: priority/high, refactoring
