Repository ignite/cli, pull requests merged in 2022-04, with the labels that each got.

#2240 docs(hello.md): improve hello language to reduce first use friction
  docs/guide/hello.md
Labels: documentation

#2243 fix(network/join): fix flow when custom gentx provided
  starport/cmd/network_chain_join.go
  starport/pkg/cosmosutil/gentx.go
  starport/services/network/join.go
  starport/services/network/peer.go
Labels: bug, network

#2262 docs(rebranding): change `Starport` to `Ignite CLI`, update URLs, and update command uses for all docs and contributing resources
  assets/ignitecli.png
  assets/starport.png
  contributing.md
  docs/contributing/deploy-preview.png
  docs/contributing/index.md
  docs/contributing/technical-setup.md
  docs/contributing/templates/concept_template.md
  docs/contributing/templates/readme.md
  docs/contributing/templates/tutorial-template.md
  docs/guide/blog/connect-blockchain.md
  docs/guide/blog/index.md
  docs/guide/hello.md
  docs/guide/ibc.md
  docs/guide/install.md
  docs/guide/interchange/02-init.md
  docs/guide/interchange/04-creating-order-books.md
  docs/guide/interchange/06-creating-sell-orders.md
  docs/guide/interchange/07-creating-buy-orders.md
  docs/guide/interchange/08-cancelling-orders.md
  docs/guide/interchange/index.md
  docs/guide/loan.md
  docs/guide/nameservice/01-init.md
  docs/guide/nameservice/02-messages.md
  docs/guide/nameservice/03-types.md
  docs/guide/nameservice/05-play.md
  docs/guide/nameservice/index.md
  docs/guide/scavenge/03-scaffolding.md
  docs/guide/scavenge/04-messages.md
  docs/guide/scavenge/05-types.md
  docs/guide/scavenge/09-play.md
  docs/kb/band.md
  docs/kb/config.md
  docs/kb/cosmwasm.md
  docs/kb/docker.md
  docs/kb/frontend.md
  docs/kb/index.md
  docs/kb/params.md
  docs/kb/proto.md
  docs/kb/relayer.md
  docs/kb/scaffold-chain.md
  docs/kb/serve.md
  docs/kb/simapp.md
  docs/kb/types.md
  docs/migration/index.md
  docs/migration/v0.18.md
  docs/readme.md
  readme.md
Labels: documentation

#2283 docs: rebrand docs x2: config.js for doc header, logo, repo banner
  assets/ignite-cli.png
  docs/.vuepress/config.js
  readme.md
Labels: documentation

#2287 docs(rebranding): replace logo, update cmd descriptions
  .github/ISSUE_TEMPLATE/starport-bug-report.md
  .github/ISSUE_TEMPLATE/starport-feature-request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/workflows/stats.yaml
  .github/workflows/test-integration.yml
  .gitpod.yml
  .gitpod/readme.md
  LICENSE
  actions/cli/readme.md
  assets/ignite-cli.png
  assets/ignitecli.png
  contributing.md
  dev-env-setup.md
  docs/.vuepress/config.js
  docs/.vuepress/public/logo.png
  docs/.vuepress/public/logo.svg
  docs/cli/index.md
  docs/contributing/index.md
  docs/contributing/technical-setup.md
  docs/contributing/templates/concept_template.md
  docs/contributing/templates/tutorial-template.md
  docs/docs.go
  docs/guide/ibc.md
  docs/guide/scavenge/04-messages.md
  docs/package-lock.json
  docs/package.json
  ignite/cmd/account.go
  ignite/cmd/chain_build.go
  ignite/cmd/chain_serve.go
  ignite/cmd/docs.go
  ignite/cmd/network.go
  ignite/cmd/network_campaign_list.go
  ignite/cmd/network_campaign_publish.go
  ignite/cmd/network_campaign_show.go
  ignite/cmd/network_chain_list.go
  ignite/cmd/relayer.go
  ignite/cmd/scaffold_chain.go
  ignite/cmd/scaffold_module.go
  ignite/cmd/tools.go
  ignite/cmd/version.go
Labels: documentation

#2301 docs(technical-setup.md): fix rebrand install guide name
  docs/contributing/technical-setup.md
  docs/migration/v0.19.2.md
Labels: documentation

#2256 docs(tutorials/blog): fix grammar and styling
  docs/guide/blog/connect-blockchain.md
Labels: documentation

#2389 feat(network/publish): add support for source URLs without protocol
  ignite/cmd/network_chain_publish.go
  ignite/pkg/xurl/xurl.go
  ignite/pkg/xurl/xurl_test.go
Labels: network

#2235 test(service/network): introduce unit testing tooling
  go.mod
  go.sum
  ignite/cmd/network.go
  ignite/internal/tools/tools.go
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/pkg/relayer/relayer.go
  ignite/services/network/campaign.go
  ignite/services/network/join.go
  ignite/services/network/join_test.go
  ignite/services/network/launch.go
  ignite/services/network/launch_test.go
  ignite/services/network/mocks/account_info.go
  ignite/services/network/mocks/campaign_client.go
  ignite/services/network/mocks/chain.go
  ignite/services/network/mocks/cosmos_client.go
  ignite/services/network/mocks/launch_client.go
  ignite/services/network/mocks/profile_client.go
  ignite/services/network/mocks/reward_client.go
  ignite/services/network/network.go
  ignite/services/network/network_test.go
  ignite/services/network/publish.go
  ignite/services/network/publish_test.go
  ignite/services/network/queries.go
  ignite/services/network/request.go
  ignite/services/network/reward_test.go
  ignite/services/network/testutil/account.go
  ignite/services/network/testutil/chain.go
  ignite/services/network/testutil/genesis.go
  ignite/services/network/testutil/gentx.go
  ignite/services/network/testutil/mocks.go
  ignite/services/network/testutil/response.go
  ignite/services/network/testutil/suite.go
  integration/faucet/faucet_test.go
Labels: testing

#2408 docs(tutorial): Pass in creator as an argument in CRUD transactions
  docs/guide/ibc.md
Labels: documentation

#2416 feat(network/chain): add --shares to the publish cmd
  ignite/cmd/network_chain_publish.go
  ignite/pkg/cosmosutil/coins.go
  ignite/pkg/cosmosutil/coins_test.go
  ignite/services/network/publish.go
  ignite/services/network/publish_test.go
Labels: network

#2387 feat(network/request): add request status to network request `list` and `show` commands
  ignite/cmd/network_request_list.go
  ignite/pkg/xtime/unix.go
  ignite/services/network/networkchain/simulate.go
  ignite/services/network/networktypes/genesisinformation.go
  ignite/services/network/networktypes/genesisinformation_test.go
  ignite/services/network/networktypes/request.go
  ignite/services/network/request.go
Labels: network

#2424 fix: fix bytes formatting
  ignite/cmd/network_request_show.go
Labels: network

#2409 feat(cmd/scaffold): confirm when scaffolding over not staged changes
  ignite/cmd/cmd.go
  ignite/cmd/generate.go
  ignite/cmd/scaffold.go
  ignite/pkg/xgit/xgit.go
  integration/app/cmd_app_test.go
  integration/app/cmd_ibc_test.go
  integration/app/cmd_serve_test.go
  integration/cosmosgen/cosmosgen_test.go
  integration/list/cmd_list_test.go
  integration/map/cmd_map_test.go
  integration/other_components/cmd_message_test.go
  integration/other_components/cmd_query_test.go
  integration/readme.md
  integration/simulation/simapp_test.go
  integration/single/cmd_singleton_test.go
Labels: bounty

#2392 refactor(pkg/xurl): change protocol functions to prevent possible bugs
  ignite/cmd/network_chain_publish.go
  ignite/pkg/xurl/xurl.go
  ignite/pkg/xurl/xurl_test.go
  ignite/services/chain/chain.go
  ignite/services/chain/faucet.go
  ignite/services/chain/plugin-stargate.go
  ignite/services/chain/serve.go
  ignite/services/network/networkchain/simulate.go
  integration/app/tx_test.go
  integration/env.go
  integration/faucet/faucet_test.go
Labels: bug, refactoring
