Repository ignite/cli, pull requests merged in 2022-12, with the labels that each got.

#3209 docs: use mdgofmt to format go snippets in markdown
  Makefile
  docs/docs/guide/02-hello.md
  docs/docs/guide/03-blog/00-build-blog.md
  docs/docs/guide/03-blog/01-comment-blog.md
  docs/docs/guide/06-loan.md
  docs/docs/guide/07-ibc.md
  docs/docs/guide/08-interchange/04-creating-order-books.md
  docs/docs/guide/08-interchange/08-cancelling-orders.md
  docs/docs/migration/v0.18.md
  docs/docs/migration/v0.24.0.md
  docs/docs/migration/v0.25.0.md
  go.mod
  go.sum
  ignite/internal/tools/tools.go
Labels: docs, Skip-Changelog

#3210 fix: change relayer to work with multiple paths
  changelog.md
  ignite/pkg/relayer/relayer.go
Labels: bug

#3213 test(xgit): fix flaky
  ignite/pkg/xgit/xgit_test.go
Labels: Skip-Changelog

#3212 chore: Update` CODEOWNERS`
  .github/CODEOWNERS
Labels: Skip-Changelog

#3014 feat: redesign `chain serve` output
  changelog.md
  go.mod
  go.sum
  ignite/cmd/chain.go
  ignite/cmd/chain_serve.go
  ignite/cmd/model/chain_serve.go
  ignite/cmd/model/chain_serve_test.go
  ignite/cmd/model/testdata/testdata.go
  ignite/pkg/chaincmd/runner/account.go
  ignite/pkg/cliui/cliui.go
  ignite/pkg/cliui/colors/colors.go
  ignite/pkg/cliui/icons/icon.go
  ignite/pkg/cliui/model/events.go
  ignite/pkg/cliui/model/events_test.go
  ignite/pkg/cliui/model/model.go
  ignite/pkg/cliui/model/spinner.go
  ignite/pkg/cliui/view/accountview/account.go
  ignite/pkg/cliui/view/errorview/error.go
  ignite/pkg/events/bus.go
  ignite/pkg/events/events.go
  ignite/pkg/markdownviewer/markdownviewer.go
  ignite/pkg/xexec/xexec.go
  ignite/services/chain/chain.go
  ignite/services/chain/init.go
  ignite/services/chain/serve.go
Labels: enhancement

#3211 chore: update emails
  code_of_conduct.md
  docs/docusaurus.config.js
  ignite/pkg/xgit/xgit.go
  ignite/pkg/xgit/xgit_test.go
Labels: Skip-Changelog

#3218 docs: "Hello, World!" tutorial rewrite
  docs/docs/guide/02-getting-started.md
  docs/docs/guide/02-hello.md
  docs/docs/guide/03-hello.md
  docs/docs/guide/04-blog/00-build-blog.md
  docs/docs/guide/04-blog/01-comment-blog.md
  docs/docs/guide/04-blog/02-connect-blockchain.md
  docs/docs/guide/04-blog/_category_.json
  docs/docs/guide/05-nameservice/00-tutorial.md
  docs/docs/guide/05-nameservice/01-init.md
  docs/docs/guide/05-nameservice/02-messages.md
  docs/docs/guide/05-nameservice/03-types.md
  docs/docs/guide/05-nameservice/04-keeper.md
  docs/docs/guide/05-nameservice/05-play.md
  docs/docs/guide/05-nameservice/_category_.json
  docs/docs/guide/06-scavenge/01-hunt.md
  docs/docs/guide/06-scavenge/02-game.md
  docs/docs/guide/06-scavenge/03-scaffolding.md
  docs/docs/guide/06-scavenge/04-messages.md
  docs/docs/guide/06-scavenge/05-types.md
  docs/docs/guide/06-scavenge/06-handlers.md
  docs/docs/guide/06-scavenge/07-keeper.md
  docs/docs/guide/06-scavenge/08-cli.md
  docs/docs/guide/06-scavenge/09-play.md
  docs/docs/guide/06-scavenge/_category_.json
  docs/docs/guide/08-loan.md
  docs/docs/guide/09-interchange/00-introduction.md
  docs/docs/guide/09-interchange/01-design.md
  docs/docs/guide/09-interchange/02-init.md
  docs/docs/guide/09-interchange/03-walkthrough.md
  docs/docs/guide/09-interchange/04-creating-order-books.md
  docs/docs/guide/09-interchange/05-mint-and-burn-voucher.md
  docs/docs/guide/09-interchange/06-creating-sell-orders.md
  docs/docs/guide/09-interchange/07-creating-buy-orders.md
  docs/docs/guide/09-interchange/08-cancelling-orders.md
  docs/docs/guide/09-interchange/09-tests.md
  docs/docs/guide/09-interchange/_category_.json
  docs/versioned_docs/version-v0.25.2/kb/10-band.md
  docs/versioned_docs/version-v0.25.2/migration/v0.18.md
  docs/versioned_docs/version-v0.25.2/migration/v0.24.0.md
Labels: Skip-Changelog

#3226 docs: fix path in hello tutorial
  docs/docs/guide/03-hello.md
Labels: Skip-Changelog

#3202 refactor(`config`): organization
  go.sum
  ignite/cmd/chain.go
  ignite/cmd/ignite/main.go
  ignite/cmd/scaffold_react.go
  ignite/cmd/scaffold_vue.go
  ignite/config/chain/base/config.go
  ignite/config/chain/config.go
  ignite/config/chain/config_test.go
  ignite/config/chain/convert.go
  ignite/config/chain/convert_test.go
  ignite/config/chain/errors.go
  ignite/config/chain/parse.go
  ignite/config/chain/parse_test.go
  ignite/config/chain/v0/config.go
  ignite/config/chain/v0/config_convert.go
  ignite/config/chain/v0/config_convert_test.go
  ignite/config/chain/v1/config.go
  ignite/config/chain/v1/config_convert.go
  ignite/config/chain/version/version.go
  ignite/config/config.go
  ignite/config/testdata/testdata.go
  ignite/pkg/cosmosgen/generate_vuex.go
  ignite/services/chain/chain.go
  ignite/services/chain/generate.go
  ignite/services/chain/init.go
  ignite/services/chain/runtime.go
  ignite/services/chain/serve.go
  ignite/services/network/networkchain/init.go
  ignite/services/network/networkchain/networkchain.go
  ignite/services/scaffolder/scaffolder.go
  ignite/version/version.go
  integration/app.go
  integration/chain/config_test.go
  integration/client.go
  integration/cosmosgen/bank_module_test.go
  integration/cosmosgen/custom_module_test.go
  integration/network/network_test.go
  integration/node/cmd_query_bank_test.go
  integration/node/cmd_tx_bank_send_test.go
Labels: Skip-Changelog

#3220 feat(CI): add codecov coverage
  .github/workflows/test.yml
  .gitignore
  scripts/test-coverage
Labels: Skip-Changelog

#3217 feat(plugin): support plugin path with hash
  go.mod
  ignite/pkg/xgit/xgit.go
  ignite/pkg/xgit/xgit_test.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
Labels: Skip-Changelog

#3227 docs: added manual section to the hello tutorial
  docs/docs/guide/03-hello.md
Labels: Skip-Changelog

#3219 chore(docs): Fix some broken links and add a link checker for the markdown files
  .github/workflows/md-link-checker-config.json
  .github/workflows/md-link-checker.yml
  .gitpod/readme.md
  contributing.md
  docs/docs/contributing/01-contributing.md
  docs/docs/contributing/templates/02-tutorial-template.md
  docs/docs/guide/02-getting-started.md
  docs/docs/guide/05-nameservice/00-tutorial.md
  docs/docs/guide/07-ibc.md
  docs/docs/guide/08-loan.md
  docs/docs/guide/09-interchange/01-design.md
  docs/docs/index.md
  docs/versioned_docs/version-v0.25.2/contributing/01-contributing.md
  docs/versioned_docs/version-v0.25.2/contributing/templates/02-tutorial-template.md
  docs/versioned_docs/version-v0.25.2/guide/02-hello.md
  docs/versioned_docs/version-v0.25.2/guide/04-nameservice/00-tutorial.md
  docs/versioned_docs/version-v0.25.2/guide/04-nameservice/01-init.md
  docs/versioned_docs/version-v0.25.2/guide/04-nameservice/04-keeper.md
  docs/versioned_docs/version-v0.25.2/guide/06-loan.md
  docs/versioned_docs/version-v0.25.2/guide/07-ibc.md
  docs/versioned_docs/version-v0.25.2/guide/08-interchange/01-design.md
  docs/versioned_docs/version-v0.25.2/index.md
  docs/versioned_docs/version-v0.25.2/kb/00-kb.md
  docs/versioned_docs/version-v0.25.2/kb/02-serve.md
  docs/versioned_docs/version-v0.25.2/kb/10-band.md
  docs/versioned_docs/version-v0.25.2/kb/11-simapp.md
  docs/versioned_docs/version-v0.25.2/kb/12-params.md
  ignite/pkg/protoanalysis/testdata/liquidity/msg.proto
  ignite/services/scaffolder/patch.go
  ignite/templates/module/create/msgserver.go
  readme.md
  scripts/gen-protoc
Labels: Skip-Changelog

#3181 feat: `add` `remove` plugin commands
  changelog.md
  ignite/cmd/plugin.go
  ignite/config/plugins/config.go
  ignite/config/plugins/parse.go
  ignite/config/plugins/persist.go
  ignite/services/plugin/plugin.go
Labels: plugin

#3247 feat: add codecov file with coverage configs
  .github/codecov.yml
Labels: Skip-Changelog

#3241 chore: update deps
  go.mod
  go.sum
  ignite/pkg/cosmosclient/mocks/account_retriever.go
  ignite/pkg/cosmosclient/mocks/bank_query_client.go
  ignite/pkg/cosmosclient/mocks/faucet_client.go
  ignite/pkg/cosmosclient/mocks/gasometer.go
  ignite/pkg/cosmosclient/mocks/rpc_client.go
  ignite/pkg/cosmosclient/mocks/signer.go
  ignite/pkg/cosmostxcollector/mocks/saver.go
  ignite/pkg/cosmostxcollector/mocks/txs_collecter.go
  ignite/services/network/mocks/account_info.go
  ignite/services/network/mocks/bank_client.go
  ignite/services/network/mocks/campaign_client.go
  ignite/services/network/mocks/chain.go
  ignite/services/network/mocks/cosmos_client.go
  ignite/services/network/mocks/launch_client.go
  ignite/services/network/mocks/profile_client.go
  ignite/services/network/mocks/reward_client.go
  ignite/services/network/mocks/staking_client.go
  ignite/services/plugin/mocks/interface.go
Labels: Skip-Changelog

#3240 fix(plugins): dont unload before print
  ignite/cmd/plugin.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
Labels: Skip-Changelog

#3252 refactor(`plugins`): remove plugin flag
  ignite/cmd/cmd.go
  ignite/cmd/plugin.go
Labels: Skip-Changelog

#3229 chore(network): rename campaign to project
  changelog.md
  ignite/cmd/network.go
  ignite/cmd/network_campaign.go
  ignite/cmd/network_campaign_account.go
  ignite/cmd/network_campaign_update.go
  ignite/cmd/network_chain_list.go
  ignite/cmd/network_chain_publish.go
  ignite/cmd/network_profile.go
  ignite/cmd/network_project.go
  ignite/cmd/network_project_account.go
  ignite/cmd/network_project_list.go
  ignite/cmd/network_project_publish.go
  ignite/cmd/network_project_show.go
  ignite/cmd/network_project_update.go
  ignite/services/network/networktypes/campaign.go
  ignite/services/network/networktypes/chainlaunch.go
  ignite/services/network/networktypes/chainlaunch_test.go
  ignite/services/network/networktypes/profile.go
  ignite/services/network/profile.go
  ignite/services/network/project.go
  ignite/services/network/publish.go
  ignite/services/network/publish_test.go
  ignite/services/network/queries.go
  ignite/services/network/testutil/chain.go
Labels: network

#3248 docs: projects building with ignite
  docs/docs/index.md
  docs/package.json
  docs/src/components/ProjectsTable.js
  docs/src/css/custom.css
  docs/static/img/logo/aura.svg
  docs/static/img/logo/bitcanna.svg
  docs/static/img/logo/cudos.svg
  docs/static/img/logo/dymension.svg
  docs/static/img/logo/electra.svg
  docs/static/img/logo/firmachain.svg
  docs/static/img/logo/kyve.svg
  docs/static/img/logo/medibloc.svg
  docs/static/img/logo/mun.svg
  docs/static/img/logo/okp4.svg
  docs/static/img/logo/ollostation.svg
  docs/static/img/logo/sonr.svg
  docs/static/img/logo/source.svg
  docs/static/img/logo/stride.svg
  docs/static/img/logo/umee.svg
  docs/yarn.lock
Labels: Skip-Changelog

#3208 feat(`network`): param-change apply to genesis
  ignite/cmd/network_request_change_param.go
  ignite/pkg/cosmosutil/genesis/genesis.go
  ignite/pkg/cosmosutil/genesis/genesis_test.go
  ignite/pkg/jsonfile/jsonfile.go
  ignite/pkg/jsonfile/jsonfile_test.go
  ignite/services/network/networkchain/prepare.go
  ignite/services/network/networkchain/request.go
  ignite/services/network/networktypes/genesisinformation.go
  ignite/services/network/networktypes/genesisinformation_test.go
  ignite/services/network/queries.go
  integration/network/genesis.json
  integration/network/request_test.go
Labels: Skip-Changelog

#3170 docs: fix sidebar order
  contributing.md
  docs/docs/09-bounty.md
  docs/docs/10-cli.md
  docs/docs/index.md
Labels: Skip-Changelog

#3124 chore: update `spn`
  changelog.md
  go.mod
  go.sum
  ignite/cmd/network.go
  ignite/cmd/network_request.go
  ignite/cmd/network_request_change_param.go
  ignite/cmd/network_request_list.go
  ignite/cmd/network_request_show.go
  ignite/pkg/cosmosutil/genesis/genesis.go
  ignite/pkg/cosmosutil/genesis/genesis_test.go
  ignite/pkg/jsonfile/jsonfile.go
  ignite/pkg/jsonfile/jsonfile_test.go
  ignite/services/network/mocks/launch_client.go
  ignite/services/network/networkchain/prepare.go
  ignite/services/network/networkchain/request.go
  ignite/services/network/networktypes/chainlaunch.go
  ignite/services/network/networktypes/genesisinformation.go
  ignite/services/network/networktypes/genesisinformation_test.go
  ignite/services/network/publish.go
  ignite/services/network/publish_test.go
  ignite/services/network/queries.go
  ignite/services/network/request.go
  ignite/services/network/request_test.go
  ignite/services/network/reward_test.go
  integration/network/genesis.json
  integration/network/network_test.go
  integration/network/request_test.go
Labels: Skip-Changelog

#3260 chore(CI): not check local urls for the md files
  .github/workflows/md-link-checker-config.json
  .github/workflows/md-link-checker.yml
  .gitpod/readme.md
  contributing.md
  docs/docs/clients/01-typescript.md
  docs/docs/contributing/02-technical-setup.md
  docs/docs/contributing/templates/02-tutorial-template.md
  docs/docs/guide/02-getting-started.md
  docs/docs/guide/05-nameservice/00-tutorial.md
  docs/docs/guide/05-nameservice/01-init.md
  docs/docs/guide/05-nameservice/02-messages.md
  docs/docs/guide/05-nameservice/03-types.md
  docs/docs/guide/08-loan.md
  docs/docs/kb/07-frontend.md
  docs/readme.md
  docs/versioned_docs/version-v0.25.2/clients/01-typescript.md
  docs/versioned_docs/version-v0.25.2/contributing/02-technical-setup.md
  docs/versioned_docs/version-v0.25.2/contributing/templates/02-tutorial-template.md
  docs/versioned_docs/version-v0.25.2/guide/04-nameservice/00-tutorial.md
  docs/versioned_docs/version-v0.25.2/guide/04-nameservice/01-init.md
  docs/versioned_docs/version-v0.25.2/guide/04-nameservice/02-messages.md
  docs/versioned_docs/version-v0.25.2/guide/04-nameservice/03-types.md
  docs/versioned_docs/version-v0.25.2/guide/06-loan.md
  docs/versioned_docs/version-v0.25.2/index.md
  docs/versioned_docs/version-v0.25.2/kb/00-kb.md
  docs/versioned_docs/version-v0.25.2/kb/07-frontend.md
  ignite/cmd/cmd.go
  readme.md
Labels: Skip-Changelog

#3254 chore: fix some workflows
  .github/workflows/docs-deploy-preview.yml
  .github/workflows/md-link-checker-config.json
  .github/workflows/md-link-checker.yml
  .github/workflows/release-cosmoverse.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
Labels: Skip-Changelog

#3261 fix: inverted logos for dark theme
  docs/src/components/ProjectsTable.js
Labels: Skip-Changelog

#3192 docs: annotate the frontend tutorial
  docs/docs/clients/01-typescript.md
  docs/docs/clients/_category_.json
  ignite/cmd/generate_typescript_client.go
Labels: Skip-Changelog

#3259 refactor: plugin config
  ignite/cmd/plugin.go
  ignite/config/plugins/config.go
  ignite/config/plugins/config_test.go
  ignite/config/plugins/errors.go
  ignite/config/plugins/parse.go
  ignite/config/plugins/parse_test.go
  ignite/config/plugins/persist.go
  ignite/config/plugins/testdata/empty.yml
  ignite/config/plugins/testdata/invalid/plugins.yml
  ignite/config/plugins/testdata/other/plugins.yaml
  ignite/config/plugins/testdata/testdata.go
  ignite/pkg/cosmosanalysis/cosmosanalysis.go
  ignite/pkg/cosmosanalysis/cosmosanalysis_test.go
  ignite/pkg/cosmosanalysis/testdata/chain/go.mod
  ignite/services/scaffolder/scaffolder.go
Labels: Skip-Changelog

#3265 fix: docs deploy preview skip
  .github/workflows/docs-deploy-preview.yml
Labels: Skip-Changelog

#3253 refactor: Use const for gogoproto import and remove unused GenesisStateHighestFieldNumber and EnsureGogoProtoImported.
  ignite/templates/typed/genesis.go
  ignite/templates/typed/gogoproto.go
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/list/list.go
  ignite/templates/typed/map/map.go
  ignite/templates/typed/singleton/singleton.go
Labels: Skip-Changelog

#3269 docs: added Neutron logo to the "Projects using Ignite" section
  docs/docs/index.md
  docs/static/img/logo/neutron.svg
Labels: Skip-Changelog

#3270 chore: IGNT_DEBUG enables cmdrunner debug
  ignite/pkg/cmdrunner/cmdrunner.go
Labels: Skip-Changelog

#3272 docs: add `ignite chain debug` documentation and tutorial
  docs/docs/kb/13-debug.md
Labels: docs, Skip-Changelog

#3284 chore: update `go version`
  go.mod
  ignite/services/plugin/template/go.mod.plush
  ignite/templates/app/files/go.mod.plush
Labels: Skip-Changelog

#3287 fix: removed file by mistake
  ignite/templates/app/files/tools/tools.go.plush
Labels: Skip-Changelog

#3294 fix: return error for not found in `ignite plugin remove`
  ignite/cmd/plugin.go
Labels: Skip-Changelog

#3300 chore: remove color from name styles
  ignite/pkg/cliui/colors/colors.go
Labels: bug, design & ux, Skip-Changelog

#3271 fix: test and test script
  ignite/cmd/ignite/main.go
  ignite/cmd/model/chain_debug.go
  ignite/cmd/plugin.go
  ignite/cmd/plugin_test.go
  ignite/config/plugins/parse_test.go
  ignite/config/plugins/testdata/noconfig/somefile
  ignite/services/chain/chain.go
  ignite/services/plugin/plugin.go
  scripts/test-coverage
Labels: Skip-Changelog

#3280 fix: changelog links
  docs/docs/guide/01-install.md
  docs/versioned_docs/version-v0.25.2/guide/01-install.md
Labels: docs, Skip-Changelog

#3302 chore: add users to docs `CODEOWNERS`
  .github/CODEOWNERS
Labels: Skip-Changelog

#3299 docs: update the IBC Hello, World! tutorial to v0.26
  docs/docs/guide/07-ibc.md
Labels: Skip-Changelog

#3293 fix: `RemoveDuplicates()` prioritize local plugins
  ignite/cmd/plugin.go
  ignite/config/plugins/config.go
  ignite/config/plugins/config_test.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
Labels: Skip-Changelog

#3303 chore: fix more markdown links
  .github/ISSUE_TEMPLATE/release-tracker.md
Labels: Skip-Changelog

#3307 fix: updates the specified "action" version to branch main
  actions/cli/readme.md
  ignite/templates/app/files/.github/workflows/release.yml
Labels: Skip-Changelog

#3309 docs: fix build
  docs/docs/guide/07-ibc.md
Labels: Skip-Changelog

#3308 docs: added a welcome page to Migration and fixed readme links
  docs/docs/migration/_category_.json
  docs/docs/migration/readme.md
  docs/docs/migration/v0.18.md
  docs/docs/migration/v0.19.2.md
  docs/docs/migration/v0.20.0.md
  docs/docs/migration/v0.22.0.md
  docs/docs/migration/v0.24.0.md
  docs/docs/migration/v0.25.0.md
  docs/docs/migration/v0.25.1.md
  readme.md
Labels: Skip-Changelog

#3310 docs: rewrite the Go client tutorial
  docs/docs/clients/01-typescript.md
  docs/docs/clients/02-go-client.md
  docs/docs/guide/04-blog/02-connect-blockchain.md
Labels: Skip-Changelog

#3319 chore: update gitpod to use `main` branch
  .gitpod.Dockerfile
  readme.md
Labels: Skip-Changelog

#3234 docs: blog tutorial rewrite
  docs/docs/guide/04-blog/00-build-blog.md
Labels: Skip-Changelog

#3325 chore(simulation): fix wrong comment for simulation template file
  ignite/templates/app/files/app/simulation_test.go.plush
Labels: Skip-Changelog

#3324 docs: update gitpod url
  .github/ISSUE_TEMPLATE/release-tracker.md
  readme.md
Labels: Skip-Changelog

#3283 docs: update the Interchange tutorial
  docs/docs/guide/09-interchange/02-init.md
  docs/docs/guide/09-interchange/03-walkthrough.md
  docs/docs/guide/09-interchange/06-creating-sell-orders.md
  docs/docs/guide/09-interchange/07-creating-buy-orders.md
Labels: Skip-Changelog

#3201 refactor(cmd): handling of local, nightly, and spn*Address flags
  ignite/cmd/network.go
  ignite/cmd/network_reward_release.go
Labels: Skip-Changelog

#3329 docs: rename top-level categories
  docs/docs/clients/_category_.json
  docs/docs/guide/_category_.json
  docs/docs/kb/_category_.json
  docs/docs/migration/_category_.json
  docs/docs/network/_category_.json
Labels: Skip-Changelog

#3295 docs: `v0.26.0` migration
  docs/docs/migration/v0.24.0.md
  docs/docs/migration/v0.25.1.md
  docs/docs/migration/v0.26.0.md
Labels: Skip-Changelog

#3328 docs: clean up contributing section
  docs/docs/09-bounty.md
  docs/docs/contributing/01-contributing.md
  docs/docs/contributing/01-plugins.md
  docs/docs/contributing/02-docs.md
  docs/docs/contributing/02-technical-setup.md
  docs/docs/contributing/_category_.json
  docs/docs/contributing/templates/01-concept_template.md
  docs/docs/contributing/templates/02-tutorial-template.md
  docs/docs/contributing/templates/_category_.json
  docs/docs/contributing/templates/readme.md
  docs/docs/index.md
Labels: Skip-Changelog

#3322 fix: backport `docs/migration` to old versioned docs
  docs/versioned_docs/version-v0.25.2/migration/readme.md
  docs/versioned_docs/version-v0.25.2/migration/v0.18.md
  docs/versioned_docs/version-v0.25.2/migration/v0.19.2.md
  docs/versioned_docs/version-v0.25.2/migration/v0.20.0.md
  docs/versioned_docs/version-v0.25.2/migration/v0.22.0.md
  docs/versioned_docs/version-v0.25.2/migration/v0.24.0.md
  docs/versioned_docs/version-v0.25.2/migration/v0.25.0.md
Labels: bug, docs, Skip-Changelog

#3340 docs: install guide udpate to Go 1.19
  docs/docs/guide/01-install.md
Labels: Skip-Changelog

#3342 chore: update minor dependencies
  go.mod
  go.sum
  ignite/cmd/chain_debug.go
  ignite/cmd/chain_serve.go
  ignite/pkg/cosmosclient/mocks/account_retriever.go
  ignite/pkg/cosmosclient/mocks/bank_query_client.go
  ignite/pkg/cosmosclient/mocks/faucet_client.go
  ignite/pkg/cosmosclient/mocks/gasometer.go
  ignite/pkg/cosmosclient/mocks/rpc_client.go
  ignite/pkg/cosmosclient/mocks/signer.go
  ignite/pkg/cosmostxcollector/mocks/saver.go
  ignite/pkg/cosmostxcollector/mocks/txs_collecter.go
  ignite/pkg/markdownviewer/markdownviewer.go
  ignite/services/network/mocks/account_info.go
  ignite/services/network/mocks/bank_client.go
  ignite/services/network/mocks/campaign_client.go
  ignite/services/network/mocks/chain.go
  ignite/services/network/mocks/cosmos_client.go
  ignite/services/network/mocks/launch_client.go
  ignite/services/network/mocks/profile_client.go
  ignite/services/network/mocks/reward_client.go
  ignite/services/network/mocks/staking_client.go
  ignite/services/plugin/mocks/interface.go
Labels: Skip-Changelog

#3333 fix: markdown links
  .github/workflows/md-link-checker.yml
  contributing.md
Labels: bug, docs, Skip-Changelog

#3332 fix: embed all proto files
  ignite/pkg/protoc/data/data.go
  ignite/pkg/protoc/data/include/gogoproto/gogo.proto
  ignite/pkg/protoc/data/include/google/api/annotations.proto
  ignite/pkg/protoc/data/include/google/api/http.proto
  ignite/pkg/protoc/data/include/google/api/httpbody.proto
Labels: Skip-Changelog

#3334 chore: delete docs/package-lock.json
  docs/package-lock.json
Labels: docs, Skip-Changelog
