Repository ignite/cli, pull requests merged in 2022-05, with the labels that each got.

#2401 feat(cmd/network): implement `client create` cmd
  ignite/cmd/network.go
  ignite/cmd/network_client.go
  ignite/cmd/network_client_create.go
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/services/network/client.go
  ignite/services/network/mocks/account_info.go
  ignite/services/network/mocks/campaign_client.go
  ignite/services/network/mocks/chain.go
  ignite/services/network/mocks/cosmos_client.go
  ignite/services/network/mocks/launch_client.go
  ignite/services/network/mocks/profile_client.go
  ignite/services/network/mocks/reward_client.go
  ignite/services/network/mocks/staking_client.go
  ignite/services/network/network.go
  ignite/services/network/networktypes/chainlaunch.go
  ignite/services/network/node.go
Labels: network

#2480 fix: format proto package names to be valid
  ignite/templates/module/module.go
  ignite/templates/module/module_test.go
Labels: bug

#2484 fix: shell completion generation when new version is available
  ignite/cmd/cmd.go
  ignite/cmd/ignite/main.go
  ignite/internal/tools/gen-cli-docs/main.go
Labels: bug

#2501 fix(cmd/publish): interpret '--shares'
  ignite/cmd/network_chain_publish.go
  ignite/pkg/cosmosutil/coins.go
  ignite/services/network/publish.go
  ignite/services/network/publish_test.go
Labels: network

#2474 feat(network): add spn consensus parameters into the chain genesis
  go.mod
  go.sum
  ignite/cmd/network_chain_prepare.go
  ignite/cmd/network_chain_show_genesis.go
  ignite/cmd/network_client_create.go
  ignite/cmd/network_request_verify.go
  ignite/pkg/cosmosutil/genesis.go
  ignite/pkg/cosmosutil/genesis_test.go
  ignite/services/network/client.go
  ignite/services/network/network.go
  ignite/services/network/network_test.go
  ignite/services/network/networkchain/prepare.go
  ignite/services/network/networkchain/simulate.go
  ignite/services/network/networktypes/ibc.go
  ignite/services/network/networktypes/networktypes.go
  ignite/services/network/node.go
  ignite/services/network/queries.go
  ignite/services/network/testutil/suite.go
Labels: network

#2520 docs: GitHub PR and issue template updates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/starport-bug-report.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: docs

#2525 fix(cosmosgen): unset `NODE_OPTIONS` to avoid configuration conflicts
  ignite/pkg/cosmosgen/generate_javascript.go
  ignite/pkg/protoc/protoc.go
Labels: bug

#2543 fix(network/request): fix request simulation
  ignite/cmd/network_request_verify.go
  ignite/services/network/networkchain/simulate.go
Labels: network

#2540 chore: change frontend docs to run it using `npm run dev`
  docs/kb/frontend.md
Labels: docs
