Repository ignite/cli, pull requests merged in 2022-03, with the labels that each got.

#2125 feat(network): ask token from faucet if have no enough funds
  starport/pkg/cosmosclient/cosmosclient.go
Labels: enhancement, network

#2135 docs: remove homebrew from install
  docs/guide/install.md
Labels: documentation

#2134 docs: scavenge tuto improve language and apply styles
  docs/guide/scavenge/02-game.md
  docs/guide/scavenge/03-scaffolding.md
  docs/guide/scavenge/04-messages.md
  docs/guide/scavenge/05-types.md
  docs/guide/scavenge/06-handlers.md
  docs/guide/scavenge/07-keeper.md
  docs/guide/scavenge/08-cli.md
  docs/guide/scavenge/09-play.md
  docs/guide/scavenge/index.md
Labels: documentation

#2140 docs: code_of_conduct.md lower case name and simple edits for link style
  code_of_conduct.md
Labels: documentation

#2109 feat: print start command
  starport/cmd/network_chain_init.go
  starport/cmd/network_chain_publish.go
  starport/services/network/networkchain/init.go
  starport/services/network/networkchain/prepare.go
Labels: network

#2099 feat(network): campaign update
  starport/cmd/network_campaign.go
  starport/cmd/network_campaign_update.go
  starport/cmd/network_chain_init.go
  starport/cmd/network_chain_publish.go
  starport/services/network/campaign.go
  starport/services/network/network.go
  starport/services/network/networkchain/prepare.go
  starport/services/network/networktypes/campaign.go
  starport/services/network/publish.go
Labels: network

#2086 feat(cmd/network): add `network reward set` command
  go.mod
  go.sum
  starport/cmd/network.go
  starport/cmd/network_chain_publish.go
  starport/cmd/network_reward.go
  starport/cmd/network_reward_set.go
  starport/pkg/events/events.go
  starport/services/network/reward.go
Labels: network

#2088 feat(cmd/network): show additional info in network chain `show info` and `list` commands
  go.mod
  go.sum
  starport/cmd/network_chain_list.go
  starport/cmd/network_chain_show.go
  starport/services/network/networktypes/chainlaunch.go
  starport/services/network/networktypes/chainlaunch_test.go
  starport/services/network/queries.go
Labels: network

#2189 fix: binary caching
  starport/services/network/networkchain/binarycache.go
Labels: network

#2012 docs: KB article BandChain oracle doc edits for clarity
  docs/kb/band.md
Labels: documentation

#2166 fix(network/publish): fix the default chain id pattern for create a chain
  starport/cmd/network_chain_init.go
  starport/cmd/network_chain_publish.go
  starport/pkg/cosmosanalysis/module/module_test.go
  starport/pkg/cosmosanalysis/module/testdata/planet/app/app.go
  starport/pkg/cosmosutil/genesis.go
  starport/pkg/cosmosutil/genesis_test.go
  starport/pkg/cosmosutil/testdata/genesis_invalid.json
  starport/services/chain/chain.go
  starport/services/network/network.go
  starport/services/network/networkchain/networkchain.go
  starport/services/network/publish.go
Labels: network

#2215 fix(network): fix request simulation when custom genesis used
  starport/cmd/network_chain_init.go
  starport/cmd/network_chain_join.go
  starport/services/network/networkchain/init.go
  starport/services/network/networkchain/prepare.go
Labels: network

#2231 chore(cmd/network): use --nightly by default
  starport/cmd/network.go
Labels: network

#2206 docs(technical-setup.md): fix Ignite company name in docs/contributing
  docs/contributing/technical-setup.md
Labels: documentation

#2232 feat(cmd/netwokrk): add 'install' command
  starport/cmd/network_chain.go
  starport/cmd/network_chain_install.go
  starport/services/network/networkchain/init.go
  starport/services/network/networkchain/networkchain.go
  starport/services/network/networkchain/prepare.go
Labels: network
