Repository ignite/cli, pull requests merged in 2022-11, with the labels that each got.

#2949 docs: `cosmoscmd` migration
  docs/docs/guide/07-ibc.md
  docs/docs/migration/v0.18.md
  docs/docs/migration/v0.19.2.md
  docs/docs/migration/v0.20.0.md
  docs/docs/migration/v0.22.0.md
  docs/docs/migration/v0.24.0.md
  docs/docs/migration/v0.25.0.md
  docs/docs/migration/v0.25.1.md
  docs/docusaurus.config.js
  docs/src/css/custom.css
Labels: docs, Skip-Changelog

#3044 docs: remove repeated line
  docs/docs/migration/v0.25.0.md
Labels: Skip-Changelog

#3033 refactor: remove legacy launchpad code
  changelog.md
  ignite/errors/errors.go
  ignite/pkg/chaincmd/chaincmd.go
  ignite/pkg/chaincmd/launchpad.go
  ignite/pkg/chaincmd/runner/chain.go
  ignite/pkg/cosmosver/cosmosver.go
  ignite/services/chain/chain.go
  ignite/services/chain/plugin-stargate.go
  ignite/services/network/networkchain/networkchain.go
  ignite/services/scaffolder/scaffolder.go
Labels: enhancement

#3048 refactor: wrap error while using `fmt.Errorf()`
  3029_wrap_errors
  ignite/pkg/cosmosanalysis/app/testdata/modules/gaia/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/osmosis/app.go
  ignite/pkg/cosmosutil/gentx.go
  ignite/services/chain/faucet.go
  ignite/services/network/networktypes/request.go
  ignite/services/scaffolder/component.go
  ignite/services/scaffolder/module.go
  ignite/templates/app/stargate/app/app.go.plush
  ignite/templates/field/parse.go
Labels: refactoring, Skip-Changelog

#3052 feat: improve config error handling
  changelog.md
  ignite/chainconfig/errors.go
  ignite/cmd/ignite/main.go
  ignite/cmd/network_chain_publish.go
  ignite/pkg/xstrings/xstrings.go
  ignite/version/version.go
Labels: enhancement, network

#3057 docs: add BroadcastTx method
  docs/docs/guide/03-blog/02-connect-blockchain.md
Labels: docs, Skip-Changelog

#3047 feat: remove colon syntax from module scaffolding `--dep` flag
  changelog.md
  ignite/cmd/scaffold_module.go
  ignite/services/scaffolder/module.go
  ignite/templates/field/plushhelpers/plushhelpers.go
  ignite/templates/module/create/options.go
  ignite/templates/module/create/stargate.go
  ignite/templates/module/create/stargate/x/{{moduleName}}/keeper/keeper.go.plush
  ignite/templates/module/create/stargate/x/{{moduleName}}/types/expected_keepers.go.plush
Labels: priority/low

#3061 chore: Bump GH action versions in workflows
  .github/workflows/docs-deploy-preview.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/gen-binaries.yml
  .github/workflows/gen-docs-cli.yml
  .github/workflows/go-formatting.yml
  .github/workflows/release-binary.yml
  .github/workflows/release-cosmoverse.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-nightly.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
Labels: Skip-Changelog

#3064 fix: fix broken docker release workflow
  .github/workflows/release-docker.yml
Labels: Skip-Changelog

#3056 feat: ignite chain genesis config option 2.0
  changelog.md
  go.mod
  go.sum
  ignite/chainconfig/networkconfig/testdata/config.yaml
  ignite/chainconfig/networkconfig/testdata/testdata.go
  ignite/chainconfig/parser.go
  ignite/chainconfig/parser_test.go
  ignite/chainconfig/testdata/testdata.go
  ignite/cmd/network_chain_publish.go
  ignite/services/chain/init.go
  ignite/services/network/networkchain/init.go
  ignite/services/network/networkchain/networkchain.go
  ignite/services/network/networktypes/chainlaunch.go
  ignite/services/network/publish.go
  ignite/services/network/publish_test.go
  ignite/services/network/testutil/chain.go
  integration/network/network_test.go
Labels: network

#3038 feat: plugin system hooks updated
  changelog.md
  ignite/cmd/plugin.go
  ignite/cmd/plugin_test.go
  ignite/services/plugin/interface.go
  ignite/services/plugin/template/go.mod.plush
  ignite/services/plugin/template/main.go.plush
Labels: enhancement

#3085 docs: fix formatting to get code blocks rendered
  ignite/cmd/chain_build.go
  ignite/cmd/chain_init.go
  ignite/cmd/chain_serve.go
  ignite/cmd/network.go
  ignite/cmd/network_chain_init.go
  ignite/cmd/network_chain_join.go
  ignite/cmd/network_request_approve.go
  ignite/cmd/scaffold_chain.go
  ignite/cmd/scaffold_list.go
  ignite/cmd/scaffold_map.go
  ignite/cmd/scaffold_message.go
  ignite/cmd/scaffold_module.go
Labels: docs, Skip-Changelog

#3075 refactor: remove "Stargate" in tests
  integration/app/cmd_app_test.go
  integration/chain/cache_test.go
  integration/chain/cmd_serve_test.go
  integration/list/cmd_list_test.go
  integration/map/cmd_map_test.go
  integration/node/cmd_query_bank_test.go
  integration/node/cmd_query_tx_test.go
  integration/node/cmd_tx_bank_send_test.go
  integration/single/cmd_singleton_test.go
Labels: testing, refactoring, Skip-Changelog

#3093 chore: update `ibc-go`
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
Labels: Skip-Changelog

#2948 docs: network chain publish
  ignite/cmd/network_chain_publish.go
Labels: Skip-Changelog

#3086 docs: update the hello tutorial
  docs/docs/guide/02-hello.md
Labels: Skip-Changelog

#3103 chore: remaining `stargate` removal
  ignite/pkg/chaincmd/runner/runner.go
  ignite/pkg/cosmoscmd/root.go
  ignite/pkg/cosmosutil/gentx.go
  ignite/pkg/tendermintrpc/rpc.go
  ignite/services/network/networktypes/request.go
Labels: Skip-Changelog

#3095 refactor: `cmd` cleanup
  ignite/cmd/account_list.go
  ignite/cmd/chain_build.go
  ignite/cmd/chain_faucet.go
  ignite/cmd/chain_init.go
  ignite/cmd/docs.go
  ignite/cmd/generate_composables.go
  ignite/cmd/generate_go.go
  ignite/cmd/generate_hooks.go
  ignite/cmd/generate_openapi.go
  ignite/cmd/generate_typescript_client.go
  ignite/cmd/generate_vuex.go
  ignite/cmd/network_campaign_publish.go
  ignite/cmd/node_query_bank_balances.go
  ignite/cmd/node_tx_bank_send.go
  ignite/cmd/scaffold_react.go
Labels: Skip-Changelog

#3112 refactor(`network`): remove unused `NoCheck` for publish
  ignite/cmd/network_chain_publish.go
  ignite/services/network/publish.go
Labels: network, Skip-Changelog

#3110 docs(`network`): add a page for other launch coordination command
  docs/docs/network/03-coordinator.md
  docs/docs/network/04-validator.md
  docs/docs/network/05-coordination.md
Labels: Skip-Changelog

#3133 fix: `plugin` tests
  ignite/services/plugin/template/go.mod.plush
Labels: bug, Skip-Changelog

#3113 feat(`network`): use `AccountBalance` for the default self-delegation during `init`
  ignite/cmd/network_chain_init.go
Labels: Skip-Changelog

#3130 docs: network chain prepare
  ignite/cmd/network_chain_prepare.go
Labels: Skip-Changelog

#3096 docs: network chain launch
  ignite/cmd/network_chain_launch.go
Labels: Skip-Changelog

#3097 docs: network chain
  ignite/cmd/network_chain.go
Labels: Skip-Changelog

#3135 docs: network request
  ignite/cmd/network_request.go
Labels: Skip-Changelog

#3140 docs: lowercase flag help text
  ignite/cmd/account.go
  ignite/cmd/chain_faucet.go
  ignite/cmd/chain_serve.go
  ignite/cmd/cmd.go
  ignite/cmd/generate_typescript_client.go
  ignite/cmd/network.go
  ignite/cmd/network_campaign_update.go
  ignite/cmd/network_chain_init.go
  ignite/cmd/network_chain_join.go
  ignite/cmd/network_chain_launch.go
  ignite/cmd/network_chain_list.go
  ignite/cmd/network_chain_prepare.go
  ignite/cmd/network_chain_publish.go
  ignite/cmd/network_chain_show_genesis.go
  ignite/cmd/network_chain_show_peers.go
  ignite/cmd/network_reward_release.go
  ignite/cmd/node_tx.go
  ignite/cmd/relayer_configure.go
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_band.go
  ignite/cmd/scaffold_chain.go
  ignite/cmd/scaffold_message.go
  ignite/cmd/scaffold_package.go
  ignite/cmd/scaffold_query.go
Labels: Skip-Changelog

#3143 docs: update chain init and build docs
  ignite/cmd/chain_build.go
  ignite/cmd/chain_init.go
Labels: Skip-Changelog

#3138 docs: update the blog tutorial
  docs/docs/guide/03-blog/00-build-blog.md
Labels: Skip-Changelog

#3006 chore: update `genny` package
  go.mod
  go.sum
  ignite/pkg/xgenny/run.go
  ignite/pkg/xgenny/xgenny.go
  ignite/pkg/xgenny/xgenny_test.go
  ignite/services/plugin/scaffold.go
  ignite/services/scaffolder/init.go
  ignite/services/scaffolder/message.go
  ignite/services/scaffolder/module.go
  ignite/services/scaffolder/oracle.go
  ignite/services/scaffolder/packet.go
  ignite/services/scaffolder/patch.go
  ignite/services/scaffolder/query.go
  ignite/services/scaffolder/type.go
  ignite/templates/app/app.go
  ignite/templates/ibc/oracle.go
  ignite/templates/ibc/packet.go
  ignite/templates/message/message.go
  ignite/templates/module/create/base.go
  ignite/templates/module/create/genesistest.go
  ignite/templates/module/create/ibc.go
  ignite/templates/module/create/msgserver.go
  ignite/templates/module/create/simulation.go
  ignite/templates/module/import/import.go
  ignite/templates/query/query.go
  ignite/templates/testutil/register.go
  ignite/templates/typed/dry/dry.go
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/list/list.go
  ignite/templates/typed/list/simulation.go
  ignite/templates/typed/map/map.go
  ignite/templates/typed/map/simulation.go
  ignite/templates/typed/singleton/simulation.go
  ignite/templates/typed/singleton/singleton.go
  ignite/templates/typed/typed.go
Labels: Skip-Changelog

#3149 fix: change config upgrade to avoid an empty config file on error
  changelog.md
  ignite/chainconfig/parser.go
  ignite/cmd/chain.go
Labels: bug

#3153 docs: network request reject
  ignite/cmd/network_request_reject.go
Labels: Skip-Changelog

#3150 docs: update Gitpod's readme
  .gitpod/readme.md
Labels: Skip-Changelog

#3151 docs: network request add-account
  ignite/cmd/network_request_add_account.go
Labels: Skip-Changelog

#3154 docs: network request verify
  ignite/cmd/network_request_list.go
  ignite/cmd/network_request_remove_account.go
  ignite/cmd/network_request_remove_validator.go
  ignite/cmd/network_request_show.go
  ignite/cmd/network_request_verify.go
Labels: Skip-Changelog

#3155 docs: network chain publish, added chain id and account balance
  ignite/cmd/network_chain_publish.go
Labels: Skip-Changelog

#3101 chore: add dependabot, updates dependencies
  .github/dependabot.yml
  .github/workflows/docs-deploy-preview.yml
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
  go.mod
  go.sum
Labels: Skip-Changelog

#3163 chore: update `CODEOWNERS`
  .github/CODEOWNERS
Labels: Skip-Changelog

#3162 fix: docs-deploy-preview
  .github/workflows/docs-deploy-preview.yml
Labels: Skip-Changelog

#3161 chore(docker): upgrade go to 1.19
  Dockerfile
Labels: Skip-Changelog

#3159 docs: update the Nameservice tutorial to v0.25.2
  docs/docs/guide/04-nameservice/00-tutorial.md
  docs/docs/guide/04-nameservice/01-init.md
  docs/docs/guide/04-nameservice/02-messages.md
  docs/docs/guide/04-nameservice/03-types.md
  docs/docs/guide/04-nameservice/04-keeper.md
  docs/docs/guide/04-nameservice/05-play.md
Labels: Skip-Changelog

#3169 refactor: rename command `param-change` into `change-param`
  ignite/cmd/network_request.go
  ignite/cmd/network_request_change_param.go
Labels: network, Skip-Changelog

#3176 fix: plugin list panic if plugin load failed
  ignite/cmd/plugin.go
Labels: Skip-Changelog

#3177 chore: upgrade `spn`
  go.mod
  go.sum
Labels: Skip-Changelog

#3173 docs: remove Emeris and Ventures from the footer
  docs/docusaurus.config.js
  docs/yarn.lock
Labels: Skip-Changelog

#3172 docs: update descriptions and flags
  ignite/cmd/account.go
  ignite/cmd/chain.go
  ignite/cmd/chain_serve.go
  ignite/cmd/cmd.go
  ignite/cmd/generate.go
  ignite/cmd/generate_composables.go
  ignite/cmd/generate_go.go
  ignite/cmd/generate_hooks.go
  ignite/cmd/generate_openapi.go
  ignite/cmd/generate_typescript_client.go
  ignite/cmd/generate_vuex.go
  ignite/cmd/network.go
  ignite/cmd/network_chain.go
  ignite/cmd/network_chain_revert_launch.go
  ignite/cmd/network_coordinator.go
  ignite/cmd/network_validator.go
  ignite/cmd/node.go
  ignite/cmd/relayer.go
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_chain.go
  ignite/cmd/scaffold_module.go
  ignite/cmd/scaffold_query.go
  ignite/cmd/scaffold_react.go
  ignite/cmd/scaffold_type.go
  ignite/cmd/scaffold_vue.go
  ignite/cmd/tools.go
Labels: Skip-Changelog

#3180 docs: update `readme.md`
  readme.md
Labels: Skip-Changelog

#3185 fix: incorrect error message in `docs`
  docs/docs/guide/03-blog/01-comment-blog.md
Labels: Skip-Changelog

#3189 refactor(`cliui`): terminal colors
  go.mod
  go.sum
  ignite/pkg/cliui/cliui.go
  ignite/pkg/cliui/colors/colors.go
  ignite/pkg/cliui/icons/icon.go
  ignite/pkg/cliui/log/output.go
  ignite/pkg/cliui/prefixgen/prefixgen.go
  ignite/services/chain/chain.go
Labels: Skip-Changelog

#3182 refactor: ignite `config`
  ignite/chainconfig/testdata/testdata.go
  ignite/cmd/chain.go
  ignite/cmd/cmd.go
  ignite/cmd/ignite/main.go
  ignite/cmd/plugin_test.go
  ignite/cmd/scaffold_react.go
  ignite/cmd/scaffold_vue.go
  ignite/config/chain/base/config.go
  ignite/config/chain/chain.go
  ignite/config/chain/network/testdata/config.yaml
  ignite/config/chain/network/testdata/testdata.go
  ignite/config/chain/v0/config.go
  ignite/config/chain/v0/config_convert.go
  ignite/config/chain/v0/config_convert_test.go
  ignite/config/chain/v0/config_test.go
  ignite/config/chain/v0/testdata/config.yaml
  ignite/config/chain/v0/testdata/testdata.go
  ignite/config/chain/v1/config.go
  ignite/config/chain/v1/config_convert.go
  ignite/config/chain/v1/config_test.go
  ignite/config/chain/v1/testdata/config.yaml
  ignite/config/chain/v1/testdata/config2.yaml
  ignite/config/chain/v1/testdata/testdata.go
  ignite/config/chain/v1/validator.go
  ignite/config/chain/v1/validator_servers.go
  ignite/config/chain/v1/validator_servers_test.go
  ignite/config/chainconfig.go
  ignite/config/chainconfig_test.go
  ignite/config/convert.go
  ignite/config/convert_test.go
  ignite/config/errors.go
  ignite/config/parse.go
  ignite/config/parse_test.go
  ignite/config/pluginsconfig.go
  ignite/config/testdata/testdata.go
  ignite/pkg/cosmosgen/generate_vuex.go
  ignite/services/chain/chain.go
  ignite/services/chain/generate.go
  ignite/services/chain/init.go
  ignite/services/chain/runtime.go
  ignite/services/chain/serve.go
  ignite/services/network/networkchain/binarycache.go
  ignite/services/network/networkchain/init.go
  ignite/services/network/networkchain/networkchain.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
  ignite/services/scaffolder/scaffolder.go
  ignite/version/version.go
  integration/app.go
  integration/chain/config_test.go
  integration/client.go
  integration/cosmosgen/bank_module_test.go
  integration/cosmosgen/custom_module_test.go
  integration/network/network_test.go
  integration/node/cmd_query_bank_test.go
  integration/node/cmd_tx_bank_send_test.go
Labels: refactoring, Skip-Changelog

#3186 feat: enable plugin trace by env
  ignite/pkg/env/env.go
  ignite/services/plugin/plugin.go
Labels: Skip-Changelog

#3174 docs: move content from `kb/*` pages to inline CLI docs
  docs/docs/kb/01-scaffold-chain.md
  docs/docs/kb/02-serve.md
  docs/docs/kb/04-genesis.md
  docs/docs/kb/05-types.md
  docs/docs/kb/06-proto.md
  docs/docs/kb/11-params.md
  firebase.json
  ignite/cmd/scaffold_list.go
Labels: Skip-Changelog

#3167 docs: update the Scavenge tutorial
  docs/docs/guide/05-scavenge/01-hunt.md
  docs/docs/guide/05-scavenge/02-game.md
  docs/docs/guide/05-scavenge/03-scaffolding.md
  docs/docs/guide/05-scavenge/04-messages.md
  docs/docs/guide/05-scavenge/05-types.md
  docs/docs/guide/05-scavenge/06-handlers.md
  docs/docs/guide/05-scavenge/07-keeper.md
  docs/docs/guide/05-scavenge/08-cli.md
  docs/docs/guide/05-scavenge/09-play.md
Labels: Skip-Changelog

#3197 fix(ci): docs deploy live on gh-runners
  .github/workflows/docs-deploy.yml
Labels: Skip-Changelog

#3196 refactor(`network`): update alpha testnet endpoints
  ignite/cmd/network.go
Labels: Skip-Changelog

#3188 test(`xgit`): `InitAndCommit` and `AreChangesCommitted`
  ignite/pkg/xgit/xgit.go
  ignite/pkg/xgit/xgit_test.go
Labels: Skip-Changelog

#3200 fix(ci): docs deploy
  .github/workflows/docs-deploy.yml
Labels: Skip-Changelog

#3191 fix: change prompt text to fit within 80 characters width
  changelog.md
  ignite/cmd/chain.go
  ignite/cmd/scaffold.go
Labels: enhancement

#3190 fix: remove redundant `keyring-backend` option
  changelog.md
  ignite/config/chain/base/config.go
  ignite/config/chain/v0/config_convert.go
  ignite/config/chain/v0/config_convert_test.go
  ignite/config/chain/v0/testdata/config.yaml
  ignite/config/chain/v1/testdata/config.yaml
  ignite/config/chain/v1/validator.go
  ignite/services/chain/chain.go
  integration/node/cmd_query_bank_test.go
  integration/node/cmd_tx_bank_send_test.go
Labels: config

#3184 feat: separate `plugins.yml` file
  changelog.md
  ignite/cmd/cmd.go
  ignite/cmd/plugin.go
  ignite/cmd/plugin_test.go
  ignite/config/chain/v1/config.go
  ignite/config/chain/v1/config_test.go
  ignite/config/plugins/config.go
  ignite/config/plugins/config_test.go
  ignite/config/plugins/errors.go
  ignite/config/plugins/parse.go
  ignite/config/plugins/parse_test.go
  ignite/config/plugins/testdata/plugins.yml
  ignite/config/plugins/testdata/testdata.go
  ignite/config/pluginsconfig.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
Labels: config
