Repository ignite/cli, pull requests merged in 2022-09, with the labels that each got.

#2786 docs: inline docs for the `scaffold list` command
  ignite/cmd/scaffold_list.go
Labels: Skip-Changelog

#2777 docs: added a note to distinguish between chain accounts and Ignite accounts
  ignite/cmd/account.go
Labels: Skip-Changelog

#2790 docs: inline docs for `scaffold map`
  ignite/cmd/scaffold_map.go
Labels: Skip-Changelog

#2798 fix(template): remove a placeholder in `module.go`
  docs/docs/guide/02-hello.md
  ignite/templates/module/create/stargate/x/{{moduleName}}/module.go.plush
  ignite/templates/typed/list/stargate.go
  ignite/templates/typed/map/stargate.go
  ignite/templates/typed/singleton/stargate.go
Labels: Skip-Changelog

#2810 docs: inline docs for `scaffold messsage`
  ignite/cmd/scaffold_message.go
Labels: Skip-Changelog

#2789 test: cosmosclient (part1)
  changelog.md
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/pkg/cosmosclient/cosmosclient_test.go
  ignite/pkg/cosmosclient/mocks/rpclient.go
  integration/node/cmd_query_bank_test.go
  integration/node/cmd_query_tx_test.go
  integration/node/cmd_tx_bank_send_test.go
Labels: testing

#2815 fix(template): use slashes for key separators
  docs/docs/guide/03-blog/00-build-blog.md
  docs/docs/guide/03-blog/01-comment-blog.md
  ignite/templates/typed/list/stargate.go
  ignite/templates/typed/singleton/stargate.go
Labels: Skip-Changelog

#2791 test: cosmosclient (part2)
  ignite/pkg/cosmosclient/bank.go
  ignite/pkg/cosmosclient/bank_test.go
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/pkg/cosmosclient/cosmosclient_test.go
  ignite/pkg/cosmosclient/gasometer.go
  ignite/pkg/cosmosclient/mocks/account_retriever.go
  ignite/pkg/cosmosclient/mocks/bank_query_client.go
  ignite/pkg/cosmosclient/mocks/faucet_client.go
  ignite/pkg/cosmosclient/mocks/gasometer.go
Labels: testing, Skip-Changelog

#2819 docs(guide/hello): revert grpc registration removal
  docs/docs/guide/02-hello.md
Labels: Skip-Changelog

#2813 feat: improve node tx cmd
  ignite/cmd/account.go
  ignite/cmd/node.go
  ignite/cmd/node_query_tx.go
  ignite/cmd/node_tx_bank_send.go
  ignite/pkg/cosmosclient/bank.go
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/pkg/cosmosclient/cosmosclient_test.go
  ignite/pkg/cosmosclient/rpc.go
Labels: Skip-Changelog

#2800 docs: update compatibility table
  readme.md
Labels: priority/high, Skip-Changelog

#2833 test: TxService.Broadcast()
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/pkg/cosmosclient/cosmosclient_test.go
  ignite/pkg/cosmosclient/gasometer.go
  ignite/pkg/cosmosclient/mocks/signer.go
  ignite/pkg/cosmosclient/signer.go
  ignite/pkg/cosmosclient/txservice.go
  ignite/pkg/cosmosclient/txservice_test.go
Labels: Skip-Changelog

#2835 docs: fix missing err check
  docs/docs/guide/02-hello.md
  docs/docs/guide/03-blog/00-build-blog.md
  docs/docs/guide/03-blog/01-comment-blog.md
  docs/docs/guide/03-blog/02-connect-blockchain.md
  docs/docs/guide/04-nameservice/02-messages.md
  docs/docs/guide/04-nameservice/04-keeper.md
  docs/docs/guide/05-scavenge/04-messages.md
  docs/docs/guide/05-scavenge/07-keeper.md
  docs/docs/guide/05-scavenge/08-cli.md
  docs/docs/guide/07-ibc.md
  docs/docs/guide/08-interchange/04-creating-order-books.md
  docs/docs/guide/08-interchange/05-mint-and-burn-voucher.md
  docs/docs/guide/08-interchange/07-creating-buy-orders.md
  docs/docs/guide/08-interchange/09-tests.md
Labels: Skip-Changelog

#2847 chore: tooling updates
  .github/workflows/gen-docs-cli.yml
  .github/workflows/go-formatting.yml
  .github/workflows/release-binary.yml
  .github/workflows/release-nightly.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
  .golangci.yml
  Makefile
  go.mod
  go.sum
  ignite/internal/tools/tools.go
  ignite/services/network/join_test.go
Labels: Skip-Changelog

#2831 fix: change vuex generation to use a default TS client path
  changelog.md
  ignite/chainconfig/config.go
  ignite/cmd/generate_typescript_client.go
  ignite/pkg/cosmosgen/generate_vuex.go
  ignite/services/chain/generate.go
  ignite/services/scaffolder/scaffolder.go
Labels: bug, report

#2851 refactor(`network`): upgrade `spn`
  go.mod
  go.sum
  ignite/services/network/launch_test.go
  ignite/services/network/networktypes/genesisinformation.go
  ignite/services/network/networktypes/genesisinformation_test.go
  ignite/services/network/publish.go
  ignite/services/network/publish_test.go
Labels: Skip-Changelog

#2853 refactor(`network`): improve `chain list` command
  ignite/cmd/network_chain_list.go
  ignite/services/network/queries.go
Labels: Skip-Changelog

#2857 fix: update package-lock
  scripts/data/gen-nodetime/package-lock.json
Labels: Skip-Changelog

#2866 fix: change faucet to allow C.O.R.S. preflight requests
  changelog.md
  ignite/pkg/cosmosfaucet/http.go
  ignite/pkg/cosmosfaucet/http_test.go
Labels: bug, report

#2820 feat(pkg/cosmosanalysis): support discovery of modules defined in a variable
  changelog.md
  ignite/cmd/generate_typescript_client.go
  ignite/pkg/cosmosanalysis/app/app.go
  ignite/pkg/cosmosanalysis/app/app_test.go
  ignite/pkg/cosmosanalysis/app/parse.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/api_routes/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/arguments/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/external_variable/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/external_variable/go.mod
  ignite/pkg/cosmosanalysis/app/testdata/modules/external_variable/modules/modules.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/file_variable/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/gaia/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/juno/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/osmosis/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/osmosis/go.mod
  ignite/pkg/cosmosanalysis/app/testdata/modules/osmosis/keepers/modules.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/package_variable/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/package_variable/modules.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/spn/app.go
  ignite/pkg/cosmosanalysis/module/module.go
  ignite/pkg/cosmosanalysis/module/module_test.go
  ignite/pkg/cosmosanalysis/module/testdata/planet_v2/app/app.go
  ignite/pkg/cosmosanalysis/module/testdata/planet_v2/go.mod
  ignite/pkg/cosmosanalysis/module/testdata/planet_v2/proto/planet/planet.proto
  ignite/pkg/cosmosanalysis/module/testdata/planet_v2/x/planet/keeper/grpc_query_my_query.go
  ignite/pkg/cosmosanalysis/module/testdata/planet_v2/x/planet/types/types.go
  ignite/pkg/cosmosgen/generate.go
  ignite/pkg/protoc/data/include/cosmos_proto/cosmos.proto
Labels: enhancement
