Repository ignite/cli, pull requests merged in 2022-08, with the labels that each got.

#2674 ci: fix integration tests errors with `text file busy`
  ignite/cmd/tools.go
  ignite/pkg/cosmosgen/generate_javascript.go
  ignite/pkg/nodetime/programs/ts-proto/tsproto.go
  ignite/pkg/protoc/protoc.go
Labels: CI&CD, investigation

#2667 docs: change blog tutorial to use "blog" as account address prefix
  docs/docs/guide/03-blog/00-build-blog.md
  docs/docs/guide/03-blog/01-comment-blog.md
  docs/docs/guide/03-blog/02-connect-blockchain.md
Labels: docs, docs-tutorials

#2729 fix: change relayer call args to use `secp256k1` private keys
  ignite/pkg/relayer/relayer.go
Labels: bug

#2737 docs: update tutorials
  docs/docs/guide/03-blog/02-connect-blockchain.md
  docs/docs/guide/04-nameservice/02-messages.md
  docs/docs/guide/04-nameservice/04-keeper.md
  docs/docs/guide/05-scavenge/07-keeper.md
  docs/docs/guide/05-scavenge/08-cli.md
  docs/docs/guide/07-ibc.md
  docs/docs/guide/08-interchange/02-init.md
  docs/docs/guide/08-interchange/05-mint-and-burn-voucher.md
  docs/docs/guide/08-interchange/06-creating-sell-orders.md
  docs/docs/guide/08-interchange/07-creating-buy-orders.md
  docs/docs/guide/08-interchange/08-cancelling-orders.md
Labels: docs

#2722 feat: upgrade `ts-relayer` dependencies
  scripts/data/gen-nodetime/package-lock.json
  scripts/data/gen-nodetime/package.json
  scripts/data/gen-nodetime/src/relayer/lib/relayer.ts
Labels: dependencies

#2747 fix: change JS generator to use a single typescript API generator binary
  ignite/pkg/cosmosgen/generate_javascript.go
  ignite/pkg/nodetime/programs/sta/sta.go
Labels: bug, CI&CD

#2768 chore: add CL enforcer gh action
  .github/workflows/cl-enforcer.yml
Labels: Skip-Changelog

#2774 chore: add go formatting github action
  .github/workflows/go-formatting.yml
  Makefile
  go.mod
  go.sum
  ignite/internal/tools/tools.go
  ignite/pkg/confile/confile_test.go
Labels: Skip-Changelog

#2780 fix: go formatting require go 1.18
  .github/workflows/go-formatting.yml
Labels: Skip-Changelog

#2779 docs: inline docs for `chain serve`
  ignite/cmd/chain_serve.go
Labels: Skip-Changelog

#2785 chore: update deps
  go.mod
  go.sum
  ignite/templates/app/stargate/go.mod.plush
  ignite/templates/app/stargate/go.sum
Labels: Skip-Changelog

#2787 chore: use latest `spn`
  go.mod
  go.sum
Labels: Skip-Changelog

#2781 fix(cosmosclient): call the faucet prior to create the tx
  changelog.md
  ignite/cmd/node.go
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/pkg/cosmosclient/txservice.go
Labels: bug
