Repository ignite/cli, pull requests merged in 2022-10, with the labels that each got.

#2872 chore: add a `bug` label to new issues
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: Skip-Changelog

#2882 chore: remove get-diff action
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
Labels: Skip-Changelog

#2476 test: add TS integration test for a custom module
  integration/cosmosgen/custom_module_test.go
  integration/cosmosgen/custom_module_test.ts
Labels: testing, Skip-Changelog

#2889 chore: reveal `network` command
  ignite/cmd/network.go
Labels: Skip-Changelog

#2904 feat(`network`): add chain metadata as part of `n chain show info` command
  ignite/services/network/networktypes/chainlaunch.go
Labels: network, Skip-Changelog

#2903 fix: change config migration to void leaving chunks at end of file
  changelog.md
  ignite/cmd/chain.go
Labels: bug

#2875 refactor: improve generated proto-dir location
  changelog.md
  docs/docs/migration/v0.24.0.md
  docs/docs/migration/v0.25.0.md
  ignite/cmd/scaffold_message.go
  ignite/pkg/cosmosanalysis/module/module_test.go
  ignite/pkg/cosmosanalysis/module/testdata/planet/app/app.go
  ignite/pkg/cosmosanalysis/module/testdata/planet/proto/planet/mars/mars.proto
  ignite/pkg/cosmosanalysis/module/testdata/planet/x/mars/keeper/grpc_query_my_query.go
  ignite/pkg/cosmosanalysis/module/testdata/planet/x/mars/types/types.go
  ignite/pkg/cosmosanalysis/module/testdata/planet_v2/app/app.go
  ignite/pkg/cosmosanalysis/module/testdata/planet_v2/proto/planet/mars/mars.proto
  ignite/pkg/cosmosanalysis/module/testdata/planet_v2/x/mars/keeper/grpc_query_my_query.go
  ignite/pkg/cosmosanalysis/module/testdata/planet_v2/x/mars/types/types.go
  ignite/services/scaffolder/component.go
  ignite/services/scaffolder/message.go
  ignite/services/scaffolder/packet.go
  ignite/services/scaffolder/patch.go
  ignite/services/scaffolder/query.go
  ignite/services/scaffolder/type.go
  ignite/templates/ibc/oracle.go
  ignite/templates/ibc/oracle/proto/{{appName}}/{{moduleName}}/{{queryName}}.proto.plush
  ignite/templates/ibc/packet.go
  ignite/templates/message/message.go
  ignite/templates/message/stargate.go
  ignite/templates/module/create/genesistest.go
  ignite/templates/module/create/ibc.go
  ignite/templates/module/create/ibc/proto/{{appName}}/{{moduleName}}/packet.proto.plush
  ignite/templates/module/create/msgserver.go
  ignite/templates/module/create/msgserver/proto/{{appName}}/{{moduleName}}/tx.proto.plush
  ignite/templates/module/create/stargate.go
  ignite/templates/module/create/stargate/proto/{{appName}}/{{moduleName}}/genesis.proto.plush
  ignite/templates/module/create/stargate/proto/{{appName}}/{{moduleName}}/params.proto.plush
  ignite/templates/module/create/stargate/proto/{{appName}}/{{moduleName}}/query.proto.plush
  ignite/templates/query/query.go
  ignite/templates/query/stargate.go
  ignite/templates/typed/dry/stargate/component/proto/{{appName}}/{{moduleName}}/{{typeName}}.proto.plush
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/list/stargate.go
  ignite/templates/typed/list/stargate/component/proto/{{appName}}/{{moduleName}}/{{typeName}}.proto.plush
  ignite/templates/typed/map/stargate.go
  ignite/templates/typed/map/stargate/component/proto/{{appName}}/{{moduleName}}/{{typeName}}.proto.plush
  ignite/templates/typed/singleton/stargate.go
  ignite/templates/typed/singleton/stargate/component/proto/{{appName}}/{{moduleName}}/{{typeName}}.proto.plush
  ignite/templates/typed/typed.go
Labels: scaffold

#2890 docs: `network` command
  ignite/cmd/network.go
Labels: Skip-Changelog

#2528 feat(pkg): add support to query and save TXs and events
  changelog.md
  go.mod
  go.sum
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/pkg/cosmosclient/cosmosclient_test.go
  ignite/pkg/cosmosclient/mocks/account_retriever.go
  ignite/pkg/cosmosclient/mocks/bank_query_client.go
  ignite/pkg/cosmosclient/mocks/faucet_client.go
  ignite/pkg/cosmosclient/mocks/gasometer.go
  ignite/pkg/cosmosclient/mocks/rpc_client.go
  ignite/pkg/cosmosclient/mocks/signer.go
  ignite/pkg/cosmosclient/testutil/mocks.go
  ignite/pkg/cosmosclient/tx.go
  ignite/pkg/cosmostxcollector/adapter/adapter.go
  ignite/pkg/cosmostxcollector/adapter/postgres/filters.go
  ignite/pkg/cosmostxcollector/adapter/postgres/filters_test.go
  ignite/pkg/cosmostxcollector/adapter/postgres/parsers.go
  ignite/pkg/cosmostxcollector/adapter/postgres/postgres.go
  ignite/pkg/cosmostxcollector/adapter/postgres/postgres_test.go
  ignite/pkg/cosmostxcollector/adapter/postgres/schemas.go
  ignite/pkg/cosmostxcollector/adapter/postgres/schemas/1.sql
  ignite/pkg/cosmostxcollector/adapter/postgres/schemas_test.go
  ignite/pkg/cosmostxcollector/collector.go
  ignite/pkg/cosmostxcollector/collector_test.go
  ignite/pkg/cosmostxcollector/mocks/saver.go
  ignite/pkg/cosmostxcollector/mocks/txs_collecter.go
  ignite/pkg/cosmostxcollector/query/cursor.go
  ignite/pkg/cosmostxcollector/query/event.go
  ignite/pkg/cosmostxcollector/query/query.go
  ignite/pkg/cosmostxcollector/query/query_test.go
Labels: network

#2911 feat(`cosmosanalysis`): detect when proto RPC services are using pagination
  changelog.md
  go.mod
  go.sum
  ignite/pkg/cosmosanalysis/module/module.go
  ignite/pkg/cosmosanalysis/module/module_test.go
  ignite/pkg/cosmosanalysis/module/testdata/planet/proto/planet/mars/mars.proto
  ignite/pkg/cosmosanalysis/module/testdata/planet/x/mars/keeper/grpc_query_my_query.go
  ignite/pkg/cosmosanalysis/module/testdata/planet/x/mars/types/types.go
  ignite/pkg/cosmosanalysis/module/testdata/planet_v2/proto/planet/mars/mars.proto
  ignite/pkg/cosmosanalysis/module/testdata/planet_v2/x/mars/keeper/grpc_query_my_query.go
  ignite/pkg/cosmosanalysis/module/testdata/planet_v2/x/mars/types/types.go
  ignite/pkg/protoanalysis/builder.go
  ignite/pkg/protoanalysis/package.go
  ignite/pkg/protoanalysis/protoanalysis_test.go
Labels: enhancement

#2919 fix: handle empty keyring message when listing keys
  changelog.md
  ignite/pkg/chaincmd/runner/account.go
Labels: bug

#2920 fix: change session print loop to block until all events are handled
  changelog.md
  ignite/pkg/cliui/cliui.go
  ignite/services/network/publish.go
Labels: bug

#2912 docs: fix migration docs
  docs/docs/migration/v0.22.0.md
  docs/docs/migration/v0.22.2.md
  docs/docs/migration/v0.24.0.md
  docs/docs/migration/v0.25.0.md
Labels: Skip-Changelog

#2936 Fix: typos
  docs/docs/07-cli.md
Labels: Skip-Changelog

#2921 feat: add `--peer-address` flag to `network chain join` command
  changelog.md
  ignite/cmd/network_chain_join.go
Labels: enhancement, network

#2933 fix(`template`): add baseapp options to template
  .github/workflows/test-integration.yml
  go.mod
  go.sum
  ignite/templates/app/stargate/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
  ignite/templates/app/stargate/go.mod.plush
Labels: Skip-Changelog

#2922 fix: network commands check for latest config version before build
  changelog.md
  ignite/chainconfig/chainconfig.go
  ignite/chainconfig/chainconfig_test.go
  ignite/chainconfig/config/config.go
  ignite/chainconfig/errors.go
  ignite/services/network/networkchain/networkchain.go
  integration/network/network_test.go
Labels: bug, network

#2939 fix(`network`): spinner issue for validator and coordinator commands
  ignite/cmd/network_coordinator_set.go
  ignite/cmd/network_coordinator_show.go
  ignite/cmd/network_validator_set.go
  ignite/cmd/network_validator_show.go
Labels: Skip-Changelog

#2943 fix: change session to use the same spinner reference
  changelog.md
  ignite/cmd/cmd.go
  ignite/cmd/network_campaign_list.go
  ignite/cmd/network_chain_init.go
  ignite/cmd/network_chain_join.go
  ignite/cmd/network_chain_list.go
  ignite/cmd/network_chain_show.go
  ignite/cmd/network_request_list.go
  ignite/cmd/network_reward_release.go
  ignite/cmd/relayer_configure.go
  ignite/cmd/scaffold.go
  ignite/pkg/cliui/clispinner/clispinner.go
  ignite/pkg/cliui/cliui.go
Labels: bug

#2972 docs: network chain join
  ignite/cmd/network_chain_join.go
Labels: Skip-Changelog

#2971 docs: network chain init
  ignite/cmd/network_chain_init.go
Labels: Skip-Changelog

#2976 chore(`network`): hide unused command sets
  ignite/cmd/network_campaign.go
  ignite/cmd/network_profile.go
  ignite/cmd/network_reward.go
Labels: network, Skip-Changelog

#2977 docs: network request approve
  ignite/cmd/network_request_approve.go
Labels: Skip-Changelog

#2982 fix(`network`): use correct prefix for network `add-account` request
  ignite/cmd/network_request_add_account.go
Labels: network, Skip-Changelog

#2957 feat: change generate commands to print paths of the generated code
  changelog.md
  ignite/cmd/generate_dart.go
  ignite/cmd/generate_go.go
  ignite/cmd/generate_openapi.go
  ignite/cmd/generate_typescript_client.go
  ignite/cmd/generate_vuex.go
  ignite/pkg/cosmosgen/cosmosgen.go
  ignite/services/chain/chain.go
  ignite/services/chain/generate.go
Labels: enhancement

#2983 docs: updates to reference latest cli version v0.25.1
  docs/docs/guide/02-hello.md
  docs/docs/guide/03-blog/00-build-blog.md
Labels: Skip-Changelog

#2984 docs: Updates Cosmos docs links
  docs/docs/guide/02-hello.md
  docs/docs/guide/04-nameservice/00-tutorial.md
  docs/docs/guide/04-nameservice/04-keeper.md
  docs/docs/guide/07-ibc.md
  docs/docs/kb/02-serve.md
  docs/docs/kb/11-simapp.md
  docs/docs/kb/12-params.md
Labels: docs, Skip-Changelog

#2985 fix: change CLI to also search chain binary in Go binary path
  changelog.md
  ignite/pkg/checksum/checksum.go
  ignite/pkg/xexec/command.go
  ignite/pkg/xexec/testdata/bin.sh
  ignite/pkg/xexec/testdata/nobin
  ignite/pkg/xexec/xexec.go
  ignite/pkg/xexec/xexec_test.go
  ignite/services/chain/chain.go
  ignite/services/chain/serve.go
Labels: bug, serve

#2988 docs: updated remaining blog tutorial reference to latest cli version
  docs/docs/guide/03-blog/02-connect-blockchain.md
Labels: Skip-Changelog

#2995 feat: `ignite n request remove-validator`
  changelog.md
  ignite/cmd/network_request.go
  ignite/cmd/network_request_remove_validator.go
  ignite/services/network/join.go
  ignite/services/network/request.go
Labels: network

#2958 feat: support absolute path for client generation config options
  changelog.md
  ignite/pkg/cosmosgen/generate_openapi.go
  ignite/services/chain/generate.go
  ignite/services/scaffolder/scaffolder.go
Labels: enhancement

#2944 feat: add support to change spinner text using event updates
  changelog.md
  ignite/cmd/chain_build.go
  ignite/cmd/chain_serve.go
  ignite/cmd/cmd.go
  ignite/cmd/generate_dart.go
  ignite/cmd/generate_go.go
  ignite/cmd/generate_openapi.go
  ignite/cmd/generate_typescript_client.go
  ignite/cmd/generate_vuex.go
  ignite/cmd/network_reward_release.go
  ignite/cmd/node_query_bank_balances.go
  ignite/cmd/node_query_tx.go
  ignite/cmd/node_tx_bank_send.go
  ignite/cmd/relayer_configure.go
  ignite/cmd/relayer_connect.go
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_band.go
  ignite/cmd/scaffold_chain.go
  ignite/cmd/scaffold_message.go
  ignite/cmd/scaffold_module.go
  ignite/cmd/scaffold_mwasm.go
  ignite/cmd/scaffold_package.go
  ignite/cmd/scaffold_query.go
  ignite/cmd/scaffold_vue.go
  ignite/pkg/cliui/clispinner/clispinner.go
  ignite/pkg/cliui/cliui.go
  ignite/pkg/events/bus_test.go
  ignite/pkg/events/events.go
  ignite/pkg/events/events_test.go
  ignite/services/chain/build.go
  ignite/services/chain/generate.go
  ignite/services/chain/init.go
  ignite/services/chain/serve.go
  ignite/services/network/campaign.go
  ignite/services/network/launch.go
  ignite/services/network/networkchain/init.go
  ignite/services/network/networkchain/networkchain.go
  ignite/services/network/networkchain/prepare.go
  ignite/services/network/networkchain/simulate.go
  ignite/services/network/profile.go
  ignite/services/network/publish.go
  ignite/services/network/queries.go
  ignite/services/network/request.go
  ignite/services/network/reward.go
Labels: enhancement

#3016 chore: change `pkg/events` test to use event factory function
  ignite/pkg/events/events_test.go
Labels: testing, Skip-Changelog

#2987 docs: Updated docker doc to reference latest CLI version
  docs/docs/kb/09-docker.md
Labels: Skip-Changelog

#3004 chore: update dependencies
  go.mod
  go.sum
  ignite/templates/app/stargate/go.mod.plush
Labels: Skip-Changelog

#3023 fix: cliui option starts the spinner if required
  ignite/pkg/cliui/cliui.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/scaffold.go
  ignite/services/plugin/template/go.mod.plush
Labels: bug, Skip-Changelog

#3007 chore: update `go-github`
  go.mod
  go.sum
  ignite/version/version.go
Labels: Skip-Changelog

#3008 chore: update `docker/docker`
  go.mod
  go.sum
  ignite/services/chain/build.go
  ignite/services/chain/chain_test.go
Labels: Skip-Changelog
