Repository ignite/cli, pull requests merged in 2022-07, with the labels that each got.

#2632 docs: fix guides
  docs/docs/guide/02-hello.md
  docs/docs/guide/03-blog/00-build-blog.md
  docs/docs/guide/03-blog/01-comment-blog.md
  docs/docs/guide/03-blog/02-connect-blockchain.md
  docs/docs/guide/04-nameservice/01-init.md
  docs/docs/guide/04-nameservice/02-messages.md
  docs/docs/guide/04-nameservice/04-keeper.md
  docs/docs/guide/05-scavenge/03-scaffolding.md
  docs/docs/guide/05-scavenge/04-messages.md
  docs/docs/guide/05-scavenge/07-keeper.md
  docs/docs/guide/05-scavenge/08-cli.md
  docs/docs/guide/06-loan.md
  docs/docs/guide/07-ibc.md
  docs/docs/guide/08-interchange/01-design.md
  docs/docs/guide/08-interchange/02-init.md
  docs/docs/guide/08-interchange/04-creating-order-books.md
  docs/docs/guide/08-interchange/05-mint-and-burn-voucher.md
  docs/docs/guide/08-interchange/06-creating-sell-orders.md
  docs/docs/guide/08-interchange/07-creating-buy-orders.md
  docs/docs/guide/08-interchange/08-cancelling-orders.md
  docs/docs/guide/08-interchange/09-tests.md
Labels: docs

#2598 fix(pkg/cosmosgen): IBC proto messages import
  ignite/pkg/cosmosgen/generate.go
  ignite/pkg/protopath/protopath.go
Labels: bug

#2636 fix(template): missing call to RegisterMsgServer
  ignite/templates/module/create/stargate/x/{{moduleName}}/module.go.plush
Labels: bug

#2634 fix(template): cosmoscmd appID parameter value
  ignite/pkg/multiformatname/multiformatname.go
  ignite/services/chain/app.go
  ignite/templates/app/stargate/cmd/{{binaryNamePrefix}}d/main.go.plush
  integration/app/tx_test.go
Labels: bug

#2145 feat(cmd/network): implement `network profile` cmd
  ignite/cmd/network.go
  ignite/cmd/network_chain_show_accounts.go
  ignite/cmd/network_profile.go
  ignite/services/network/campaign.go
  ignite/services/network/mocks/bank_client.go
  ignite/services/network/mocks/staking_client.go
  ignite/services/network/network.go
  ignite/services/network/network_test.go
  ignite/services/network/networkchain/prepare.go
  ignite/services/network/networktypes/campaign.go
  ignite/services/network/networktypes/genesisinformation.go
  ignite/services/network/networktypes/genesisinformation_test.go
  ignite/services/network/networktypes/profile.go
  ignite/services/network/profile.go
  ignite/services/network/publish.go
  ignite/services/network/publish_test.go
  ignite/services/network/queries.go
  ignite/services/network/testutil/suite.go
Labels: network
