Repository ignite/cli, pull requests merged in 2023-12, with the labels that each got.

#3599 feat(cmd): add google analytics
  changelog.md
  ignite/cmd/ignite/main.go
  ignite/internal/analytics/analytics.go
  ignite/pkg/gacli/doc.go
  ignite/pkg/gacli/gacli.go
Labels: component:ci, component:configs, component:cmd, component:packages, :robot: CI, :wrench: configs, :arrow_forward: cmd, :package: packages, :door: internal

#3792 chore: change default scaffolding branch to main
  ignite/pkg/xgit/xgit.go
Labels: skip-changelog, :robot: CI, :wrench: configs, :package: packages

#3794 fix: skip analytics for the integration tests
  ignite/internal/analytics/analytics.go
  ignite/pkg/gacli/gacli.go
  integration/env.go
Labels: skip-changelog, :robot: CI, :wrench: configs, :package: packages, :door: internal

#3778 chore: ci workflow enhancements
  .github/labeler.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
Labels: skip-changelog, :robot: CI, :wrench: configs

#3795 chore: bump cometbft to `v0.38.2`
  changelog.md
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs

#3797 chore: run the CI lint only in the linux machine
  .github/workflows/test-lint.yml
Labels: skip-changelog, component:ci, component:configs

#3785 fix: restore runtime app API registered module discovery
  ignite/pkg/cosmosanalysis/app/app.go
  ignite/pkg/cosmosanalysis/app/app_test.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/app_config/go.mod
  ignite/pkg/cosmosanalysis/app/testdata/modules/crescent/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/crescent/go.mod
  ignite/pkg/cosmosanalysis/app/testdata/modules/gaia/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/gaia/go.mod
  ignite/pkg/cosmosanalysis/app/testdata/modules/juno/go.mod
  ignite/pkg/cosmosanalysis/app/testdata/modules/single_app/go.mod
  ignite/pkg/cosmosanalysis/app/testdata/modules/spn/go.mod
  ignite/pkg/cosmosanalysis/module/module.go
  ignite/pkg/cosmosanalysis/module/module_test.go
  ignite/pkg/cosmosanalysis/module/options.go
  ignite/pkg/cosmosgen/cosmosgen.go
  ignite/pkg/cosmosgen/generate.go
  ignite/pkg/cosmosgen/generate_typescript.go
  ignite/pkg/cosmosgen/templates/module/index.ts.tpl
  ignite/pkg/cosmosgen/templates/module/module.ts.tpl
  ignite/pkg/cosmosgen/templates/root/client.ts.tpl
  ignite/pkg/cosmosgen/templates/root/index.ts.tpl
  ignite/pkg/cosmosgen/templates/root/modules.ts.tpl
  ignite/pkg/cosmosgen/templates/root/package.json.tpl
  ignite/pkg/gocmd/gocmd.go
  ignite/pkg/gomodule/gomodule.go
  ignite/pkg/gomodule/gomodule_test.go
  ignite/pkg/gomodule/testdata/module/go.mod
  ignite/pkg/xstrings/xstrings.go
  ignite/pkg/xstrings/xstrings_test.go
Labels: type:bug, skip-changelog, component:ci, component:configs, component:packages

#3802 refactor: remove error from analytics
  ignite/cmd/ignite/main.go
  ignite/internal/analytics/analytics.go
  ignite/pkg/gacli/gacli.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, type:internal, component:packages

#3807 feat: Update vue/react web templates for SDK >= 0.50.0
  go.mod
  go.sum
Labels: skip-changelog, component:ci, component:configs

#3803 refactor: remove flags from analytics
  ignite/cmd/ignite/main.go
  ignite/internal/analytics/analytics.go
  ignite/pkg/gacli/gacli.go
Labels: component:ci, component:configs, component:cmd, type:internal, component:packages

#3808 fix: correct TS code generation to generate paginated fields
  changelog.md
  ignite/pkg/cosmosanalysis/module/module.go
Labels: type:bug, component:ts-client, component:ci, component:configs, component:packages, component:code-gen

#3810 chore: bump network app version to `v0.2.1`
  changelog.md
  ignite/cmd/plugin_default.go
Labels: component:ci, component:configs, component:cmd

#3806 chore(analytics): improve user prompt and link to policies
  ignite/internal/analytics/analytics.go
Labels: skip-changelog, pr:need-review, component:ci, component:configs, type:internal

#3811 feat: Update ts client deps
  ignite/pkg/cosmosgen/templates/root/package.json.tpl
Labels: component:ci, component:configs, component:packages

#3813 docs: update changelog (v28.0.0)
  changelog.md
Labels: component:ci, component:configs

#3814 fix: fix the plugin test url
  ignite/cmd/plugin_default_test.go
Labels: component:ci, component:configs, component:cmd

#3790 docs: Update 01-go-client.md improving
  docs/versioned_docs/version-v0.27.2/03-clients/01-go-client.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#3817 fix: bump go version for docker files
  .github/workflows/release-docker.yml
  .gitpod.Dockerfile
  Dockerfile
  scripts/indocker
Labels: skip-changelog, component:ci, component:configs

#3830 feat: remove gRPC info from Ignite Apps errors
  changelog.md
  ignite/cmd/ignite/main.go
Labels: component:apps, component:ci, component:configs, component:cmd, type:enhancement

#3825 fix: Minor keplr type-checking bug
  changelog.md
  ignite/pkg/cosmosgen/templates/root/client.ts.tpl
Labels: component:ci, component:configs, component:packages

#3834 chore: losen changelog gatekeeping
  .github/CODEOWNERS
Labels: skip-changelog, component:ci, component:configs

#3836 fix: add missing IBC commands for scaffolded chain
  changelog.md
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/commands.go.plush
Labels: component:ci, component:templates, component:configs

#3827 fix: change ignite apps to be able to run in any directory
  changelog.md
  ignite/cmd/plugin.go
  ignite/services/plugin/client_api.go
Labels: component:ci, component:configs, component:cmd, type:services

#3833 fix: improve cosmos-sdk detection
  changelog.md
  ignite/pkg/cosmosanalysis/app/app.go
  ignite/pkg/cosmosanalysis/cosmosanalysis.go
  ignite/pkg/cosmosanalysis/cosmosanalysis_test.go
  ignite/pkg/cosmosanalysis/testdata/chain-sdk-fork/go.mod
  ignite/pkg/cosmosanalysis/testdata/chain/go.sum
  ignite/pkg/cosmosbuf/buf.go
  ignite/pkg/cosmosgen/generate.go
  ignite/pkg/cosmosver/cosmosver.go
  ignite/pkg/cosmosver/detect.go
  ignite/pkg/cosmosver/detect_test.go
  ignite/pkg/cosmosver/testdata/chain-sdk-fork/go.mod
  ignite/pkg/cosmosver/testdata/chain/go.mod
  ignite/pkg/gomodule/gomodule.go
  ignite/version/version.go
  ignite/version/version_test.go
Labels: component:ci, component:configs, type:internal, component:packages

#3838 chore: bump sdk to v0.50.2 and other modules
  changelog.md
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs

#3822 feat: set positional args for delete commands and scaffolded autocli config
  changelog.md
  ignite/templates/typed/list/list.go
  ignite/templates/typed/map/map.go
  ignite/templates/typed/singleton/singleton.go
Labels: component:ci, component:templates, component:configs

#3829 feat(pkg/cache): support version prefix
  changelog.md
  ignite/cmd/cmd.go
  ignite/pkg/cache/cache.go
  ignite/pkg/cache/cache_test.go
  ignite/pkg/cache/options.go
  ignite/services/plugin/cache.go
Labels: component:go, component:ci, component:configs, component:cmd, type:services, component:packages, type:enhancement

#3763 docs: Shorten blog tutorial
  docs/docs/02-guide/04-blog.md
  docs/docs/02-guide/04-blog/00-express.md
  docs/docs/02-guide/04-blog/01-intro.md
  docs/docs/02-guide/04-blog/02-scaffolding.md
  docs/docs/02-guide/04-blog/03-create.md
  docs/docs/02-guide/04-blog/04-update.md
  docs/docs/02-guide/04-blog/05-delete.md
  docs/docs/02-guide/04-blog/06-show.md
  docs/docs/02-guide/04-blog/07-list.md
  docs/docs/02-guide/04-blog/08-play.md
  docs/docs/02-guide/04-blog/09-summary.md
  docs/docs/02-guide/04-blog/_category_.json
Labels: component:docs, skip-changelog, component:ci, component:configs

#3848 fix: add missing ibcconsumer.AppModule
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/app/app_config.go.plush
  ignite/templates/app/files/app/export.go.plush
  ignite/templates/app/files/app/ibc.go.plush
Labels: component:ci, component:templates, component:configs

#3853 fix: correct skip changelog dependabot label
  .github/dependabot.yml
Labels: skip-changelog, component:ci, component:configs, chore

#3851 fix: add missing ibc interfaces to chain client
  changelog.md
  ignite/pkg/cosmosanalysis/app/app.go
  ignite/templates/app/files/app/ibc.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
Labels: component:ci, component:templates, component:configs, component:packages

#3786 build: package ignite for flatpak and snap
  .github/workflows/release-binary.yml
  .github/workflows/snapcraft.yml
  changelog.md
  packaging/.gitignore
  packaging/README.md
  packaging/flatpak/com.ignite.Ignite.yml
  packaging/flatpak/ignite.desktop
  packaging/flatpak/ignite.metainfo.xml
  packaging/flatpak/logo.svg
  packaging/snap/snapcraft.yaml
Labels: component:ci, component:configs

#3844 fix(templates): append to injected signing options
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
Labels: skip-changelog, component:ci, component:templates, component:configs

#3855 chore: run make format
  docs/docs/02-guide/04-blog.md
  ignite/pkg/cosmosanalysis/testdata/chain-sdk-fork/go.mod
  ignite/pkg/cosmosver/testdata/chain-sdk-fork/go.mod
  integration/plugin/testdata/example-plugin/go.mod
Labels: component:docs, skip-changelog, component:ci, component:configs, component:packages

#3849 fix: add missing `tx.go` file by default and enable cli if autocli does not exist
  changelog.md
  ignite/templates/ibc/packet.go
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
  ignite/templates/module/create/files/ibc/x/{{moduleName}}/client/cli/tx.go.plush
Labels: component:ci, component:templates, component:configs

#3771 docs: Shorten the DeFi loan tutorial
  docs/docs/02-guide/05-loan.md
  docs/docs/02-guide/05-loan/00-intro.md
  docs/docs/02-guide/05-loan/01-init.md
  docs/docs/02-guide/05-loan/02-bank.md
  docs/docs/02-guide/05-loan/03-request.md
  docs/docs/02-guide/05-loan/04-approve.md
  docs/docs/02-guide/05-loan/05-repay.md
  docs/docs/02-guide/05-loan/06-liquidate.md
  docs/docs/02-guide/05-loan/07-cancel.md
  docs/docs/02-guide/05-loan/08-play.md
  docs/docs/02-guide/05-loan/_category_.json
Labels: component:docs, skip-changelog, component:ci, component:configs

#3856 docs: add v28 to README
  readme.md
Labels: skip-changelog, component:ci, component:configs

#3858 refactor(templates): add all ibc commands
  changelog.md
  ignite/templates/app/files/app/ibc.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/commands.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
Labels: component:ci, component:templates, component:configs

#3860 fix(gacli): fix analytics event name
  changelog.md
  ignite/pkg/gacli/gacli.go
Labels: component:ci, component:configs, component:packages

#3861 feat: send to the analytics if the user is using a GitPod
  changelog.md
  ignite/internal/analytics/analytics.go
  ignite/pkg/gacli/gacli.go
Labels: component:ci, component:configs, type:internal, component:packages

#3863 docs(changelog): v28.1.0
  changelog.md
Labels: component:ci, component:configs

#3867 fix(templates): fix genesis export for ibc modules
  changelog.md
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
Labels: component:ci, component:templates, component:configs
