Repository ignite/cli, pull requests merged in 2023-08, with the labels that each got.

#3602 refactor: validate SDK version and deprecate `sdkerrors.Wrap`
  ignite/cmd/scaffold.go
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/keeper/msg_{{queryName}}.go.plush
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/keeper/{{queryName}}.go.plush
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/oracle.go.plush
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/types/{{queryName}}.go.plush
  ignite/templates/ibc/files/packet/component/x/{{moduleName}}/keeper/{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/types/messages_{{packetName}}.go.plush
  ignite/templates/ibc/oracle.go
  ignite/templates/ibc/packet.go
  ignite/templates/message/files/message/x/{{moduleName}}/types/message_{{msgName}}.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/keeper.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/msg_update_params.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/msg_update_params.go.plush
  ignite/templates/module/create/files/ibc/x/{{moduleName}}/module_ibc.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  integration/app.go
Labels: Skip-Changelog

#3606 feat(ci): add repo organization actions
  .github/labeler.yml
  .github/labels.json
  .github/workflows/auto-author-assign.yml
  .github/workflows/labeler.yml
  .github/workflows/md-link-checker.yml
  .github/workflows/release-binary.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-nightly.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test-semantic.yml
  .github/workflows/test.yml
Labels: Skip-Changelog

#3617 chore: fix labeler GitHub action config
  .github/labeler.yml
Labels: bug, CI&CD, Skip-Changelog

#3619 ci: change labeler to ignore root markdown files
  .github/labeler.yml
Labels: Skip-Changelog, :robot: CI

#3618 fix: issue with Go import paths in ts-client generation
  changelog.md
  ignite/templates/app/files/proto/buf.gen.ts.yaml
Labels: bug, ts-client, :robot: CI, :bookmark: templates, :wrench: configs

#3610 chore: uin64 overflow fix
  changelog.md
  ignite/pkg/cosmosfaucet/cosmosfaucet.go
  ignite/pkg/cosmosfaucet/transfer.go
  ignite/services/chain/faucet.go
Labels: :robot: CI, :wrench: configs, :taxi: services, :package: packages

#3601 feat: update ts-relayer version
  changelog.md
  scripts/data/gen-nodetime/package-lock.json
  scripts/data/gen-nodetime/package.json
  scripts/data/gen-nodetime/src/relayer/lib/relayer.ts
Labels: :robot: CI, :wrench: configs

#3631 fix: Remove unintentional vue type import
  changelog.md
  ignite/pkg/cosmosgen/templates/composable/index.ts.tpl
Labels: :robot: CI, :wrench: configs, :package: packages

#3628 chore: fix `v0.27.1` migration docs
  docs/docs/06-migration/v0.27.1.md
  docs/versioned_docs/version-v0.27.1/06-migration/v0.27.1.md
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :book: docs
