Repository ignite/cli, pull requests merged in 2023-10, with the labels that each got.

#3669 refactor: rename `plugins` config file to `igniteapps`
  changelog.md
  docs/docs/06-migration/v0.19.2.md
  docs/docs/06-migration/v0.26.0.md
  docs/docs/06-migration/v0.28.0.md
  docs/docs/apps/01-using-apps.md
  docs/versioned_docs/version-v0.25.2/contributing/02-technical-setup.md
  docs/versioned_docs/version-v0.25.2/migration/v0.19.2.md
  docs/versioned_docs/version-v0.26.1/06-migration/v0.19.2.md
  docs/versioned_docs/version-v0.26.1/06-migration/v0.26.0.md
  docs/versioned_docs/version-v0.27.1/06-migration/v0.19.2.md
  docs/versioned_docs/version-v0.27.1/06-migration/v0.26.0.md
  ignite/cmd/doctor.go
  ignite/cmd/plugin.go
  ignite/cmd/plugin_default.go
  ignite/cmd/plugin_default_test.go
  ignite/config/chain/v1/testdata/config2.yaml
  ignite/config/plugins/config.go
  ignite/config/plugins/config_test.go
  ignite/config/plugins/parse.go
  ignite/config/plugins/parse_test.go
  ignite/config/plugins/testdata/igniteapps.yml
  ignite/config/plugins/testdata/invalid/igniteapps.yml
  ignite/config/plugins/testdata/other/igniteapps.yaml
  ignite/internal/tools/gen-cli-docs/main.go
  ignite/pkg/cliui/cliui.go
  ignite/pkg/events/events.go
  ignite/services/doctor/doctor.go
  ignite/services/doctor/doctor_plugins.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
  integration/plugin/plugin_test.go
Labels: refactoring, plugin, :robot: CI, :wrench: configs, :book: docs, :arrow_forward: cmd, :taxi: services, :door: internal, :package: packages

#3662 refactor: rename CLI "plugin" command to "app"
  changelog.md
  ignite/cmd/cmd.go
  ignite/cmd/plugin.go
  ignite/cmd/plugin_default.go
  ignite/cmd/plugin_test.go
  ignite/config/plugins/config.go
  ignite/pkg/cliui/icons/icon.go
  ignite/services/plugin/cache.go
  ignite/services/plugin/interface.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
  ignite/services/plugin/scaffold.go
  ignite/services/plugin/template/main.go.plush
  integration/plugin/plugin_test.go
Labels: refactoring, plugin, :robot: CI, :wrench: configs, :arrow_forward: cmd, :taxi: services, :door: internal, :package: packages

#3687 ci: update Go version to `1.21` in GitHub workflows
  .github/workflows/gen-docs-cli.yml
  .github/workflows/go-formatting.yml
  .github/workflows/release-binary.yml
  .github/workflows/test-integration.yml
  .github/workflows/test.yml
Labels: Skip-Changelog, :robot: CI, :wrench: configs

#3688 fix: change Go version in nightly release config to `1.21.2`
  .github/workflows/release-nightly.yml
Labels: CI&CD, Skip-Changelog, :robot: CI, :wrench: configs

#3689 fix: remove explicit "latest" for Go version release nightly
  .github/workflows/release-nightly.yml
Labels: CI&CD, Skip-Changelog, :robot: CI, :wrench: configs

#3683 feat: add module keeper alias
  changelog.md
  ignite/cmd/scaffold_module.go
Labels: :robot: CI, :wrench: configs, :arrow_forward: cmd

#3682 chore: cleanups
  .github/workflows/md-link-checker-config.json
  .gitpod/readme.md
  ignite/cmd/account_create.go
  ignite/cmd/account_delete.go
  ignite/cmd/account_export.go
  ignite/cmd/account_import.go
  ignite/cmd/plugin.go
  ignite/cmd/version.go
  ignite/internal/tools/gen-cli-docs/main.go
  ignite/pkg/cosmosfaucet/openapi/openapi.yml.tmpl
  ignite/pkg/iowait/iowait.go
  ignite/pkg/jsondoc/jsondoc.go
  ignite/pkg/looseerrgroup/looseerrgroup.go
  ignite/pkg/tendermintlogger/logger.go
  ignite/pkg/tendermintlogger/logger_test.go
  ignite/pkg/xstrings/xstrings.go
  integration/readme.md
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :arrow_forward: cmd, :door: internal, :package: packages

#3621 feat: availableport enhancements
  changelog.md
  ignite/config/chain/base/config.go
  ignite/config/chain/config.go
  ignite/pkg/availableport/availableport.go
  ignite/pkg/availableport/availableport_test.go
  integration/app.go
Labels: :robot: CI, :wrench: configs, :door: internal, :package: packages

#3697 ci: update `golangci-lint` to version `v1.54.2 `
  .github/workflows/test-lint.yml
  .golangci.yml
Labels: Skip-Changelog, :robot: CI, :wrench: configs

#3695 docs: fix typos
  docs/docs/02-guide/07-interchange/03-walkthrough.md
  docs/docs/02-guide/08-debug.md
  docs/versioned_docs/version-v0.25.2/guide/02-hello.md
  docs/versioned_docs/version-v0.25.2/guide/04-nameservice/00-tutorial.md
  docs/versioned_docs/version-v0.25.2/guide/04-nameservice/05-play.md
  docs/versioned_docs/version-v0.25.2/guide/05-scavenge/07-keeper.md
  docs/versioned_docs/version-v0.25.2/guide/08-interchange/02-init.md
  docs/versioned_docs/version-v0.25.2/guide/08-interchange/03-walkthrough.md
  docs/versioned_docs/version-v0.25.2/guide/08-interchange/04-creating-order-books.md
  docs/versioned_docs/version-v0.26.1/02-guide/03-hello/00-express.md
  docs/versioned_docs/version-v0.26.1/02-guide/07-interchange/03-walkthrough.md
  docs/versioned_docs/version-v0.26.1/02-guide/08-debug.md
  docs/versioned_docs/version-v0.27.1/02-guide/07-interchange/03-walkthrough.md
  docs/versioned_docs/version-v0.27.1/02-guide/08-debug.md
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :book: docs

#3696 refactor: cleanup tmp folders & change third party includes
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  ignite/pkg/cache/cache.go
  ignite/pkg/cosmosanalysis/app/app.go
  ignite/pkg/cosmosbuf/buf.go
  ignite/pkg/cosmosgen/cosmosgen.go
  ignite/pkg/cosmosgen/generate.go
  ignite/pkg/cosmosgen/generate_composables.go
  ignite/pkg/cosmosgen/generate_openapi.go
  ignite/pkg/cosmosgen/generate_typescript.go
  ignite/pkg/cosmosgen/generate_vuex.go
  ignite/pkg/nodetime/programs/ts-proto/tsproto.go
  ignite/pkg/placeholder/error.go
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :package: packages

#3700 ci: fix integration tests and lint workflows
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  ignite/pkg/cache/cache.go
  ignite/pkg/cosmosanalysis/app/app.go
  ignite/pkg/placeholder/error.go
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :package: packages

#3701 chore: bump go version to 1.21
  changelog.md
  ignite/services/plugin/template/go.mod.plush
  ignite/templates/app/files/go.mod.plush
Labels: :robot: CI, :bookmark: templates, :wrench: configs, :taxi: services

#3704 chore: add badges to the readme
  readme.md
Labels: Skip-Changelog, :robot: CI, :wrench: configs

#3544 feat: add bidirectional communication to plugin system
  changelog.md
  docs/docs/apps/02-developing-apps.md
  ignite/cmd/plugin.go
  ignite/cmd/plugin_test.go
  ignite/pkg/cosmosanalysis/app/app.go
  ignite/pkg/cosmosanalysis/module/module.go
  ignite/pkg/cosmosclient/mocks/account_retriever.go
  ignite/pkg/cosmosclient/mocks/bank_query_client.go
  ignite/pkg/cosmosclient/mocks/faucet_client.go
  ignite/pkg/cosmosclient/mocks/gasometer.go
  ignite/pkg/cosmosclient/mocks/rpc_client.go
  ignite/pkg/cosmosclient/mocks/signer.go
  ignite/pkg/cosmosgen/generate.go
  ignite/pkg/cosmostxcollector/mocks/saver.go
  ignite/pkg/cosmostxcollector/mocks/txs_collector.go
  ignite/pkg/gomodule/gomodule.go
  ignite/pkg/protoanalysis/package.go
  ignite/services/chain/chain.go
  ignite/services/plugin/client_api.go
  ignite/services/plugin/grpc/v1/client_api.pb.go
  ignite/services/plugin/grpc/v1/interface.pb.go
  ignite/services/plugin/grpc/v1/interface_command.go
  ignite/services/plugin/grpc/v1/interface_flag.go
  ignite/services/plugin/grpc/v1/interface_hook.go
  ignite/services/plugin/grpc/v1/interface_manifest.go
  ignite/services/plugin/grpc/v1/service.pb.go
  ignite/services/plugin/grpc/v1/service_grpc.pb.go
  ignite/services/plugin/interface.go
  ignite/services/plugin/mocks/client_api.go
  ignite/services/plugin/mocks/interface.go
  ignite/services/plugin/plugin_test.go
  ignite/services/plugin/protocol.go
  ignite/services/plugin/template/go.mod.plush
  ignite/services/plugin/template/main.go.plush
  integration/plugin/testdata/example-plugin/main.go
  proto/ignite/services/plugin/grpc/v1/client_api.proto
  proto/ignite/services/plugin/grpc/v1/interface.proto
  proto/ignite/services/plugin/grpc/v1/service.proto
Labels: enhancement, plugin, :robot: CI, :wrench: configs, :book: docs, :arrow_forward: cmd, :taxi: services, :package: packages

#3349 docs: improve `scaffold query --help`
  changelog.md
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_list.go
  ignite/cmd/scaffold_map.go
  ignite/cmd/scaffold_message.go
  ignite/cmd/scaffold_query.go
  ignite/cmd/scaffold_single.go
  ignite/cmd/scaffold_type.go
Labels: docs, :robot: CI, :wrench: configs, :arrow_forward: cmd

#3691 fix: fix some lint issues
  .github/workflows/test-lint.yml
  ignite/cmd/plugin_test.go
  ignite/internal/tools/gen-cli-docs/main.go
  ignite/pkg/cliui/clispinner/clispinner.go
  ignite/pkg/cliui/view/errorview/error.go
  ignite/pkg/cmdrunner/cmdrunner.go
  ignite/pkg/cosmosanalysis/cosmosanalysis_test.go
  ignite/pkg/cosmosanalysis/testdata/chain/go.sum
  ignite/pkg/cosmosfaucet/http_faucet.go
  ignite/pkg/cosmosfaucet/http_openapi.go
  ignite/pkg/cosmostxcollector/adapter/postgres/postgres.go
  ignite/pkg/cosmostxcollector/adapter/postgres/postgres_test.go
  ignite/pkg/debugger/server.go
  ignite/pkg/jsonfile/jsonfile.go
  ignite/pkg/jsonfile/jsonfile_test.go
  ignite/pkg/openapiconsole/console.go
  ignite/pkg/truncatedbuffer/truncatedbuffer_test.go
  ignite/pkg/xgenny/xgenny.go
  ignite/pkg/xhttp/response.go
  ignite/pkg/xhttp/server.go
  ignite/services/chain/runtime.go
  ignite/services/doctor/doctor.go
  ignite/services/plugin/interface.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
  integration/network/network_test.go
  integration/node/cmd_query_bank_test.go
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :arrow_forward: cmd, :taxi: services, :door: internal, :package: packages

#3712 chore: pkg import only once
  ignite/pkg/cosmosclient/txservice_test.go
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :package: packages

#3655 feat: re-enable TS codegen
  changelog.md
  go.mod
  go.sum
  ignite/pkg/cosmosanalysis/app/app.go
  ignite/pkg/cosmosbuf/buf.go
  ignite/pkg/cosmosgen/cosmosgen.go
  ignite/pkg/cosmosgen/generate.go
  ignite/pkg/cosmosgen/generate_composables.go
  ignite/pkg/cosmosgen/generate_openapi.go
  ignite/pkg/cosmosgen/generate_typescript.go
  ignite/pkg/cosmosgen/generate_vuex.go
  ignite/pkg/gomodule/gomodule.go
  ignite/pkg/nodetime/programs/swagger-combine/swagger-combine.go
  ignite/pkg/nodetime/programs/ts-proto/tsproto.go
  ignite/pkg/protoc/data/include/cosmos/ics23/v1/proofs.proto
  ignite/pkg/protoc/protoc.go
  ignite/pkg/xos/files.go
  ignite/services/chain/generate.go
  ignite/services/scaffolder/init.go
  ignite/services/scaffolder/scaffolder.go
  ignite/templates/app/files/proto/buf.gen.sta.yaml
  ignite/templates/app/files/proto/buf.lock
  ignite/templates/app/files/proto/buf.yaml
Labels: :robot: CI, :bookmark: templates, :wrench: configs, :taxi: services, :package: packages

#3716 fix: correct invalid plugin hook check
  changelog.md
  ignite/cmd/plugin.go
Labels: bug, plugin, :robot: CI, :wrench: configs, :arrow_forward: cmd

#3719 chore: add the plush files to run test CI
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
Labels: Skip-Changelog, :robot: CI, :wrench: configs
