Repository ignite/cli, pull requests merged in 2023-06, with the labels that each got.

#3525 fix: fix typo on `00-express.md` docs
  docs/docs/02-guide/03-hello/00-express.md
Labels: Skip-Changelog

#3534 fix: nightly release workflow
  .github/workflows/release-nightly.yml
Labels: bug, CI&CD, Skip-Changelog

#3532 fix(docs): fix wrong var initialization on `04-creating-order-books.md` doc
  docs/docs/02-guide/07-interchange/04-creating-order-books.md
Labels: Skip-Changelog

#3530 fix(docs): fix typo on `02-init.md` doc
  docs/docs/02-guide/07-interchange/02-init.md
Labels: Skip-Changelog

#3558 docs: add migration steps for Ignite CLI v0.27.1
  .github/workflows/md-link-checker-config.json
  .gitpod/readme.md
  contributing.md
  docs/docs/02-guide/02-getting-started.md
  docs/docs/03-clients/02-typescript.md
  docs/docs/06-migration/v0.26.0.md
  docs/docs/06-migration/v0.27.1.md
  docs/versioned_docs/version-v0.25.2/guide/04-nameservice/01-init.md
  docs/versioned_docs/version-v0.25.2/guide/04-nameservice/02-messages.md
  docs/versioned_docs/version-v0.25.2/guide/04-nameservice/03-types.md
  docs/versioned_docs/version-v0.25.2/guide/06-loan.md
  docs/versioned_docs/version-v0.26.1/02-guide/02-getting-started.md
  docs/versioned_docs/version-v0.26.1/03-clients/02-typescript.md
  docs/versioned_docs/version-v0.26.1/06-migration/v0.26.0.md
  docs/versioned_docs/version-v0.27.1/02-guide/02-getting-started.md
  docs/versioned_docs/version-v0.27.1/03-clients/02-typescript.md
  docs/versioned_docs/version-v0.27.1/06-migration/v0.26.0.md
  docs/versioned_docs/version-v0.27.1/06-migration/v0.27.1.md
  readme.md
Labels: docs, Skip-Changelog
