Repository ignite/cli, pull requests merged in 2023-01, with the labels that each got.

#3238 feat: Shared Plugin RPC Host
  changelog.md
  docs/docs/contributing/01-plugins.md
  ignite/cmd/plugin.go
  ignite/services/plugin/cache.go
  ignite/services/plugin/cache_test.go
  ignite/services/plugin/interface.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
  ignite/services/plugin/scaffold.go
  ignite/services/plugin/scaffold_test.go
  ignite/services/plugin/template/main.go.plush
Labels: plugin

#3338 docs: in-depth blog tutorial
  docs/docs/guide/03-hello/00-express.md
  docs/docs/guide/03-hello/01-scaffolding.md
  docs/docs/guide/03-hello/_category_.json
  docs/docs/guide/04-blog/00-express.md
  docs/docs/guide/04-blog/01-comment-blog.md
  docs/docs/guide/04-blog/01-intro.md
  docs/docs/guide/04-blog/02-scaffolding.md
  docs/docs/guide/04-blog/03-create.md
  docs/docs/guide/04-blog/04-update.md
  docs/docs/guide/04-blog/05-delete.md
  docs/docs/guide/04-blog/06-show.md
  docs/docs/guide/04-blog/07-list.md
  docs/docs/guide/04-blog/08-play.md
  docs/docs/guide/04-blog/09-summary.md
  docs/docs/guide/04-blog/_category_.json
Labels: Skip-Changelog

#3360 fix(ci): docs deploy with yarn
  .github/workflows/docs-deploy.yml
Labels: Skip-Changelog

#3355 chore: simplify cmd template
  ignite/config/chain/config.go
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
Labels: Skip-Changelog

#3356 fix: scaffolded context name consistency
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/query_params.go.plush
  ignite/templates/typed/list/files/component/x/{{moduleName}}/keeper/query_{{typeName}}.go.plush
  ignite/templates/typed/map/files/component/x/{{moduleName}}/keeper/query_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/keeper/query_{{typeName}}.go.plush
Labels: Skip-Changelog

#3368 fix: nightly release
  .github/workflows/release-nightly.yml
Labels: Skip-Changelog

#3362 docs: fix links to hello and blog
  docs/docs/guide/05-nameservice/00-tutorial.md
Labels: Skip-Changelog

#3361 docs: Vue tutorial
  docs/docs/clients/01-go-client.md
  docs/docs/clients/02-typescript.md
  docs/docs/clients/03-vue.md
  docs/docs/kb/07-frontend.md
  docs/static/img/vue-1.png
  docs/static/img/vue-4.png
  docs/static/img/vue-5.png
Labels: Skip-Changelog

#3352 docs: loan tutorial rewrite
  docs/docs/guide/08-loan.md
  docs/docs/guide/08-loan/00-intro.md
  docs/docs/guide/08-loan/01-init.md
  docs/docs/guide/08-loan/02-bank.md
  docs/docs/guide/08-loan/03-request.md
  docs/docs/guide/08-loan/04-approve.md
  docs/docs/guide/08-loan/05-repay.md
  docs/docs/guide/08-loan/06-liquidate.md
  docs/docs/guide/08-loan/07-cancel.md
  docs/docs/guide/08-loan/08-play.md
  docs/docs/guide/08-loan/_category_.json
Labels: Skip-Changelog

#3370 test: cosmosanalysis crescent
  ignite/pkg/cosmosanalysis/app/app_test.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/crescent/app.go
Labels: Skip-Changelog

#3358 refactor: development version printing
  ignite/config/chain/config.go
  ignite/version/version.go
Labels: Skip-Changelog

#3371 fix: support plugin hidden commands
  ignite/services/plugin/interface.go
  ignite/services/plugin/interface_test.go
  ignite/services/plugin/template/go.mod.plush
Labels: Skip-Changelog

#3323 test: `services/scaffolder` part 1
  go.mod
  go.sum
  ignite/cmd/cmd.go
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_band.go
  ignite/cmd/scaffold_message.go
  ignite/cmd/scaffold_module.go
  ignite/cmd/scaffold_mwasm.go
  ignite/cmd/scaffold_package.go
  ignite/cmd/scaffold_query.go
  ignite/services/scaffolder/component.go
  ignite/services/scaffolder/component_test.go
  ignite/services/scaffolder/module.go
  ignite/services/scaffolder/query.go
  ignite/services/scaffolder/scaffolder.go
  ignite/services/scaffolder/type.go
  ignite/services/scaffolder/type_test.go
  ignite/templates/field/datatype/types.go
  ignite/templates/field/datatype/types_test.go
  ignite/templates/field/field.go
  ignite/templates/field/parse.go
Labels: testing, Skip-Changelog

#3357 test: `pkg/cosmoserror`
  ignite/pkg/cosmoserror/error.go
  ignite/pkg/cosmoserror/error_test.go
Labels: Skip-Changelog

#3376 docs: move CLI and config.yml to references
  docs/docs/07-cli.md
  docs/docs/10-cli.md
  docs/docs/references/02-config.md
  docs/docs/references/_category_.json
  ignite/internal/tools/gen-cli-docs/main.go
  scripts/gen-cli-docs
Labels: Skip-Changelog

#3378 docs: move plugins to its own category
  docs/docs/contributing/01-docs.md
  docs/docs/plugins/01-using-plugins.md
  docs/docs/plugins/02-dev-plugins.md
  docs/docs/plugins/_category_.json
Labels: Skip-Changelog

#3385 fix: disable mouse support from `ignite docs`
  changelog.md
  ignite/pkg/markdownviewer/markdownviewer.go
Labels: bug

#3372 docs: various plugins stuff
  docs/docs/contributing/01-docs.md
  docs/docs/plugins/01-using-plugins.md
  docs/docs/plugins/02-dev-plugins.md
  docs/docs/plugins/_category_.json
  ignite/cmd/plugin.go
  ignite/cmd/plugin_default_test.go
  ignite/pkg/cliui/icons/icon.go
  ignite/services/plugin/interface.go
Labels: Skip-Changelog

#3383 fix: state error and info are now displayed when using serve UI
  changelog.md
  ignite/services/chain/serve.go
Labels: bug, design & ux

#3399 docs: clean up changelog
  changelog.md
Labels: Skip-Changelog

#3397 docs: ibc migration
  .github/workflows/docs-deploy-preview.yml
  docs/docs/06-migration/v0.26.0.md
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
Labels: Skip-Changelog

#3281 fix: change return type to fit
  ignite/pkg/cosmosgen/templates/root/client.ts.tpl
Labels: Skip-Changelog

#3404 docs: output CLI ref in the right dir
  docs/docs/references/01-cli.md
  scripts/gen-cli-docs
Labels: Skip-Changelog

#3403 docs: update migration of `release.yml`
  docs/docs/06-migration/v0.26.0.md
Labels: Skip-Changelog

#3409 chore(ci): release nightly every night
  .github/workflows/release-nightly.yml
Labels: Skip-Changelog
