Repository ignite/cli, pull requests merged in 2023-05, with the labels that each got.

#3492 fix: algolia searchbar
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Labels: Skip-Changelog

#3487 fix: package cosmosaccount Account.PubKey ignore error
  ignite/pkg/cosmosaccount/cosmosaccount.go
  ignite/pkg/httpstatuschecker/httpstatuschecker.go
Labels: Skip-Changelog

#3508 chore(docs): improve `05-repay.md` doc
  docs/docs/02-guide/05-loan/05-repay.md
Labels: Skip-Changelog

#3507 chore(docs): improve `06-liquidate.md` docs
  docs/docs/02-guide/05-loan/06-liquidate.md
Labels: Skip-Changelog

#3510 chore: remove duplicated plugins documentation
  docs/docs/05-contributing/01-docs.md
  docs/docs/05-contributing/01-plugins.md
  docs/versioned_docs/version-v0.26.1/05-contributing/01-docs.md
  docs/versioned_docs/version-v0.26.1/05-contributing/01-plugins.md
Labels: docs, Skip-Changelog

#3501 fix: update msg_server_test.go.plush
  ignite/templates/module/create/files/msgserver/x/{{moduleName}}/keeper/msg_server_test.go.plush
Labels: Skip-Changelog

#3520 fix: correct missing template import
  ignite/templates/module/create/files/msgserver/x/{{moduleName}}/keeper/msg_server_test.go.plush
Labels: bug, Skip-Changelog

#3513 chore: update some go package with security vulnerabilities
  docs/docs/07-packages/cosmostxcollector.md
  docs/versioned_docs/version-v0.25.2/packages/cosmostxcollector.md
  docs/versioned_docs/version-v0.26.1/07-packages/cosmostxcollector.md
  go.mod
  go.sum
  scripts/data/gen-nodetime/package-lock.json
  scripts/data/gen-nodetime/package.json
Labels: Skip-Changelog
