Repository ignite/cli, pull requests merged in 2023-11, with the labels that each got.

#3725 fix: Optimise ts-client generation
  changelog.md
  ignite/pkg/cosmosgen/generate_openapi.go
  ignite/pkg/nodetime/programs/swagger-combine/swagger-combine.go
  ignite/templates/app/files/go.mod.plush
  ignite/templates/app/files/proto/buf.gen.sta.yaml
Labels: :robot: CI, :bookmark: templates, :wrench: configs, :package: packages

#3729 fix: Don't cache modules with tmp includes
  changelog.md
  ignite/pkg/cosmosgen/generate.go
Labels: :robot: CI, :wrench: configs, :package: packages

#3715 feat: add test suite for the cli tests
  changelog.md
  ignite/templates/module/create/files/base/x/{{moduleName}}/client/cli/suite_test.go.plush
  ignite/templates/testutil/files/testutil/network/network.go.plush
  ignite/templates/typed/list/files/component/x/{{moduleName}}/client/cli/query_{{typeName}}_test.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/client/cli/tx_{{typeName}}_test.go.plush
  ignite/templates/typed/map/files/tests/component/x/{{moduleName}}/client/cli/query_{{typeName}}_test.go.plush
  ignite/templates/typed/map/files/tests/messages/x/{{moduleName}}/client/cli/tx_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/client/cli/query_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/client/cli/tx_{{typeName}}_test.go.plush
Labels: :robot: CI, :bookmark: templates, :wrench: configs

#3732 docs: change docs owner
  .github/CODEOWNERS
Labels: Skip-Changelog, :robot: CI, :wrench: configs

#3731 chore: track `.tpl` files changes in the integration tests
  .github/workflows/test-integration.yml
Labels: Skip-Changelog, :robot: CI, :wrench: configs

#3733 docs: Update 01-go-client.md comments on broadcasting a transaction
  docs/versioned_docs/version-v0.27.2/03-clients/01-go-client.md
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :book: docs

#3722 chore: remove unused parameters from the config yaml
  ignite/config/chain/base/config.go
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :door: internal

#3728 fix(protoanalysis): fix wrong parser for proto package names
  changelog.md
  go.mod
  go.sum
  ignite/pkg/cosmosanalysis/module/module.go
  ignite/pkg/protoanalysis/package.go
  ignite/pkg/protoanalysis/package_test.go
  ignite/services/chain/generate.go
Labels: :robot: CI, :wrench: configs, :taxi: services, :package: packages

#3738 chore: add myself to docs reviewers
  .github/CODEOWNERS
Labels: :robot: CI, :wrench: configs

#3726 chore: ts-client dependency updates. Update vue/react templates
  changelog.md
  go.mod
  go.sum
  ignite/pkg/cosmosgen/templates/module/module.ts.tpl
  ignite/pkg/cosmosgen/templates/root/client.ts.tpl
  ignite/pkg/cosmosgen/templates/root/package.json.tpl
  ignite/pkg/cosmosgen/templates/root/tsconfig.json.tpl
Labels: :robot: CI, :wrench: configs, :package: packages

#3730 docs: add tokenfactory tutorial
  docs/docs/02-guide/06-tokenfactory/01-tokenfactory.md
  docs/docs/02-guide/06-tokenfactory/02-denoms.md
  docs/docs/02-guide/06-tokenfactory/_category_.json
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :book: docs

#3735 chore: add `go.sum` from the testdata chain into the `.gitignore` file
  .gitignore
Labels: Skip-Changelog, :robot: CI, :wrench: configs

#3529 refactor: change plugin system to use gRPC
  .github/workflows/proto-checker.yml
  .gitignore
  Makefile
  buf.work.yaml
  changelog.md
  docs/docs/apps/02-developing-apps.md
  go.mod
  go.sum
  ignite/cmd/plugin.go
  ignite/cmd/plugin_default.go
  ignite/cmd/plugin_test.go
  ignite/config/chain/config.go
  ignite/internal/tools/tools.go
  ignite/pkg/cosmosanalysis/module/module.go
  ignite/pkg/cosmosclient/mocks/account_retriever.go
  ignite/pkg/cosmosclient/mocks/bank_query_client.go
  ignite/pkg/cosmosclient/mocks/faucet_client.go
  ignite/pkg/cosmosclient/mocks/gasometer.go
  ignite/pkg/cosmosclient/mocks/rpc_client.go
  ignite/pkg/cosmosclient/mocks/signer.go
  ignite/pkg/cosmostxcollector/mocks/saver.go
  ignite/pkg/cosmostxcollector/mocks/txs_collector.go
  ignite/pkg/protoanalysis/package.go
  ignite/services/chain/chain.go
  ignite/services/plugin/cache.go
  ignite/services/plugin/cache_test.go
  ignite/services/plugin/client_api.go
  ignite/services/plugin/grpc/v1/client_api.pb.go
  ignite/services/plugin/grpc/v1/interface.pb.go
  ignite/services/plugin/grpc/v1/interface_command.go
  ignite/services/plugin/grpc/v1/interface_flag.go
  ignite/services/plugin/grpc/v1/interface_hook.go
  ignite/services/plugin/grpc/v1/interface_manifest.go
  ignite/services/plugin/grpc/v1/service.pb.go
  ignite/services/plugin/grpc/v1/service_grpc.pb.go
  ignite/services/plugin/grpc/v1/types_command_test.go
  ignite/services/plugin/grpc/v1/types_hook_test.go
  ignite/services/plugin/grpc/v1/types_manifest_test.go
  ignite/services/plugin/interface.go
  ignite/services/plugin/interface_test.go
  ignite/services/plugin/mocks/client_api.go
  ignite/services/plugin/mocks/interface.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
  ignite/services/plugin/protocol.go
  ignite/services/plugin/scaffold.go
  ignite/services/plugin/scaffold_test.go
  ignite/services/plugin/template/go.mod.plush
  ignite/services/plugin/template/main.go.plush
  integration/plugin/plugin_test.go
  integration/plugin/testdata/example-plugin/go.mod
  integration/plugin/testdata/example-plugin/go.sum
  integration/plugin/testdata/example-plugin/main.go
  proto/buf.gen.yaml
  proto/buf.md
  proto/buf.yaml
  proto/ignite/services/plugin/grpc/v1/client_api.proto
  proto/ignite/services/plugin/grpc/v1/interface.proto
  proto/ignite/services/plugin/grpc/v1/service.proto
Labels: refactoring, plugin, :robot: CI, :wrench: configs, :book: docs, :arrow_forward: cmd, :taxi: services, :door: internal, :package: packages

#3705 docs: update tutorials to work with SDK `v0.50`
  .github/workflows/md-link-checker-config.json
  docs/docs/02-guide/04-blog/00-express.md
  docs/docs/02-guide/04-blog/03-create.md
  docs/docs/02-guide/04-blog/04-update.md
  docs/docs/02-guide/04-blog/05-delete.md
  docs/docs/02-guide/04-blog/07-list.md
  docs/docs/02-guide/04-blog/08-play.md
  docs/docs/02-guide/05-loan/02-bank.md
  docs/docs/02-guide/05-loan/03-request.md
  docs/docs/02-guide/05-loan/04-approve.md
  docs/docs/02-guide/05-loan/05-repay.md
  docs/docs/02-guide/05-loan/06-liquidate.md
  docs/docs/02-guide/05-loan/07-cancel.md
  docs/docs/02-guide/05-loan/08-play.md
  docs/docs/02-guide/06-ibc.md
  docs/docs/06-migration/v0.24.0.md
  docs/docs/06-migration/v0.26.0.md
  docs/versioned_docs/version-v0.27.2/02-guide/02-getting-started.md
  docs/versioned_docs/version-v0.27.2/02-guide/06-ibc.md
  docs/versioned_docs/version-v0.27.2/02-guide/10-simapp.md
  docs/versioned_docs/version-v0.27.2/03-clients/02-typescript.md
  docs/versioned_docs/version-v0.27.2/06-migration/v0.19.2.md
  docs/versioned_docs/version-v0.27.2/06-migration/v0.26.0.md
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :book: docs

#3736 docs: Improve the Introduction chapter
  docs/docs/02-guide/00-introduction.md
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :book: docs

#3745 feat(faucet): set tx fee amount as option
  changelog.md
  ignite/pkg/chaincmd/chaincmd.go
  ignite/pkg/chaincmd/runner/chain.go
  ignite/pkg/cosmosfaucet/cosmosfaucet.go
  ignite/pkg/cosmosfaucet/transfer.go
  integration/plugin/testdata/example-plugin/go.mod
  integration/plugin/testdata/example-plugin/go.sum
Labels: component:ci, component:configs, component:packages, :robot: CI, :wrench: configs, :package: packages

#3751 ci: change the changelog enforcer label name
  .github/workflows/cl-enforcer.yml
  changelog.md
Labels: skip-changelog, :robot: CI, :wrench: configs

#3747 feat: setup algolia crawler schedule
  docs/docusaurus.config.js
Labels: skip-changelog, :robot: CI, :wrench: configs, :book: docs

#3748 fix: use better default rpc
  changelog.md
  docs/docs/07-packages/cosmostxcollector.md
  docs/docs/08-references/01-cli.md
  ignite/cmd/node.go
  ignite/cmd/relayer_configure.go
Labels: :robot: CI, :wrench: configs, :arrow_forward: cmd, :book: docs

#3750 chore: update network app version
  changelog.md
  ignite/cmd/plugin_default.go
Labels: component:apps, :robot: CI, :wrench: configs, :arrow_forward: cmd

#3724 feat: add or vendor proto packages from Go dependencies
  changelog.md
  ignite/cmd/generate.go
  ignite/cmd/generate_composables.go
  ignite/cmd/generate_go.go
  ignite/cmd/generate_hooks.go
  ignite/cmd/generate_openapi.go
  ignite/cmd/generate_pulsar.go
  ignite/cmd/generate_typescript_client.go
  ignite/cmd/generate_vuex.go
  ignite/pkg/cosmosbuf/buf.go
  ignite/pkg/cosmosgen/cosmosgen.go
  ignite/pkg/cosmosgen/generate.go
  ignite/pkg/cosmosgen/generate_go.go
  ignite/pkg/cosmosgen/generate_openapi.go
  ignite/pkg/cosmosgen/generate_typescript.go
  ignite/services/chain/generate.go
  ignite/services/scaffolder/scaffolder.go
Labels: type:feature, component:ci, component:configs, component:cmd, type:services, component:packages, :robot: CI, :wrench: configs, :package: packages, :arrow_forward: cmd, :taxi: services

#3754 fix(github): change github action
  .github/workflows/docs-deploy.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-nightly.yml
Labels: :robot: CI, :wrench: configs

#3755 fix: correct changelog entries
  changelog.md
Labels: type:bug, skip-changelog, :robot: CI, :wrench: configs

#3756 feat: add faucet compatibility for latest sdk chains
  changelog.md
  ignite/pkg/chaincmd/chaincmd.go
  ignite/pkg/chaincmd/runner/chain.go
  ignite/pkg/cosmosfaucet/cosmosfaucet.go
  ignite/pkg/cosmosfaucet/transfer.go
  ignite/pkg/cosmosver/cosmosver.go
  ignite/services/chain/faucet.go
Labels: :robot: CI, :wrench: configs, :package: packages, :taxi: services

#3758 fix: fix ibc registration in 0.50
  ignite/templates/app/files/app/app_config.go.plush
  ignite/templates/app/files/app/ibc.go.plush
Labels: skip-changelog, :robot: CI, :bookmark: templates, :wrench: configs

#3765 chore: Modify README within blockchain for frontend
  ignite/templates/app/files/readme.md.plush
Labels: skip-changelog, :robot: CI, :bookmark: templates, :wrench: configs

#3766 fix: ibc basic docs
  docs/docs/02-guide/06-ibc.md
Labels: skip-changelog, :robot: CI, :wrench: configs, :book: docs

#3767 fix: `v0.50` ibc genesis issue
  changelog.md
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/app/ibc.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
Labels: :robot: CI, :bookmark: templates, :wrench: configs

#3769 docs: Try to make the welcome page more exciting
  docs/docs/01-welcome/01-index.md
Labels: skip-changelog, :robot: CI, :wrench: configs, :book: docs

#3773 docs: Increase required go version
  docs/docs/01-welcome/02-install.md
Labels: skip-changelog, :robot: CI, :wrench: configs, :book: docs

#3768 docs: Modify Hello world tutorial
  docs/docs/02-guide/03-hello-world.md
  docs/docs/02-guide/03-hello/00-express.md
  docs/docs/02-guide/03-hello/01-scaffolding.md
  docs/docs/02-guide/03-hello/_category_.json
Labels: skip-changelog, :robot: CI, :wrench: configs, :book: docs

#3694 feat: support autocli
  Makefile
  changelog.md
  ignite/cmd/generate.go
  ignite/cmd/generate_pulsar.go
  ignite/pkg/cosmosgen/cosmosgen.go
  ignite/pkg/cosmosgen/generate_go.go
  ignite/services/chain/generate.go
  ignite/services/scaffolder/init.go
  ignite/services/scaffolder/scaffolder.go
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/client/cli/query_{{queryName}}.go.plush
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/client/cli/tx_oracle.go.plush
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/client/cli/tx_{{queryName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/client/cli/tx_{{packetName}}.go.plush
  ignite/templates/ibc/oracle.go
  ignite/templates/ibc/packet.go
  ignite/templates/ibc/placeholders.go
  ignite/templates/ibc/templates/packet/tx.tpl
  ignite/templates/message/files/message/x/{{moduleName}}/client/cli/tx_{{msgName}}.go.plush
  ignite/templates/message/message.go
  ignite/templates/module/create/files/base/x/{{moduleName}}/client/cli/query.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/client/cli/query_params.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/client/cli/suite_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/autocli.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
  ignite/templates/query/files/x/{{moduleName}}/client/cli/query_{{queryName}}.go.plush
  ignite/templates/query/placeholders.go
  ignite/templates/query/query.go
  ignite/templates/typed/list/files/component/x/{{moduleName}}/client/cli/query_{{typeName}}.go.plush
  ignite/templates/typed/list/files/component/x/{{moduleName}}/client/cli/query_{{typeName}}_test.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/client/cli/tx_{{typeName}}.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/client/cli/tx_{{typeName}}_test.go.plush
  ignite/templates/typed/list/list.go
  ignite/templates/typed/map/files/component/x/{{moduleName}}/client/cli/query_{{typeName}}.go.plush
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/client/cli/tx_{{typeName}}.go.plush
  ignite/templates/typed/map/files/tests/component/x/{{moduleName}}/client/cli/query_{{typeName}}_test.go.plush
  ignite/templates/typed/map/files/tests/messages/x/{{moduleName}}/client/cli/tx_{{typeName}}_test.go.plush
  ignite/templates/typed/map/map.go
  ignite/templates/typed/placeholders.go
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/client/cli/query_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/client/cli/query_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/client/cli/tx_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/client/cli/tx_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/singleton.go
Labels: component:ci, component:templates, component:configs, pr:dnm, :robot: CI, :package: packages, :arrow_forward: cmd, :taxi: services, :bookmark: templates, :wrench: configs

#3780 docs: Fix missing bullet point in Introduction
  docs/docs/02-guide/00-introduction.md
Labels: skip-changelog, :robot: CI, :wrench: configs, :book: docs

#3789 chore: small improvements gacli
  go.mod
  go.sum
  ignite/cmd/ignite/analytics.go
  ignite/pkg/gacli/doc.go
  ignite/pkg/gacli/gacli.go
Labels: skip-changelog, :robot: CI, :wrench: configs, :arrow_forward: cmd, :package: packages
