Repository ignite/cli, pull requests merged in 2023-04, with the labels that each got.

#3473 chore: change dependabot config to explicitly assign labels
  .github/dependabot.yml
Labels: CI&CD, Skip-Changelog

#3475 chore: temporarily skip network command integration tests
  integration/app.go
  integration/cosmosgen/bank_module_test.go
  integration/cosmosgen/bank_module_test.ts
  integration/cosmosgen/custom_module_test.go
  integration/network/network_test.go
  integration/network/request_test.go
  integration/testdata/tstestrunner/testutil/setup.ts
  integration/testdata/tstestrunner/vitest.config.ts
Labels: proposal, testing, network, Skip-Changelog

#3478 chore: fix changelog
  changelog.md
Labels: Skip-Changelog

#3471 fix(docs): fix broken links
  docs/docusaurus.config.js
  docs/package.json
  docs/readme.md
  docs/yarn.lock
Labels: Skip-Changelog

#3482 feat: add github worflow for clean up previous runs that are not completed
  .github/workflows/janitor.yml
Labels: Skip-Changelog

#3483 fix: set correct docker container tag for GH action
  actions/cli/Dockerfile
Labels: Skip-Changelog

#3485 feat: bump dev-drprasad/delete-tag-and-release to v0.2.1
  .github/workflows/release-nightly.yml
  ignite/templates/app/files/.github/workflows/release.yml
Labels: Skip-Changelog
