Repository ignite/cli, pull requests merged in 2023-07, with the labels that each got.

#3540 fix(docs): fix install command on docs/01-welcome/01-index.md
  docs/docs/01-welcome/01-index.md
Labels: Skip-Changelog

#3574 fix: update instruction link for ignite CLI version upgradation
  ignite/cmd/cmd.go
Labels: Skip-Changelog

#3572 fix(cmd): fix wrong app path for migrations
  ignite/cmd/account.go
  ignite/cmd/chain.go
  ignite/cmd/cmd.go
  ignite/cmd/node.go
  ignite/cmd/node_query.go
  ignite/cmd/plugin.go
  ignite/cmd/scaffold.go
  ignite/cmd/tools.go
Labels: Skip-Changelog

#3576 fix: docs for scaffold map
  ignite/cmd/scaffold_map.go
Labels: Skip-Changelog

#3595 chore: add back crisis module to SetOrderBeginBlockers
  changelog.md
  ignite/templates/app/files/app/app.go.plush
Labels: bug, Skip-Changelog

#3592 fix(pkg/protoanalysis): support HTTP rule parameter arguments
  changelog.md
  ignite/pkg/protoanalysis/builder.go
Labels: bug

#3594 fix: scaffold_map typo
  ignite/cmd/scaffold_map.go
Labels: Skip-Changelog

#3564 fix: update the "Upgrade is available" text
  docs/docs/01-welcome/02-install.md
  docs/docusaurus.config.js
  docs/versioned_docs/version-v0.25.2/guide/01-install.md
  docs/versioned_docs/version-v0.26.1/01-welcome/02-install.md
  docs/versioned_docs/version-v0.27.1/01-welcome/02-install.md
  ignite/cmd/cmd.go
Labels: Skip-Changelog

#3597 ci: remove `go` snippet syntax from migration docs
  docs/docs/06-migration/v0.27.1.md
  docs/versioned_docs/version-v0.27.1/06-migration/v0.27.1.md
Labels: docs, CI&CD, Skip-Changelog
