Repository ignite/cli, pull requests merged in 2023-09, with the labels that each got.

#3614 feat: use DefaultBaseappOptions for app.New method
  changelog.md
  ignite/pkg/cosmosanalysis/testdata/chain/go.mod
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
Labels: :robot: CI, :bookmark: templates, :wrench: configs, :package: packages

#3646 fix: Update 06-show.md
  docs/docs/02-guide/04-blog/06-show.md
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :book: docs

#3623 feat(docs): Fixed typo in vue docs
  docs/docs/03-clients/03-vue.md
  docs/versioned_docs/version-v0.26.1/03-clients/03-vue.md
  docs/versioned_docs/version-v0.27.1/03-clients/03-vue.md
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :book: docs

#3649 docs: typo in the Synopsis of documentation
  docs/docs/08-references/01-cli.md
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :book: docs

#3652 ci: add missing workflow check to linter
  .github/workflows/test-lint.yml
Labels: Skip-Changelog, :robot: CI, :wrench: configs

#3656 chore: disable Go toolchain download
  changelog.md
  ignite/pkg/gocmd/gocmd.go
Labels: bug, :robot: CI, :wrench: configs, :package: packages

#3626 feat: Make relayer logging level configurable
  changelog.md
  scripts/data/gen-nodetime/src/relayer/index.ts
  scripts/data/gen-nodetime/src/relayer/lib/logger.ts
  scripts/data/gen-nodetime/src/relayer/lib/relayer.ts
Labels: :robot: CI, :wrench: configs

#3653 feat: add "app" extension to plugin binaries
  changelog.md
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
Labels: plugin, :robot: CI, :wrench: configs, :taxi: services

#3658 feat: rename Marshaler to Codec
  changelog.md
  ignite/templates/app/files/app/encoding.go.plush
  ignite/templates/app/files/app/params/encoding.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
  ignite/templates/testutil/files/testutil/network/network.go.plush
Labels: :robot: CI, :bookmark: templates, :wrench: configs

#3666 feat: Use go list cmd to find ignite cli package in integration tests
  go.sum
  ignite/pkg/gocmd/gocmd.go
  ignite/pkg/gocmd/gocmd_test.go
  integration/env.go
Labels: Skip-Changelog, :robot: CI, :wrench: configs, :package: packages

#3661 fix: find Cosmos SDK runtime app registered modules
  changelog.md
  ignite/pkg/cosmosanalysis/app/app.go
  ignite/pkg/cosmosanalysis/app/app_test.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/runtime_api_routes/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/runtime_api_routes/go.mod
  ignite/pkg/goenv/goenv.go
  ignite/pkg/goenv/goenv_test.go
Labels: enhancement, :robot: CI, :wrench: configs, :package: packages

#3672 refactor: v0.50 store app wiring
  ignite/pkg/cosmosanalysis/cosmosanalysis.go
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/app/ibc.go.plush
Labels: Skip-Changelog, :robot: CI, :bookmark: templates, :wrench: configs, :package: packages

#3673 refactor: remove unecessary boilerplate in module
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/types/{{queryName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/types/messages_{{packetName}}.go.plush
  ignite/templates/message/files/message/x/{{moduleName}}/types/message_{{msgName}}.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/keys.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/msg_update_params.go.plush
  ignite/templates/module/create/files/msgserver/proto/{{appName}}/{{moduleName}}/tx.proto.plush
  ignite/templates/typed/gogoproto.go
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/proto.go
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
Labels: :robot: CI, :bookmark: templates, :wrench: configs

#3675 refactor: simplify app.go
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
  ignite/templates/app/files/go.mod.plush
Labels: Skip-Changelog, :robot: CI, :bookmark: templates, :wrench: configs

#3671 chore: add julien and ehsan to codeowners file
  .github/CODEOWNERS
Labels: Skip-Changelog, :robot: CI, :wrench: configs

#3676 refactor: remove unnecessary boilerplate (part 2)
  docs/docs/02-guide/03-hello/01-scaffolding.md
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/client/cli/query.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/codec.go.plush
Labels: Skip-Changelog, :robot: CI, :bookmark: templates, :wrench: configs, :book: docs
