Repository ignite/cli, pull requests merged in 2024-09, with the labels that each got.

#4336 fix(ci): missed condition
  .github/workflows/md-link-checker.yml
  .github/workflows/test-cov.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
  ignite/cmd/plugin_test.go
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_ok/go.mod
  integration/plugin/testdata/example-plugin/go.mod
  scripts/test
  scripts/test-vue
Labels: skip-changelog, component:ci, component:configs, component:cmd, type:internal

#4297 feat: int in-place testnet creation
  changelog.md
  docs/docs/03-CLI-Commands/01-cli-commands.md
  ignite/cmd/cmd.go
  ignite/cmd/testnet.go
  ignite/cmd/testnet_inplace.go
  ignite/pkg/chaincmd/chaincmd.go
  ignite/pkg/chaincmd/in-place-testnet.go
  ignite/pkg/chaincmd/runner/chain.go
  ignite/services/chain/runtime.go
  ignite/services/chain/testnet.go
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/commands.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/testnet.go.plush
  ignite/templates/app/files/go.mod.plush
Labels: component:docs, component:ci, component:templates, component:configs, component:cmd, type:services, component:packages, backport/v28.x.y

#4214 fix(docs): fix the relayer for the ibc guides
  docs/docs/02-guide/04-ibc.md
  integration/relayer/cmd_relayer_test.go
Labels: component:docs, skip-changelog, component:ci, component:configs

#4345 feat: added survey link
  changelog.md
  ignite/cmd/model/chain_serve.go
  ignite/pkg/announcements/announcement.go
  ignite/pkg/announcements/announcement_test.go
  ignite/pkg/cliui/icons/icon.go
Labels: component:ci, component:configs, component:cmd, component:packages, backport/v28.x.y

#4350 fix: skip upgrade prefix for sim tests
  changelog.md
  ignite/templates/app/files/app/sim_test.go.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4348 chore: rename in place testnet command
  ignite/templates/app/files-consumer/app/app.go.plush
  ignite/templates/app/files-minimal/app/app.go.plush
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/commands.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/testnet.go.plush
Labels: skip-changelog, component:ci, component:templates, component:configs

#4349 chore: rename in place testnet command
  ignite/templates/app/files-minimal/app/app.go.plush
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/commands.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/testnet.go.plush
Labels: skip-changelog, component:ci, component:templates, component:configs

#4354 build(deps): bump cosmossdk.io/store
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
Labels: skip-changelog, component:ci, component:templates, component:configs, backport/v28.x.y

#4355 chore: sync changelog
  changelog.md
Labels: component:ci, component:configs

#4328 feat: report bug to sentry
  changelog.md
  go.mod
  ignite/cmd/ignite/main.go
  ignite/internal/analytics/analytics.go
  ignite/pkg/errors/xerrors.go
  ignite/pkg/sentry/sentry.go
Labels: component:ci, component:configs, component:cmd, type:internal, component:packages

#4361 chore: remove unused `KeyPrefix` method
  changelog.md
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/genesis.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/keys.go.plush
Labels: component:ci, component:templates, component:configs

#4359 chore: do not proxy sentry dsn
  ignite/cmd/ignite/main.go
  ignite/cmd/testnet_inplace.go
  ignite/internal/analytics/analytics.go
  ignite/pkg/announcements/announcement.go
  ignite/pkg/sentry/sentry.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, type:internal, component:packages, backport/v28.x.y

#4366 docs: Update Discord invitation link
  readme.md
Labels: skip-changelog, component:ci, component:configs, backport/v28.x.y

#4363 chore: do not proxy sentry dsn (#4359)
  ignite/cmd/ignite/main.go
  ignite/cmd/testnet_inplace.go
  ignite/internal/analytics/analytics.go
  ignite/pkg/announcements/announcement.go
  ignite/pkg/sentry/sentry.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, type:internal, component:packages

#4368 docs: fix discord link again
  readme.md
Labels: skip-changelog, component:ci, component:configs, backport/v28.x.y

#4370 chore: use tagged ibc version
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs

#4372 chore: bump sdk
  changelog.md
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs

#4373 chore: add 28.5.3 to main changelog
  changelog.md
Labels: component:ci, component:configs

#4376 refactor: use different chain id for in place testnet
  changelog.md
  ignite/cmd/testnet_inplace.go
Labels: component:ci, component:configs, component:cmd, backport/v28.x.y
