Repository ignite/cli, pull requests merged in 2024-04, with the labels that each got.

#4058 refactor(templates)!: remove ValidateBasic() and use address codec
  changelog.md
  ignite/pkg/cosmostestutil/sample/sample_test.go
  ignite/templates/ibc/files/packet/component/x/{{moduleName}}/keeper/{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/component/x/{{moduleName}}/types/packet_{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/client/cli/tx_{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/keeper/msg_server_{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/keeper/msg_server_{{packetName}}_test.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/types/messages_{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/types/messages_{{packetName}}_test.go.plush
  ignite/templates/message/files/message/x/{{moduleName}}/keeper/msg_server_{{msgName}}.go.plush
  ignite/templates/message/files/message/x/{{moduleName}}/types/message_{{msgName}}.go.plush
  ignite/templates/message/files/message/x/{{moduleName}}/types/message_{{msgName}}_test.go.plush
  ignite/templates/module/create/files/base/testutil/keeper/{{moduleName}}.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/keeper.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/msg_update_params.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/msg_update_params_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/query_params_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/genesis_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/msg_update_params.go.plush
  ignite/templates/module/create/files/ibc/testutil/keeper/{{moduleName}}.go.plush
  ignite/templates/module/create/files/msgserver/x/{{moduleName}}/keeper/msg_server_test.go.plush
  ignite/templates/typed/list/files/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/types/messages_{{typeName}}_test.go.plush
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/types/messages_{{typeName}}_test.go.plush
  ignite/templates/typed/map/files/tests/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/map/files/tests/component/x/{{moduleName}}/keeper/{{typeName}}_test.go.plush
  ignite/templates/typed/map/files/tests/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/types/messages_{{typeName}}_test.go.plush
Labels: component:ci, component:templates, component:configs, component:packages

#4033 fix(cmd): re-enable cobra `__complete` command
  changelog.md
  ignite/cmd/cmd.go
  ignite/cmd/completion.go
  ignite/internal/tools/gen-cli-docs/main.go
Labels: component:ci, component:configs, component:cmd, type:internal, backport/v28.x.y

#4067 docs: Update 01-tokenfactory.md
  docs/docs/02-guide/06-tokenfactory/01-tokenfactory.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#4073 fix: buf dependency for the doctor tests
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
  integration/doctor/testdata/missing-tools.go.txt
Labels: skip-changelog, component:ci, component:templates, component:configs

#4079 chore: bump codecov action
  .github/workflows/test.yml
Labels: skip-changelog, component:ci, component:configs

#4082 ci: don't fail if codecov fails
  .github/workflows/test.yml
Labels: skip-changelog, backport/v28.x.y

#4087 chore: use golang stable version into the CI
  .github/workflows/docs-deploy-preview.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/gen-docs-cli.yml
  .github/workflows/gen-docs-version.yml
  .github/workflows/go-formatting.yml
  .github/workflows/md-link-checker.yml
  .github/workflows/proto-checker.yml
  .github/workflows/release-binary.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-nightly.yml
  .github/workflows/release-snapcraft.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
  ignite/templates/app/files/.github/workflows/release.yml
Labels: skip-changelog, component:ci, component:configs

#4084 fix(gen-cli-docs): fix flag parsing and re-gen
  docs/docs/08-references/01-cli.md
  ignite/internal/tools/gen-cli-docs/main.go
Labels: component:docs, skip-changelog, component:ci, component:configs, type:internal

#4077 feat: merge the swagger files manually instead use nodetime `swagger-combine`
  changelog.md
  go.mod
  go.sum
  ignite/pkg/cosmosgen/generate_openapi.go
  ignite/pkg/nodetime/programs/swagger-combine/swagger-combine.go
  ignite/pkg/swagger-combine/swagger-combine.go
Labels: component:ci, component:configs, component:packages

#3718 feat: tool for comparing different ignite versions
  .github/workflows/gen-docs-migration.yml
  changelog.md
  ignite/internal/tools/gen-mig-diffs/cmd/root.go
  ignite/internal/tools/gen-mig-diffs/go.mod
  ignite/internal/tools/gen-mig-diffs/go.sum
  ignite/internal/tools/gen-mig-diffs/main.go
  ignite/internal/tools/gen-mig-diffs/pkg/cache/cache.go
  ignite/internal/tools/gen-mig-diffs/pkg/diff/compute.go
  ignite/internal/tools/gen-mig-diffs/pkg/diff/compute_test.go
  ignite/internal/tools/gen-mig-diffs/pkg/diff/diff.go
  ignite/internal/tools/gen-mig-diffs/pkg/diff/subtract.go
  ignite/internal/tools/gen-mig-diffs/pkg/diff/subtract_test.go
  ignite/internal/tools/gen-mig-diffs/pkg/diff/testdata/modified/bar.txt
  ignite/internal/tools/gen-mig-diffs/pkg/diff/testdata/modified/foo.txt
  ignite/internal/tools/gen-mig-diffs/pkg/diff/testdata/modified/new.txt
  ignite/internal/tools/gen-mig-diffs/pkg/diff/testdata/modified/pkg/main.go
  ignite/internal/tools/gen-mig-diffs/pkg/diff/testdata/origin/bar.txt
  ignite/internal/tools/gen-mig-diffs/pkg/diff/testdata/origin/foo.txt
  ignite/internal/tools/gen-mig-diffs/pkg/diff/testdata/origin/pkg/main.go
  ignite/internal/tools/gen-mig-diffs/pkg/repo/repo.go
  ignite/internal/tools/gen-mig-diffs/pkg/scaffold/commands.go
  ignite/internal/tools/gen-mig-diffs/pkg/scaffold/scaffold.go
  ignite/internal/tools/gen-mig-diffs/templates/doc/doc.go
  ignite/internal/tools/gen-mig-diffs/templates/doc/files/{{Version}}.md.plush
  ignite/pkg/xstrings/xstrings_test.go
  scripts/gen-mig-diffs
Labels: component:ci, component:configs, type:internal, component:packages

#4093 chore: cleanup github cache
  .github/workflows/gh-cleanup-cache.yml
Labels: skip-changelog, component:ci, component:configs

#4075 chore: use `gopkg.in/yaml.v3` instead `gopkg.in/yaml.v2`
  changelog.md
  go.mod
  ignite/config/chain/config.go
  ignite/config/chain/convert.go
  ignite/config/chain/network/testdata/testdata.go
  ignite/config/chain/parse.go
  ignite/config/chain/v0/config.go
  ignite/config/chain/v0/testdata/config.yaml
  ignite/config/chain/v0/testdata/testdata.go
  ignite/config/chain/v1/config.go
  ignite/config/chain/v1/testdata/config.yaml
  ignite/config/chain/v1/testdata/config2.yaml
  ignite/config/chain/v1/testdata/testdata.go
  ignite/config/plugins/config.go
  ignite/config/plugins/config_test.go
  ignite/config/plugins/parse.go
  ignite/pkg/cosmosgen/generate.go
  ignite/pkg/xyaml/map_test.go
  ignite/services/doctor/doctor_plugins.go
  ignite/services/plugin/scaffold_test.go
  integration/app.go
  integration/doctor/testdata/config-need-migrate.txt
  integration/relayer/cmd_relayer_test.go
Labels: component:ci, component:configs, type:services, type:internal, component:packages

#4096 fix: add new reserved names module and remove duplicated genesis order
  changelog.md
  go.mod
  go.sum
  ignite/services/scaffolder/module.go
  ignite/templates/app/files-consumer/app/app_config.go.plush
  ignite/templates/app/files/app/app_config.go.plush
Labels: component:ci, component:templates, component:configs, type:services, backport/v28.x.y

#4098 docs: Update readme.md with link to tutorials
  readme.md
Labels: skip-changelog, component:ci, component:configs

#4103 chore: bump cosmos-sdk to `v0.50.6`
  changelog.md
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4091 fix: race conditions in the plugin logic
  changelog.md
  ignite/internal/plugin/execute.go
  ignite/services/plugin/protocol.go
  ignite/services/plugin/scaffold_test.go
  scripts/test-coverage
  scripts/test-integration
Labels: component:ci, component:configs, type:services, type:internal

#4102 chore: fix lint issues
  ignite/cmd/chain_lint.go
  ignite/cmd/cmd.go
  ignite/cmd/doctor.go
  ignite/cmd/plugin.go
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_ok/go.mod
  ignite/pkg/cosmostxcollector/adapter/postgres/schemas.go
  ignite/pkg/openapiconsole/console.go
  ignite/pkg/protoanalysis/protoutil/helpers.go
  ignite/pkg/relayer/relayer.go
  ignite/services/scaffolder/type.go
  ignite/templates/field/datatype/custom.go
  integration/plugin/testdata/example-plugin/go.mod
Labels: skip-changelog, component:ci, component:templates, component:configs, component:cmd, type:services, type:internal, component:packages

#4100 feat: set the `proto-dir` flag only for the `scaffold chain` command and use the proto path from the config
  changelog.md
  ignite/cmd/chain.go
  ignite/cmd/cmd.go
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_chain.go
  ignite/cmd/scaffold_configs.go
  ignite/cmd/scaffold_message.go
  ignite/cmd/scaffold_module.go
  ignite/cmd/scaffold_packet.go
  ignite/cmd/scaffold_params.go
  ignite/cmd/scaffold_query.go
  ignite/config/chain/parse.go
  integration/app/cmd_proto_path_test.go
Labels: component:ci, component:configs, component:cmd, type:internal

#4106 ci: don't fail fast
  .github/workflows/test-integration.yml
Labels: skip-changelog, component:ci, component:configs, backport/v28.x.y

#4111 refactor!: remove vuex generation
  changelog.md
  ignite/cmd/generate.go
  ignite/cmd/generate_vuex.go
  ignite/config/chain/config.go
  ignite/pkg/cosmosgen/cosmosgen.go
  ignite/pkg/cosmosgen/generate_vuex.go
  ignite/pkg/cosmosgen/templates/vue-root/index.ts.tpl
  ignite/pkg/cosmosgen/templates/vue-root/local-check.js.tpl
  ignite/pkg/cosmosgen/templates/vue-root/package.json.tpl
  ignite/pkg/cosmosgen/templates/vue-root/postinstall.js.tpl
  ignite/pkg/cosmosgen/templates/vue-root/tsconfig.json.tpl
  ignite/pkg/cosmosgen/templates/vue/index.ts.tpl
  ignite/services/chain/generate.go
  ignite/services/scaffolder/scaffolder.go
  integration/chain/cmd_serve_test.go
  integration/cosmosgen/cosmosgen_test.go
Labels: component:ci, component:configs, component:cmd, type:services, type:internal, component:packages

#4112 fix(templates): remove duplicate SetCmdClientContextHandler
  changelog.md
  ignite/templates/app/files-consumer/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
Labels: component:ci, component:templates, component:configs
