Repository ignite/cli, pull requests merged in 2024-11, with the labels that each got.

#4389 chore: 0.52 clean-ups
  go.mod
  go.sum
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_ok/go.mod
  ignite/internal/tools/gen-config-doc/go.mod
  ignite/internal/tools/gen-config-doc/go.sum
  ignite/internal/tools/gen-mig-diffs/go.mod
  ignite/internal/tools/gen-mig-diffs/go.sum
  ignite/pkg/cosmostxcollector/mocks/saver.go
  ignite/services/plugin/template/go.mod.plush
  ignite/templates/app/files/app/export.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/keys.go.plush
  ignite/templates/module/create/files/ibc/testutil/keeper/{{moduleName}}.go.plush
  integration/plugin/testdata/example-plugin/go.mod
Labels: skip-changelog, component:ci, component:templates, component:configs, type:services, type:internal, component:packages

#4377 feat: Add multi node (validator) testnet
  changelog.md
  docs/docs/03-CLI-Commands/01-cli-commands.md
  ignite/cmd/bubblemodel/chain_debug.go
  ignite/cmd/bubblemodel/chain_debug_test.go
  ignite/cmd/bubblemodel/chain_serve.go
  ignite/cmd/bubblemodel/chain_serve_test.go
  ignite/cmd/bubblemodel/testdata/testdata.go
  ignite/cmd/bubblemodel/testnet_multi_node.go
  ignite/cmd/chain_debug.go
  ignite/cmd/chain_serve.go
  ignite/cmd/testnet.go
  ignite/cmd/testnet_multi_node.go
  ignite/config/chain/v1/config.go
  ignite/pkg/chaincmd/chaincmd.go
  ignite/pkg/chaincmd/in-place-testnet.go
  ignite/pkg/chaincmd/runner/chain.go
  ignite/pkg/markdownviewer/markdownviewer.go
  ignite/services/chain/runtime.go
  ignite/services/chain/testnet.go
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/commands.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/testnet_multi_node.go.plush
  ignite/templates/app/files/config.yml.plush
Labels: component:docs, component:ci, component:templates, component:configs, component:cmd, type:services, type:internal, component:packages, backport/v28.x.y

#4400 chore: `make lint-fix`
  ignite/cmd/bubblemodel/testnet_multi_node.go
  ignite/cmd/testnet_multi_node.go
  ignite/pkg/chaincmd/in-place-testnet.go
  ignite/pkg/chaincmd/runner/chain.go
  ignite/pkg/markdownviewer/markdownviewer.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, component:packages

#4402 fix: fix gentx parser into the cosmosutil package
  changelog.md
  ignite/pkg/cosmosutil/gentx.go
  ignite/pkg/cosmosutil/gentx_test.go
  ignite/pkg/cosmosutil/testdata/gentx2.json
Labels: component:ci, component:configs, component:packages, backport/v28.x.y

#4401 feat: Add multi node (validator) testnet (backport #4377)
  ignite/cmd/bubblemodel/chain_debug_test.go
  ignite/cmd/bubblemodel/chain_serve_test.go
  ignite/cmd/bubblemodel/testnet_multi_node.go
  ignite/cmd/chain_debug.go
  ignite/cmd/chain_serve.go
  ignite/cmd/testnet_multi_node.go
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/commands.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/testnet_multi_node.go.plush
Labels: component:docs, component:ci, component:templates, component:configs, component:cmd, type:services, type:internal, component:packages

#4403 chore: disable web commands
  ignite/cmd/generate_composables.go
  ignite/cmd/generate_hooks.go
  ignite/cmd/generate_typescript_client.go
  ignite/cmd/scaffold_react.go
  ignite/cmd/scaffold_vue.go
  ignite/pkg/cosmosutil/gentx.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, component:packages, backport/v28.x.y

#4412 docs(blog): fix pointer type and add build steps
  docs/versioned_docs/version-v28/02-guide/04-blog.md
Labels: component:docs, component:ci, component:configs

#4421 fix(templates): fix simapp simulation method update->delete
  ignite/templates/typed/list/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
Labels: skip-changelog, component:ci, component:templates, component:configs, backport/v28.x.y

#4409 refactor(testnet): change alias and local-chains dir
  docs/docs/03-CLI-Commands/01-cli-commands.md
  ignite/cmd/testnet.go
  ignite/cmd/testnet_multi_node.go
Labels: component:docs, skip-changelog, component:ci, component:configs, component:cmd, backport/v28.x.y

#4424 chore: fix expected keepers
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/expected_keepers.go.plush
Labels: skip-changelog, component:ci, component:templates, component:configs

#4423 feat: integrate with v0.52.x (2/n)
  changelog.md
  ignite/cmd/scaffold_module.go
  ignite/templates/app/files/go.mod.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/keeper/msg_server_{{packetName}}_test.go.plush
  ignite/templates/module/create/files/base/testutil/keeper/{{moduleName}}.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/genesis.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/genesis_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/keeper.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/keeper_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/msg_update_params.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/msg_update_params_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/query_params_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/depinject.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/genesis.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/errors.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/keys.go.plush
  ignite/templates/module/create/files/ibc/x/{{moduleName}}/keeper/keeper_test.go.plush
  ignite/templates/module/create/ibc.go
  ignite/templates/typed/list/files/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/map/files/tests/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/map/files/tests/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/map/map.go
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/singleton.go
Labels: component:ci, component:templates, component:configs, component:cmd

#4428 docs(defi-loan): missing ErrInvalidSigner
  docs/versioned_docs/version-v28/02-guide/05-loan.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#4433 chore: bring v28.6.0 changelog to main
  changelog.md
Labels: skip-changelog, component:ci, component:configs
