Repository ignite/cli, pull requests merged in 2024-12, with the labels that each got.

#4434 fix: wrong coin sort for faucet
  go.mod
  go.sum
  ignite/cmd/chain_debug.go
  ignite/cmd/chain_serve.go
  ignite/cmd/testnet_multi_node.go
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_ok/go.mod
  ignite/pkg/chaincmd/chaincmd.go
  ignite/pkg/cliui/view/accountview/account_test.go
  ignite/pkg/cosmosfaucet/cosmosfaucet.go
  ignite/pkg/cosmosfaucet/http_faucet.go
  ignite/pkg/cosmosfaucet/transfer.go
  integration/faucet/faucet_test.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, type:internal, component:packages

#4436 feat: return tx hash to the faucet API
  changelog.md
  ignite/cmd/chain_faucet.go
  ignite/pkg/cosmosfaucet/client_http.go
  ignite/pkg/cosmosfaucet/http_faucet.go
  ignite/pkg/cosmosfaucet/transfer.go
  ignite/pkg/cosmosfaucet/try_retrieve.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, component:packages

#4432 feat: integrate with v0.52.x (3/n)
  changelog.md
  go.mod
  go.sum
  ignite/cmd/testnet.go
  ignite/cmd/testnet_inplace.go
  ignite/pkg/chaincmd/simulate.go
  ignite/templates/app/files/app/export.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/testnet.go.plush
  ignite/templates/app/files/go.mod.plush
  ignite/templates/message/files/simapp/x/{{moduleName}}/simulation/{{msgName}}.go.plush
  ignite/templates/message/message.go
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/depinject.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/simulation.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/simulation/helpers.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/simulation/params.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/expected_keepers.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/list/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
  ignite/templates/typed/list/simulation.go
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/map/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
  ignite/templates/typed/map/simulation.go
  ignite/templates/typed/placeholders.go
  ignite/templates/typed/simapp.go
  ignite/templates/typed/simulation.go
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
  ignite/templates/typed/singleton/simulation.go
Labels: component:ci, component:templates, component:configs, component:cmd, component:packages

#4439 refactor: remove moby/gorilla dependency
  go.mod
  go.sum
  ignite/pkg/archive/tar_gz.go
  ignite/pkg/cosmosfaucet/http.go
  ignite/services/chain/build.go
  ignite/services/chain/chain_test.go
Labels: skip-changelog, component:ci, component:configs, type:services, component:packages

#4437 feat: remove module placeholders
  changelog.md
  docs/docs/02-guide/04-ibc.md
  ignite/pkg/xast/function.go
  ignite/pkg/xast/function_test.go
  ignite/pkg/xast/global.go
  ignite/pkg/xast/global_test.go
  ignite/templates/ibc/packet.go
  ignite/templates/ibc/placeholders.go
  ignite/templates/message/message.go
  ignite/templates/message/placeholders.go
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/genesis.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/genesis_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/keeper.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/depinject.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/simulation.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/codec.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/genesis.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/genesis_test.go.plush
  ignite/templates/module/create/ibc.go
  ignite/templates/module/create/msgserver.go
  ignite/templates/module/create/params.go
  ignite/templates/module/placeholders.go
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/list/list.go
  ignite/templates/typed/list/simulation.go
  ignite/templates/typed/map/map.go
  ignite/templates/typed/map/simulation.go
  ignite/templates/typed/placeholders.go
  ignite/templates/typed/simulation.go
  ignite/templates/typed/singleton/simulation.go
  ignite/templates/typed/singleton/singleton.go
Labels: component:docs, component:ci, component:templates, component:configs, component:packages

#4445 refactor(templates): use go context instead of sdk.Context
  ignite/templates/ibc/files/packet/component/x/{{moduleName}}/keeper/{{packetName}}.go.plush
  ignite/templates/module/create/files/ibc/x/{{moduleName}}/module/module_ibc.go.plush
  integration/relayer/cmd_relayer_test.go
Labels: skip-changelog, component:ci, component:templates, component:configs

#4449 chore: bump sdk version in v28
  changelog.md
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs

#4450 build(deps): use SDK 0.52.0-rc.1
  changelog.md
  go.mod
  go.sum
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_ok/go.mod
  ignite/internal/tools/gen-config-doc/go.mod
  ignite/internal/tools/gen-mig-diffs/go.mod
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/go.mod.plush
  integration/plugin/testdata/example-plugin/go.mod
Labels: skip-changelog, component:ci, component:templates, component:configs, type:internal
