Repository ignite/cli, pull requests merged in 2024-07, with the labels that each got.

#4240 docs: Remove tutorials and link to the tutorials page
  docs/docs/02-guide/00-introduction.md
  docs/docs/02-guide/04-blog.md
  docs/docs/02-guide/04-ibc.md
  docs/docs/02-guide/05-debug.md
  docs/docs/02-guide/05-loan.md
  docs/docs/02-guide/06-docker.md
  docs/docs/02-guide/07-simapp.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#4156 chore: lint tests
  changelog.md
  ignite/cmd/plugin_test.go
  ignite/config/plugins/config_test.go
  ignite/internal/plugin/consumer_test.go
  ignite/pkg/cosmosclient/cosmosclient_test.go
  ignite/pkg/cosmosfaucet/http_test.go
  ignite/pkg/cosmostxcollector/adapter/postgres/postgres_test.go
  ignite/pkg/cosmostxcollector/collector_test.go
  ignite/pkg/dirchange/dirchange_test.go
  ignite/pkg/httpstatuschecker/httpstatuschecker_test.go
  ignite/pkg/jsonfile/jsonfile_test.go
  ignite/pkg/protoanalysis/protoutil/creator_test.go
  ignite/pkg/protoanalysis/protoutil/cursor_test.go
  ignite/pkg/protoanalysis/protoutil/proto_test.go
  ignite/pkg/xast/xast_test.go
  ignite/pkg/xembed/xembed_test.go
  ignite/pkg/xgit/xgit_test.go
  ignite/pkg/xhttp/response_test.go
  ignite/pkg/xtime/unix_test.go
  ignite/services/chain/chain_test.go
  ignite/services/chain/lint_test.go
  ignite/services/plugin/grpc/v1/types_command_test.go
  ignite/services/plugin/plugin_test.go
  ignite/services/plugin/scaffold_test.go
  ignite/services/scaffolder/type_test.go
  integration/app/cmd_proto_path_test.go
  integration/chain/cache_test.go
  integration/faucet/faucet_test.go
  integration/network/network_test.go
  integration/relayer/cmd_relayer_test.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, type:services, type:internal, component:packages

#4250 fix: set gas adjustment before calc
  ignite/pkg/cosmosclient/cosmosclient.go
Labels: skip-changelog, component:ci, component:configs, component:packages, backport/v28.x.y

#4253 build(deps): bump cosmos sdk
  changelog.md
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4249 fix(services): prevent app name with number
  changelog.md
  ignite/services/scaffolder/init.go
  integration/app/cmd_app_test.go
  integration/chain/cmd_serve_test.go
  integration/ibc/cmd_ibc_test.go
Labels: component:ci, component:configs, type:services, backport/v28.x.y

#4257 chore: bring v28.5.0 changelog on main
  changelog.md
Labels: component:ci, component:configs

#4264 chore: wire client/v2 fix
  ignite/templates/app/files-consumer/app/app.go.plush
  ignite/templates/app/files-minimal/app/app.go.plush
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/main.go.plush
  ignite/templates/app/files/go.mod.plush
Labels: skip-changelog, component:ci, component:templates, component:configs, backport/v28.x.y

#4262 chore: bring back default extensions
  changelog.md
  ignite/cmd/plugin_default.go
  ignite/cmd/plugin_default_test.go
Labels: component:ci, component:configs, component:cmd

#4261 chore: bump hermes app on main
  ignite/cmd/plugin_default.go
Labels: skip-changelog, component:ci, component:configs, component:cmd

#4263 fix: improve formatting upgrade message
  ignite/cmd/cmd.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, backport/v28.x.y

#4269 feat: add custom flag parser for extensions
  changelog.md
  ignite/cmd/plugin_test.go
  ignite/services/plugin/flag.go
  ignite/services/plugin/flag_test.go
  integration/plugin/testdata/example-plugin/main.go
Labels: component:ci, component:configs, component:cmd, type:services, backport/v28.x.y

#4272 chore: matomo update
  docs/docusaurus.config.js
Labels: skip-changelog

#4273 ci: remove consecutiveness step
  .github/workflows/docs-deploy.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-nightly.yml
Labels: skip-changelog, component:ci, component:configs, backport/v28.x.y

#4274 test: add more tests cases for the new app flag parser
  ignite/services/plugin/flag_test.go
Labels: skip-changelog, component:ci, component:configs, type:services

#4276 feat(cosmosclient): add tx options (incl memo setting)
  changelog.md
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/pkg/cosmosclient/rpc.go
  ignite/pkg/cosmosclient/signer.go
  ignite/pkg/cosmosclient/tx_options.go
Labels: component:ci, component:configs, component:packages, backport/v28.x.y

#4270 feat: add flags to the extension hooks commands
  changelog.md
  ignite/cmd/plugin.go
  ignite/services/plugin/grpc/v1/client_api.pb.go
  ignite/services/plugin/grpc/v1/interface.pb.go
  ignite/services/plugin/grpc/v1/interface_command.go
  ignite/services/plugin/grpc/v1/interface_flag.go
  ignite/services/plugin/grpc/v1/interface_hook.go
  ignite/services/plugin/grpc/v1/service.pb.go
  ignite/services/plugin/grpc/v1/service_grpc.pb.go
  proto/ignite/services/plugin/grpc/v1/interface.proto
Labels: component:ci, component:configs, component:cmd, type:services, backport/v28.x.y
