Repository ignite/cli, pull requests merged in 2024-02, with the labels that each got.

#3931 fix: fix `app update` command and duplicated apps
  changelog.md
  ignite/cmd/cmd.go
  ignite/cmd/plugin.go
Labels: component:ci, component:configs, component:cmd, backport/v28.x.y

#3923 docs(readme): add installation commands
  readme.md
Labels: skip-changelog, component:ci, component:configs

#3942 docs: fix menu separator mobile
  docs/src/css/custom.css
Labels: component:docs, skip-changelog, component:ci, component:configs

#3941 style: fix searchbar border color in docs
  docs/src/css/custom.css
Labels: component:docs, skip-changelog, component:ci, component:configs

#3944 chore: update installation instructions
  .gitpod/readme.md
  docs/docs/01-welcome/02-install.md
  readme.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#3943 refactor(services): add suggestions for logging on `serve` failure
  ignite/services/chain/serve.go
Labels: skip-changelog, component:ci, component:configs, type:services, backport/v28.x.y

#3940 chore: bump cometbft to `v0.38.5`
  go.mod
  go.sum
  ignite/services/plugin/template/go.mod.plush
  ignite/templates/app/files/go.mod.plush
Labels: skip-changelog, component:ci, component:templates, component:configs, type:services, backport/v28.x.y

#3939 chore: prepare v28.2.0
  changelog.md
Labels: skip-changelog, component:ci, component:configs

#3948 chore: fix linting issue in plugin command
  ignite/cmd/plugin.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, backport/v28.x.y

#3953 fix: Apps Stdout is redirected to Stderr
  changelog.md
  ignite/services/plugin/plugin.go
Labels: component:ci, component:configs, type:services, hotfix, backport/v28.x.y

#3952 chore: add v28.2.0 changelog to main
  changelog.md
Labels: skip-changelog, component:ci, component:configs

#3956 feat: prepare for wasm app
  changelog.md
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/app/ibc.go.plush
Labels: component:ci, component:templates, component:configs

#3959 fix: remove app name prefix from the `.gitignore` file
  changelog.md
  ignite/services/plugin/template/.gitignore.plush
Labels: component:ci, component:configs

#3958 fix(templates): fix lint errors in scaffolded chain
  ignite/templates/app/files/app/export.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
  ignite/templates/app/files/docs/docs.go.plush
  ignite/templates/module/create/files/base/testutil/keeper/{{moduleName}}.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/genesis.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/simulation.go.plush
  ignite/templates/module/create/files/ibc/testutil/keeper/{{moduleName}}.go.plush
Labels: skip-changelog, component:ci, component:templates, component:configs, backport/v28.x.y

#3963 fix: init app client API chainer only when chain info is available
  changelog.md
  ignite/cmd/plugin.go
Labels: type:bug, component:apps, component:ci, component:configs, component:cmd, backport/v28.x.y

#3950 chore: add homebrew formula
  .github/workflows/release-homebrew.yml
  .github/workflows/release-snapcraft.yml
  .gitpod/readme.md
  docs/docs/01-welcome/02-install.md
  packaging/brew/ignite.rb
  packaging/readme.md
  readme.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#3974 chore: codeowners
  .github/CODEOWNERS
Labels: component:ci, component:configs

#3972 feat: skip Ignite app load for some commands
  changelog.md
  ignite/cmd/cmd.go
Labels: component:ci, component:configs, component:cmd, backport/v28.x.y

#3976 chore: remove error check after command flag get
  changelog.md
  ignite/cmd/chain_debug.go
  ignite/cmd/chain_serve.go
  ignite/cmd/generate_composables.go
  ignite/cmd/generate_hooks.go
  ignite/cmd/generate_typescript_client.go
  ignite/cmd/generate_vuex.go
  ignite/cmd/relayer_configure.go
  ignite/cmd/scaffold_band.go
  ignite/cmd/scaffold_chain.go
  ignite/cmd/scaffold_map.go
  ignite/cmd/scaffold_module.go
  ignite/cmd/scaffold_package.go
  ignite/cmd/scaffold_query.go
Labels: component:ci, component:configs, component:cmd

#3977 feat(cmd): add `chain lint` command
  changelog.md
  ignite/cmd/chain.go
  ignite/cmd/chain_lint.go
  ignite/services/chain/lint.go
  ignite/services/chain/lint_test.go
  ignite/templates/app/files/app/ibc.go.plush
Labels: component:ci, component:templates, component:configs, component:cmd, type:services

#3770 feat: add `scaffold configs` and `scaffold params` commands and start remove placeholders
  changelog.md
  ignite/cmd/chain_lint.go
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_chain.go
  ignite/cmd/scaffold_configs.go
  ignite/cmd/scaffold_module.go
  ignite/cmd/scaffold_params.go
  ignite/pkg/goanalysis/goanalysis.go
  ignite/pkg/goanalysis/goanalysis_test.go
  ignite/pkg/goanalysis/testdata/fieldexist.go
  ignite/pkg/xast/function.go
  ignite/pkg/xast/function_test.go
  ignite/pkg/xast/global.go
  ignite/pkg/xast/global_test.go
  ignite/pkg/xast/import.go
  ignite/pkg/xast/import_test.go
  ignite/services/chain/lint.go
  ignite/services/chain/lint_test.go
  ignite/services/scaffolder/configs.go
  ignite/services/scaffolder/init.go
  ignite/services/scaffolder/module.go
  ignite/services/scaffolder/params.go
  ignite/templates/field/field.go
  ignite/templates/module/create/base.go
  ignite/templates/module/create/configs.go
  ignite/templates/module/create/files/base/proto/{{appName}}/{{moduleName}}/module/module.proto.plush
  ignite/templates/module/create/files/base/proto/{{appName}}/{{moduleName}}/params.proto.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/params.go.plush
  ignite/templates/module/create/options.go
  ignite/templates/module/create/params.go
  integration/params/cmd_configs_test.go
  integration/params/cmd_params_test.go
  integration/plugin/testdata/example-plugin/go.mod
Labels: component:ci, component:templates, component:configs, component:cmd, type:services, component:packages

#3985 feat(cmd): make some `cmd` pkg functions public
  changelog.md
  ignite/cmd/chain_build.go
  ignite/cmd/chain_debug.go
  ignite/cmd/chain_faucet.go
  ignite/cmd/chain_init.go
  ignite/cmd/chain_lint.go
  ignite/cmd/chain_serve.go
  ignite/cmd/cmd.go
  ignite/cmd/generate_composables.go
  ignite/cmd/generate_go.go
  ignite/cmd/generate_hooks.go
  ignite/cmd/generate_openapi.go
  ignite/cmd/generate_typescript_client.go
  ignite/cmd/generate_vuex.go
  ignite/cmd/plugin.go
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_band.go
  ignite/cmd/scaffold_chain.go
  ignite/cmd/scaffold_configs.go
  ignite/cmd/scaffold_message.go
  ignite/cmd/scaffold_module.go
  ignite/cmd/scaffold_package.go
  ignite/cmd/scaffold_params.go
  ignite/cmd/scaffold_query.go
  ignite/pkg/xfilepath/xfilepath.go
  ignite/pkg/xfilepath/xfilepath_test.go
  ignite/pkg/xgenny/sourcemodification.go
  ignite/services/chain/chain.go
Labels: component:ci, component:configs, component:cmd, type:services, component:packages, backport/v28.x.y

#3983 chore: bump `cosmos-sdk`, `ibc-go` and `go-plugin`
  changelog.md
  go.mod
  go.sum
  ignite/services/plugin/template/go.mod.plush
  ignite/services/plugin/template/integration/app_test.go.plush
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs, type:services, backport/v28.x.y

#3990 docs: Change plugins to Ignite Apps on Readme
  readme.md
Labels: skip-changelog, component:ci, component:configs

#3992 docs: Add Discord widget to README
  readme.md
Labels: skip-changelog, component:ci, component:configs
