Repository ignite/cli, pull requests merged in 2024-01, with the labels that each got.

#3869 fix(services/chain): .git in parent dir
  changelog.md
  ignite/pkg/repoversion/repoversion.go
Labels: component:ci, component:configs, component:packages

#3881 chore(docs): proofreading
  docs/docs/02-guide/05-loan.md
  docs/docs/02-guide/06-tokenfactory/01-tokenfactory.md
  docs/docs/04-network/04-validator.md
  docs/docs/apps/02-developing-apps.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#3877 chore: change Ignite App extension to "ign"
  changelog.md
  ignite/services/plugin/plugin.go
Labels: component:apps, component:ci, component:configs, type:services

#3878 feat: support cosmos-sdk local fork
  changelog.md
  go.mod
  go.sum
  ignite/pkg/cosmosbuf/buf.go
  ignite/pkg/cosmosbuf/buf_test.go
  ignite/pkg/cosmosver/detect.go
  ignite/pkg/cosmosver/detect_test.go
  ignite/pkg/cosmosver/testdata/chain-sdk-local-fork/go.mod
  ignite/pkg/gomodule/gomodule.go
  ignite/pkg/gomodule/gomodule_test.go
  ignite/pkg/gomodule/testdata/local-module-fork/go.mod
  ignite/pkg/gomodule/testdata/module/go.mod
  ignite/pkg/protoanalysis/protoanalysis.go
  ignite/pkg/protoanalysis/protoanalysis_test.go
  ignite/pkg/protoanalysis/testdata/internal/foo.proto
  ignite/templates/app/files/buf.work.yaml
Labels: component:ci, component:templates, component:configs, component:packages

#3871 fix: remove "kvStoreKeys" check cosmosanalysis.go
  changelog.md
  ignite/pkg/cosmosanalysis/cosmosanalysis.go
  ignite/pkg/cosmosanalysis/cosmosanalysis_test.go
Labels: component:ci, component:configs, component:packages

#3886 ci: bump node version
  .github/dependabot.yml
  .github/workflows/docs-deploy-preview.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/gen-docs-version.yml
Labels: skip-changelog, component:ci, component:configs

#3883 chore: prepare ignite v28.1.1
  changelog.md
Labels: component:ci, component:configs

#3888 ci: add doc version prefix
  .github/workflows/gen-docs-version.yml
Labels: skip-changelog, component:ci, component:configs

#3890 chore(templates): update release action with console do not track + ` y`
  ignite/templates/app/files/.github/workflows/release.yml
Labels: skip-changelog, component:ci, component:configs

#3900 ci: configure snapcraft
  .github/workflows/release-docker.yml
  .github/workflows/release-nightly.yml
  .github/workflows/snapcraft.yml
  Makefile
  packaging/flatpak/com.ignite.Ignite.yml
  packaging/snap/snapcraft.yaml
Labels: skip-changelog, component:ci, component:configs

#3899 feat(plugin): execute from function
  changelog.md
  ignite/services/plugin/client_api.go
  ignite/services/plugin/grpc/v1/client_api.pb.go
  ignite/services/plugin/grpc/v1/interface.pb.go
  ignite/services/plugin/grpc/v1/service.pb.go
  ignite/services/plugin/grpc/v1/service_grpc.pb.go
  ignite/services/plugin/internal/execute.go
  ignite/services/plugin/internal/execute_test.go
  ignite/services/plugin/internal/testdata/execute_fail/.gitignore
  ignite/services/plugin/internal/testdata/execute_fail/go.mod
  ignite/services/plugin/internal/testdata/execute_fail/main.go
  ignite/services/plugin/internal/testdata/execute_ok/.gitignore
  ignite/services/plugin/internal/testdata/execute_ok/go.mod
  ignite/services/plugin/internal/testdata/execute_ok/main.go
  ignite/services/plugin/mocks/chainer.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
  ignite/services/plugin/template/.gitignore.plush
  proto/ignite/services/plugin/grpc/v1/client_api.proto
Labels: component:ci, component:configs, type:services

#3905 fix(cmd): fix cobra completion
  changelog.md
  ignite/cmd/cmd.go
  ignite/cmd/completion.go
Labels: component:ci, component:configs, component:cmd

#3903 refactor(cosmover): delete notion of app version
  changelog.md
  ignite/cmd/chain_build.go
  ignite/cmd/chain_init.go
  ignite/cmd/chain_serve.go
  ignite/pkg/cosmosanalysis/app/app_test.go
  ignite/pkg/cosmosanalysis/app/testdata/app_di.go
  ignite/pkg/cosmosver/app.go
Labels: component:ci, component:configs, component:cmd, component:packages

#3907 ci: bump go-release-action to schedule event
  .github/workflows/release-nightly.yml
Labels: skip-changelog, component:ci, component:configs

#3904 chore: add mergify config
  .github/mergify.yml
  packaging/readme.md
  release_process.md
Labels: skip-changelog, component:ci, component:configs

#3908 chore: move `plugin/internal` package
  ignite/cmd/completion.go
  ignite/internal/plugin/execute.go
  ignite/internal/plugin/execute_test.go
  ignite/internal/plugin/testdata/execute_fail/.gitignore
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_fail/main.go
  ignite/internal/plugin/testdata/execute_ok/.gitignore
  ignite/internal/plugin/testdata/execute_ok/go.mod
  ignite/internal/plugin/testdata/execute_ok/main.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, type:internal

#3912 chore: ignore .ign files for apps
  ignite/templates/app/files/.gitignore
Labels: skip-changelog, component:ci, component:configs

#3911 chore: fix docker links
  docs/docs/02-guide/05-loan.md
  docs/docs/02-guide/09-docker.md
  docs/versioned_docs/version-v0.26/02-guide/09-docker.md
  docs/versioned_docs/version-v0.27/02-guide/09-docker.md
  docs/versioned_docs/version-v28/02-guide/09-docker.md
  ignite/pkg/cosmostxcollector/mocks/saver.go
  ignite/services/plugin/grpc/v1/client_api.pb.go
  ignite/services/plugin/grpc/v1/interface.pb.go
  ignite/services/plugin/grpc/v1/service.pb.go
  ignite/services/plugin/grpc/v1/service_grpc.pb.go
  ignite/services/plugin/mocks/interface.go
  integration/plugin/testdata/example-plugin/go.mod
Labels: component:docs, skip-changelog, component:ci, component:configs, type:services, component:packages

#3884 docs: Add migration guide v0.27 to v28
  docs/docs/06-migration/v0.28.0.md
  docs/docs/06-migration/v28.0.0.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#3918 refactor(analytics): flag CI in analytics
  ignite/internal/analytics/analytics.go
  ignite/pkg/gacli/gacli.go
Labels: skip-changelog, component:ci, component:configs, type:internal, component:packages

#3913 docs: add release process
  release_process.md
Labels: skip-changelog, component:ci, component:configs

#3839 feat: Improve app scaffolding
  changelog.md
  ignite/pkg/gocmd/gocmd.go
  ignite/services/plugin/apps_config.go
  ignite/services/plugin/plugin_test.go
  ignite/services/plugin/scaffold.go
  ignite/services/plugin/scaffold_test.go
  ignite/services/plugin/template/.gitignore.plush
  ignite/services/plugin/template/app.ignite.yml.plush
  ignite/services/plugin/template/cmd/cmd.go.plush
  ignite/services/plugin/template/cmd/hello.go.plush
  ignite/services/plugin/template/go.mod.plush
  ignite/services/plugin/template/integration/app_test.go.plush
  ignite/services/plugin/template/main.go.plush
Labels: component:scaffold, component:apps, component:ci, component:configs, type:services, component:packages

#3820 feat: add integration tests for IBC chains
  changelog.md
  ignite/pkg/goanalysis/goanalysis.go
  ignite/pkg/goanalysis/goanalysis_test.go
  ignite/pkg/goanalysis/testdata/replace.go
  ignite/pkg/goenv/goenv.go
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/commands.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/client/cli/tx_{{packetName}}.go.plush
  integration/app.go
  integration/ibc/cmd_relayer_test.go
Labels: skip-changelog, component:ci, component:templates, component:configs, component:packages

#3920 chore: minor app scaffold changes
  ignite/services/plugin/scaffold_test.go
  ignite/services/plugin/template/integration/app_test.go.plush
Labels: skip-changelog, component:ci, component:configs, type:services

#3921 chore(templates): revert unneeded template addition
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/commands.go.plush
Labels: skip-changelog, component:ci, component:templates, component:configs
