Repository ignite/cli, pull requests merged in 2024-06, with the labels that each got.

#4176 chore: run go mod tidy for internal tools
  ignite/internal/tools/gen-config-doc/go.sum
  ignite/internal/tools/gen-mig-diffs/go.sum
Labels: skip-changelog, component:ci, component:configs, type:internal

#4178 chore: bump cosmos-sdk to v0.50.7
  changelog.md
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
  packaging/readme.md
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4179 fix: remove unused sleep for plugin execution
  ignite/internal/plugin/execute.go
Labels: skip-changelog, component:ci, component:configs, type:internal

#4095 feat: migrate to matomo analytics
  changelog.md
  ignite/cmd/version.go
  ignite/internal/analytics/analytics.go
  ignite/pkg/gacli/doc.go
  ignite/pkg/gacli/gacli.go
  ignite/pkg/matomo/matomo.go
  ignite/version/version.go
Labels: component:ci, component:configs, component:cmd, type:internal, component:packages, backport/v28.x.y

#4183 feat(services): set default chain-id in client.toml
  changelog.md
  ignite/services/chain/init.go
  ignite/services/chain/runtime.go
Labels: component:ci, component:configs, type:services, backport/v28.x.y

#4162 chore: enable errcheck linter
  .golangci.yml
  changelog.md
  go.mod
  ignite/cmd/completion.go
  ignite/cmd/plugin_test.go
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_ok/go.mod
  ignite/internal/tools/gen-cli-docs/main.go
  ignite/pkg/gomodule/gomodule.go
  ignite/services/chain/init.go
  ignite/services/plugin/grpc/v1/interface_flag.go
  ignite/services/plugin/grpc/v1/types_command_test.go
  integration/cosmosgen/bank_module_test.go
  integration/plugin/testdata/example-plugin/go.mod
Labels: component:ci, component:configs, component:cmd, type:services, type:internal, component:packages

#4160 chore: enable copyloopvar linter
  .golangci.yml
  changelog.md
  go.mod
  ignite/cmd/chain.go
  ignite/pkg/cmdrunner/cmdrunner.go
  ignite/pkg/cosmosgen/generate_composables.go
  ignite/pkg/cosmosgen/generate_typescript.go
  ignite/version/version_test.go
Labels: component:ci, component:configs, component:cmd, type:internal, component:packages

#4194 refactor: bump client/v2 to v2.0.0-beta.2
  changelog.md
  ignite/templates/app/files-consumer/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4198 fix(buf): set correct prefix for api
  changelog.md
  ignite/templates/app/files/{{protoDir}}/buf.gen.pulsar.yaml.plush
  ignite/templates/app/proto_test.go
  integration/app/cmd_proto_path_test.go
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4199 refactor(templates): Set and seal SDK global config in `app/config.go`
  changelog.md
  ignite/templates/app/files-consumer/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
  ignite/templates/app/files/app/config.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/config.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4205 chore: add scaffolding branding
  ignite/services/plugin/template/.gitignore.plush
Labels: skip-changelog, component:ci, component:configs, backport/v28.x.y

#4177 docs: Remove tokenfactory tutorial and guide to tutorials page
  docs/docs/02-guide/06-tokenfactory/01-tokenfactory.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#4210 feat(templates): improve default home
  changelog.md
  ignite/templates/app/files-consumer/app/app.go.plush
  ignite/templates/app/files-minimal/app/app.go.plush
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4212 fix: set default values for extension flag to dont crash ignite
  changelog.md
  ignite/services/plugin/grpc/v1/interface_flag.go
Labels: component:ci, component:configs, type:services, backport/v28.x.y

#4216 fix: avoid create duplicated scopedKeppers
  changelog.md
  ignite/templates/app/files-consumer/app/app.go.plush
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/keeper.go.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4219 refactor: remove deprecated `sdk.MustSortJSON`
  changelog.md
  ignite/templates/ibc/packet.go
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y
