Repository ignite/cli, pull requests merged in 2024-08, with the labels that each got.

#4286 fix: add missing verbose mode flags
  changelog.md
  ignite/cmd/chain_build.go
  ignite/cmd/chain_faucet.go
  ignite/cmd/chain_init.go
  ignite/cmd/chain_lint.go
  ignite/cmd/chain_serve.go
  ignite/cmd/cmd.go
Labels: component:ci, component:configs, component:cmd, backport/v28.x.y

#4293 chore: sync changelog
  changelog.md
Labels: component:ci, component:configs

#4292 build(deps): bump cosmos-sdk v0.50.9
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
Labels: skip-changelog, component:ci, component:templates, component:configs, backport/v28.x.y

#4290 refactor: remove consumer chain scaffolding
  changelog.md
  ignite/cmd/scaffold_chain.go
  ignite/config/chain/base/config.go
  ignite/internal/plugin/consumer.go
  ignite/internal/plugin/consumer_test.go
  ignite/services/chain/init.go
  ignite/services/scaffolder/init.go
  ignite/templates/app/app.go
  ignite/templates/app/files-consumer/app/ante_handler.go.plush
  ignite/templates/app/files-consumer/app/app.go.plush
  ignite/templates/app/files-consumer/app/app_config.go.plush
  ignite/templates/app/files-consumer/app/consumer_devel.go.plush
  ignite/templates/app/files-consumer/app/consumer_final.go.plush
  ignite/templates/app/files-consumer/app/export.go.plush
  ignite/templates/app/files-consumer/app/ibc.go.plush
  ignite/templates/app/files-consumer/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
  ignite/templates/app/files/config.yml.plush
  ignite/templates/app/files/go.mod.plush
  ignite/templates/app/options.go
  integration/app/cmd_app_test.go
Labels: skip-changelog, component:ci, component:templates, component:configs, component:cmd, type:services, type:internal

#4295 feat: remove pulsar generation (prep 0.52)
  changelog.md
  go.mod
  go.sum
  ignite/cmd/scaffold_chain.go
  ignite/pkg/cosmosanalysis/app/testdata/app_di.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/app_config/app_config.go
  ignite/pkg/cosmosanalysis/module/testdata/earth/app/app_config.go
  ignite/pkg/cosmosgen/cosmosgen.go
  ignite/pkg/cosmosgen/generate_go.go
  ignite/pkg/cosmosgen/generate_typescript.go
  ignite/pkg/cosmosgen/install.go
  ignite/services/chain/init.go
  ignite/services/scaffolder/configs.go
  ignite/templates/app/files-minimal/app/app.go.plush
  ignite/templates/app/files-minimal/app/app_config.go.plush
  ignite/templates/app/files/app/app_config.go.plush
  ignite/templates/app/files/go.mod.plush
  ignite/templates/app/files/{{protoDir}}/buf.gen.gogo.yaml
  ignite/templates/app/files/{{protoDir}}/buf.gen.pulsar.yaml.plush
  ignite/templates/module/create/base.go
  ignite/templates/module/create/files/base/api/{{appName}}/{{moduleName}}/module/{{protoVer}}/module.pulsar.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/autocli.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
  ignite/templates/module/create/files/base/{{protoDir}}/{{appName}}/{{moduleName}}/module/{{protoVer}}/module.proto.plush
  integration/app/cmd_proto_path_test.go
  integration/doctor/testdata/config-ok.txt
  integration/doctor/testdata/existing-tools.go.txt
  integration/doctor/testdata/missing-tools.go.txt
Labels: component:ci, component:templates, component:configs, component:cmd, type:services, component:packages

#4300 feat(template): only panics the module in the most top function level
  changelog.md
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/genesis.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/genesis_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
  ignite/templates/module/create/ibc.go
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/map/map.go
  ignite/templates/typed/singleton/singleton.go
Labels: component:ci, component:templates, component:configs

#4302 chore: bump to Go 1.23
  .gitpod.Dockerfile
  docs/docs/01-welcome/02-install.md
  docs/versioned_docs/version-v28/01-welcome/02-install.md
  go.mod
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_ok/go.mod
  ignite/internal/tools/gen-config-doc/go.mod
  ignite/internal/tools/gen-mig-diffs/go.mod
  ignite/pkg/cosmosanalysis/app/testdata/modules/juno/go.mod
  ignite/pkg/cosmosanalysis/testdata/chain-sdk-fork/go.mod
  ignite/pkg/cosmosver/testdata/chain-sdk-fork/go.mod
  ignite/pkg/cosmosver/testdata/chain-sdk-local-fork/go.mod
  ignite/pkg/gomodule/testdata/module/go.mod
  ignite/services/plugin/template/go.mod.plush
  ignite/templates/app/files/go.mod.plush
  integration/plugin/testdata/example-plugin/go.mod
  scripts/indocker
Labels: component:docs, skip-changelog, component:ci, component:templates, component:configs, type:services, type:internal, component:packages

#4301 fix(templates): wrong name for list and seq
  ignite/templates/typed/list/list.go
Labels: skip-changelog, component:ci, component:templates, component:configs

#4299 docs: Format Docs
  docs/docs/01-welcome/03-tutorials.md
  docs/docs/02-guide/02-introduction.md
  docs/docs/02-guide/06-tokenfactory/01-tokenfactory.md
  docs/docs/02-guide/06-tokenfactory/02-denoms.md
  docs/docs/02-guide/06-tokenfactory/_category_.json
  docs/docs/02-guide/07-interchange/00-introduction.md
  docs/docs/02-guide/07-interchange/01-design.md
  docs/docs/02-guide/07-interchange/02-init.md
  docs/docs/02-guide/07-interchange/03-walkthrough.md
  docs/docs/02-guide/07-interchange/04-creating-order-books.md
  docs/docs/02-guide/07-interchange/05-mint-and-burn-voucher.md
  docs/docs/02-guide/07-interchange/06-creating-sell-orders.md
  docs/docs/02-guide/07-interchange/07-creating-buy-orders.md
  docs/docs/02-guide/07-interchange/08-cancelling-orders.md
  docs/docs/02-guide/07-interchange/09-tests.md
  docs/docs/02-guide/07-interchange/_category_.json
  docs/docs/02-guide/_category_.json
  docs/docs/02-guide/images/api.png
  docs/docs/03-CLI-Commands/01-cli-commands.md
  docs/docs/03-CLI-Commands/_category_.json
  docs/docs/03-clients/_category_.json
  docs/docs/04-clients/01-go-client.md
  docs/docs/04-clients/02-typescript.md
  docs/docs/04-clients/03-vue.md
  docs/docs/04-clients/04-react.md
  docs/docs/04-clients/_category_.json
  docs/docs/08-references/02-config.md
  docs/docs/08-references/03-config_example.md
  docs/docs/08-references/_category_.json
  docs/sidebars.js
  docs/yarn.lock
Labels: component:docs, skip-changelog, component:ci, component:configs

#4309 fix: fix chain id for chain simulations
  changelog.md
  ignite/templates/app/files/app/sim_test.go.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4311 docs: improve issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/meta.md
Labels: skip-changelog, component:ci, component:configs

#4313 docs: incorporate dev-env-setup in readme
  dev-env-setup.md
  readme.md
Labels: skip-changelog, component:ci, component:configs

#4314 docs: incorporate new release cycle + edits
  release_process.md
Labels: skip-changelog, component:ci, component:configs

#4312 docs: improve contributing guidelines
  contributing.md
Labels: skip-changelog, component:ci, component:configs

#4310 fix: bump lint and fix issues
  .golangci.yml
  go.mod
  go.sum
  ignite/config/plugins/parse.go
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_ok/go.mod
  ignite/internal/tools/gen-config-doc/go.mod
  ignite/internal/tools/gen-config-doc/go.sum
  ignite/internal/tools/gen-mig-diffs/go.mod
  ignite/internal/tools/gen-mig-diffs/go.sum
  ignite/pkg/availableport/availableport.go
  ignite/pkg/chaincmd/simulate.go
  ignite/pkg/cliui/entrywriter/entrywriter.go
  ignite/pkg/jsonfile/jsonfile.go
  ignite/pkg/markdownviewer/markdownviewer.go
  ignite/pkg/safeconverter/safeconverter.go
  ignite/pkg/tendermintrpc/rpc.go
  ignite/pkg/xast/xast.go
  integration/plugin/testdata/example-plugin/go.mod
Labels: skip-changelog, component:ci, component:configs, type:internal, component:packages

#4323 fix(cmd): add missing --config handling
  changelog.md
  ignite/cmd/chain_build.go
  ignite/cmd/chain_debug.go
  ignite/cmd/chain_faucet.go
  ignite/cmd/chain_init.go
Labels: component:ci, component:configs, component:cmd, backport/v28.x.y

#4324 chore: bump golangci-lint to `v1.60.3`
  .github/workflows/test-lint.yml
  go.mod
  go.sum
Labels: skip-changelog, component:ci, component:configs

#4326 feat: add `buf.build` version to `ignite version` command
  changelog.md
  ignite/pkg/cosmosbuf/buf.go
  ignite/version/version.go
Labels: component:ci, component:configs, type:internal, component:packages

#4329 fix(analytics): check do not track
  ignite/internal/analytics/analytics.go
Labels: skip-changelog, component:ci, component:configs, type:internal, backport/v28.x.y

#4319 fix: remove fee abstraction module from open api code generation
  changelog.md
  ignite/pkg/cosmosgen/generate_openapi.go
Labels: component:ci, component:configs, component:packages, backport/v28.x.y

#4322 feat: create a message for authenticate buf for generate ts-client
  changelog.md
  ignite/cmd/generate_typescript_client.go
  integration/cosmosgen/cosmosgen_test.go
Labels: component:ci, component:configs, component:cmd, backport/v28.x.y

#4327 feat: use the TxConfig from simState instead create a new one
  changelog.md
  ignite/templates/message/files/simapp/x/{{moduleName}}/simulation/{{msgName}}.go.plush
  ignite/templates/typed/list/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
  ignite/templates/typed/map/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
  ignite/templates/typed/simapp.go
  ignite/templates/typed/singleton/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
Labels: component:ci, component:templates, component:configs

#4334 ci: always run ci
  .github/workflows/md-link-checker.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
Labels: skip-changelog, component:ci, component:configs, backport/v28.x.y
