Repository ignite/cli, pull requests merged in 2024-03, with the labels that each got.

#3995 fix(templates): fix interface check for ibc modules
  changelog.md
  ignite/templates/app/files/app/ibc.go.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#3993 refactor!: remove oracle support
  changelog.md
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_band.go
  ignite/services/scaffolder/component.go
  ignite/services/scaffolder/component_test.go
  ignite/services/scaffolder/oracle.go
  ignite/templates/ibc/files/oracle/proto/{{appName}}/{{moduleName}}/{{queryName}}.proto.plush
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/keeper/msg_{{queryName}}.go.plush
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/keeper/query_{{queryName}}.go.plush
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/keeper/{{queryName}}.go.plush
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/oracle.go.plush
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/types/oracle.go.plush
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/types/{{queryName}}.go.plush
  ignite/templates/ibc/files/oracle/x/{{moduleName}}/types/{{queryName}}_test.go.plush
  ignite/templates/ibc/oracle.go
  ignite/templates/ibc/placeholders.go
  ignite/templates/module/create/files/ibc/x/{{moduleName}}/module/module_ibc.go.plush
  integration/ibc/cmd_ibc_test.go
Labels: component:ci, component:templates, component:configs, component:cmd, type:services

#3998 docs: add invite link to chat shield
  readme.md
Labels: skip-changelog, component:ci, component:configs, chore

#3999 feat(config): add HD wallet parameters `address index` and `account number` to the chain account config
  changelog.md
  ignite/config/chain/base/config.go
  ignite/pkg/chaincmd/chaincmd.go
  ignite/pkg/chaincmd/runner/account.go
  ignite/pkg/cosmosfaucet/cosmosfaucet.go
  ignite/services/chain/faucet.go
  ignite/services/chain/init.go
Labels: component:ci, component:configs, type:services, type:internal, component:packages

#4002 chore: bump buf build
  changelog.md
  go.mod
  go.sum
  integration/doctor/testdata/config-need-migrate.txt
  integration/doctor/testdata/existing-tools.go.txt
  integration/doctor/testdata/missing-tools.go.txt
Labels: component:ci, component:configs

#4005 build: remove flatpak
  Makefile
  packaging/.gitignore
  packaging/flatpak/com.ignite.Ignite.yml
  packaging/flatpak/ignite.desktop
  packaging/flatpak/ignite.metainfo.xml
  packaging/flatpak/logo.svg
  packaging/readme.md
Labels: skip-changelog, component:ci, component:configs, backport/v28.x.y

#4004 feat: remove all import placeholders using the `xast` pkg
  changelog.md
  ignite/pkg/cosmosanalysis/app/testdata/modules/app_config/app_config.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/spn/app.go
  ignite/pkg/cosmosanalysis/module/testdata/earth/app/app_config.go
  ignite/pkg/xast/import.go
  ignite/pkg/xast/import_test.go
  ignite/templates/app/files-minimal/app/app.go.plush
  ignite/templates/app/files-minimal/app/app_config.go.plush
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/app/app_config.go.plush
  ignite/templates/app/files/app/ibc.go.plush
  ignite/templates/ibc/placeholders.go
  ignite/templates/message/placeholders.go
  ignite/templates/module/create/base.go
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/genesis.go.plush
  ignite/templates/module/create/ibc.go
  ignite/templates/module/placeholders.go
  ignite/templates/typed/genesis.go
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/map/map.go
  ignite/templates/typed/placeholders.go
  ignite/templates/typed/singleton/singleton.go
Labels: component:ci, component:templates, component:configs, component:packages

#4008 chore: rename `pkg/yaml` to `pkg/xyaml`
  changelog.md
  ignite/config/chain/base/config.go
  ignite/config/chain/v1/validator.go
  ignite/config/chain/v1/validator_servers_test.go
  ignite/pkg/xyaml/map.go
  ignite/pkg/xyaml/map_test.go
  ignite/pkg/xyaml/yaml.go
  ignite/pkg/xyaml/yaml_test.go
  integration/ibc/cmd_relayer_test.go
  integration/node/cmd_query_bank_test.go
  integration/node/cmd_tx_bank_send_test.go
Labels: component:ci, component:configs, type:internal, component:packages

#4013 build(deps): bump to cosmos-sdk v0.50.5
  changelog.md
  go.mod
  go.sum
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4021 fix(templates): set correct signer
  changelog.md
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4019 feat(cli): add `skip-proto` flag to `s chain` command
  changelog.md
  ignite/cmd/scaffold_chain.go
  ignite/services/scaffolder/configs.go
  ignite/services/scaffolder/init.go
  ignite/services/scaffolder/message.go
  ignite/services/scaffolder/module.go
  ignite/services/scaffolder/packet.go
  ignite/services/scaffolder/params.go
  ignite/services/scaffolder/query.go
  ignite/services/scaffolder/scaffolder.go
  ignite/services/scaffolder/type.go
  ignite/templates/app/files/app/ibc.go.plush
Labels: component:ci, component:templates, component:configs, component:cmd, type:services, backport/v28.x.y

#4031 build(deps): bump `cli-plugin-network`
  changelog.md
  ignite/cmd/plugin_default.go
Labels: component:ci, component:configs, component:cmd, backport/v28.x.y

#4035 chore: bump `cometbft` to `v0.38.6` and `ibc-go/v8` to `v8.1.1`
  changelog.md
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4026 fix(root): fix keyring for `tx` commands
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
Labels: skip-changelog, component:ci, component:templates, component:configs, backport/v28.x.y

#4010 chore(services): use `AppName` instead `ModuleName` for scaffold a new App
  changelog.md
  ignite/services/plugin/scaffold.go
  ignite/services/plugin/template/go.mod.plush
  ignite/services/plugin/template/integration/app_test.go.plush
  ignite/services/plugin/template/main.go.plush
Labels: component:ci, component:configs, type:services, backport/v28.x.y

#4041 fix(docs): fix broken link for the genesis file documentation
  docs/versioned_docs/version-v0.25/kb/04-genesis.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#3707 feat: support collections
  changelog.md
  ignite/templates/message/files/message/x/{{moduleName}}/keeper/msg_server_{{msgName}}.go.plush
  ignite/templates/module/create/files/base/testutil/keeper/{{moduleName}}.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/keeper.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/msg_update_params.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/msg_update_params_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/params.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/params_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/query.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/query_params.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/query_params_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/genesis.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/keys.go.plush
  ignite/templates/module/create/files/ibc/testutil/keeper/{{moduleName}}.go.plush
  ignite/templates/module/create/ibc.go
  ignite/templates/query/files/x/{{moduleName}}/keeper/query_{{queryName}}.go.plush
  ignite/templates/typed/list/files/component/x/{{moduleName}}/keeper/query_{{typeName}}.go.plush
  ignite/templates/typed/list/files/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/list/files/component/x/{{moduleName}}/keeper/{{typeName}}.go.plush
  ignite/templates/typed/list/files/component/x/{{moduleName}}/keeper/{{typeName}}_test.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/list/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/list/list.go
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/placeholders.go
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/keeper/query_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/keeper/{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/keeper/{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
  ignite/templates/typed/singleton/singleton.go
Labels: component:ci, component:templates, component:configs

#4043 build(deps): use tagged version of consumer plugin
  ignite/internal/plugin/consumer.go
  ignite/internal/plugin/consumer_test.go
Labels: skip-changelog, component:ci, component:configs, type:internal, backport/v28.x.y

#4045 chore: remove temporary hardcoded commit
  ignite/services/plugin/template/go.mod.plush
Labels: skip-changelog, component:ci, component:configs, type:services

#4025 chore: prepare v28.3.0
  changelog.md
Labels: component:ci, component:configs

#4048 ci: correct dependabot labels
  .github/dependabot.yml
Labels: skip-changelog, component:ci, component:configs

#4052 chore: add v28.3.0 changelog to main
  changelog.md
Labels: component:ci, component:configs

#4057 chore: add `-race` `-failfast` flags to the CI integration tests
  scripts/test-coverage
  scripts/test-integration
  scripts/test-unit
Labels: skip-changelog, component:ci, component:configs

#4060 revert: "chore: add `-race` `-failfast` flags to the CI integration tests (#4057)"
  scripts/test-coverage
  scripts/test-integration
  scripts/test-unit
Labels: skip-changelog, component:ci, component:configs

#4001 feat(pkg): improve xgenny dry run
  changelog.md
  go.mod
  ignite/cmd/chain.go
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_chain.go
  ignite/cmd/scaffold_configs.go
  ignite/cmd/scaffold_message.go
  ignite/cmd/scaffold_module.go
  ignite/cmd/scaffold_packet.go
  ignite/cmd/scaffold_params.go
  ignite/cmd/scaffold_query.go
  ignite/pkg/xgenny/run.go
  ignite/pkg/xgenny/runner.go
  ignite/pkg/xgenny/walker.go
  ignite/pkg/xgenny/walker_test.go
  ignite/services/chain/init.go
  ignite/services/chain/proto.go
  ignite/services/doctor/doctor.go
  ignite/services/plugin/scaffold.go
  ignite/services/scaffolder/configs.go
  ignite/services/scaffolder/init.go
  ignite/services/scaffolder/message.go
  ignite/services/scaffolder/module.go
  ignite/services/scaffolder/packet.go
  ignite/services/scaffolder/params.go
  ignite/services/scaffolder/query.go
  ignite/services/scaffolder/scaffolder.go
  ignite/services/scaffolder/type.go
Labels: component:ci, component:configs, component:cmd, type:services, component:packages

#4063 ci: remove versioned version before re-gen
  .github/workflows/gen-docs-version.yml
Labels: skip-changelog, component:ci, component:configs, backport/v28.x.y

#4065 fix: scaffold logs
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_configs.go
  ignite/cmd/scaffold_message.go
  ignite/cmd/scaffold_module.go
  ignite/cmd/scaffold_packet.go
  ignite/cmd/scaffold_params.go
  ignite/cmd/scaffold_query.go
  ignite/pkg/xgenny/runner.go
  ignite/pkg/xgenny/sourcemodification.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, component:packages

#4062 fix(templates): avoid nil `scopedKeeper`
  changelog.md
  ignite/templates/ibc/files/packet/component/x/{{moduleName}}/keeper/{{packetName}}.go.plush
Labels: component:ci, component:templates, component:configs
