Repository ignite/cli, pull requests merged in 2024-05, with the labels that each got.

#4114 fix(CI/Lint): remove unused variables and methods
  ignite/pkg/cosmosgen/template.go
  ignite/services/chain/generate.go
Labels: skip-changelog, component:ci, component:configs, type:services, component:packages

#4108 feat: backport xast package to v28 (partial backport #3770)
  changelog.md
  ignite/pkg/goanalysis/goanalysis.go
  ignite/pkg/goanalysis/goanalysis_test.go
  ignite/pkg/goanalysis/testdata/fieldexist.go
  ignite/pkg/xast/function.go
  ignite/pkg/xast/function_test.go
  ignite/pkg/xast/global.go
  ignite/pkg/xast/global_test.go
  ignite/pkg/xast/import.go
  ignite/pkg/xast/import_test.go
Labels: component:ci, component:configs, component:packages

#4076 feat!: remove the ignite `relayer` and `tools` commands with all ts-relayer logic
  changelog.md
  go.mod
  go.sum
  ignite/cmd/cmd.go
  ignite/cmd/plugin_default.go
  ignite/cmd/relayer.go
  ignite/cmd/relayer_configure.go
  ignite/cmd/relayer_connect.go
  ignite/cmd/tools.go
  ignite/pkg/nodetime/nodetime.go
  ignite/pkg/nodetime/programs/ts-relayer/tsrelayer.go
  ignite/pkg/relayer/chain.go
  ignite/pkg/relayer/config/config.go
  ignite/pkg/relayer/relayer.go
  integration/relayer/cmd_relayer_test.go
Labels: component:ci, component:configs, component:cmd, component:packages

#4110 feat(templates): upgrade `interchain-security` to v5
  changelog.md
  ignite/internal/plugin/consumer.go
  ignite/templates/app/files-consumer/app/ante_handler.go.plush
  ignite/templates/app/files-consumer/app/app.go.plush
  ignite/templates/app/files-consumer/app/app_config.go.plush
  ignite/templates/app/files-consumer/app/ibc.go.plush
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs, type:internal, backport/v28.x.y

#4121 refactor: clean-up unecessary deps
  go.mod
  go.sum
  ignite/pkg/cosmosclient/consensus.go
  ignite/services/scaffolder/module.go
Labels: skip-changelog, component:ci, component:configs, type:services, component:packages, backport/v28.x.y

#4117 feat(plugins): support relative path
  changelog.md
  ignite/config/plugins/config.go
  ignite/config/plugins/config_test.go
  ignite/services/plugin/plugin.go
Labels: component:ci, component:configs, type:services, type:internal, backport/v28.x.y

#4094 feat(templates): use collections for map and remove multi index support
  changelog.md
  ignite/cmd/scaffold_map.go
  ignite/config/plugins/config.go
  ignite/pkg/xstrings/xstrings.go
  ignite/services/scaffolder/type.go
  ignite/services/scaffolder/type_test.go
  ignite/templates/field/plushhelpers/plushhelpers.go
  ignite/templates/typed/map/files/component/x/{{moduleName}}/keeper/query_{{typeName}}.go.plush
  ignite/templates/typed/map/files/component/x/{{moduleName}}/keeper/{{typeName}}.go.plush
  ignite/templates/typed/map/files/component/x/{{moduleName}}/types/key_{{typeName}}.go.plush
  ignite/templates/typed/map/files/component/{{protoDir}}/{{appName}}/{{moduleName}}/{{typeName}}.proto.plush
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/map/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
  ignite/templates/typed/map/files/tests/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/map/files/tests/component/x/{{moduleName}}/keeper/{{typeName}}_test.go.plush
  ignite/templates/typed/map/files/tests/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/map/map.go
  ignite/templates/typed/map/simulation.go
  ignite/templates/typed/options.go
  ignite/templates/typed/typed.go
  integration/map/cmd_map_test.go
Labels: component:ci, component:templates, component:configs, component:cmd, type:services, type:internal, component:packages

#4127 chore: bump interchain-security
  ignite/templates/app/files/go.mod.plush
Labels: skip-changelog, component:ci, component:templates, component:configs, backport/v28.x.y

#4125 fix(plugins): correct relative path support
  changelog.md
  ignite/config/plugins/config.go
  ignite/services/plugin/plugin.go
  ignite/services/plugin/plugin_test.go
Labels: component:ci, component:configs, type:services, type:internal, backport/v28.x.y

#4126 chore: get correct `cosmosver.Latest` version
  ignite/pkg/cosmosver/cosmosver.go
  integration/readme.md
Labels: skip-changelog, component:ci, component:configs, component:packages, backport/v28.x.y

#4135 chore: comments of #4125
  ignite/config/plugins/config.go
  ignite/services/plugin/plugin.go
Labels: skip-changelog, component:ci, component:configs, type:services, type:internal

#4128 fix(protoanalysis,templates): fail at duplicate fields
  changelog.md
  ignite/pkg/protoanalysis/protoutil/helpers.go
  ignite/templates/module/create/configs.go
  ignite/templates/module/create/params.go
Labels: component:ci, component:templates, component:configs, component:packages

#4118 refactor!: version scaffolded protos
  changelog.md
  ignite/services/scaffolder/configs.go
  ignite/services/scaffolder/init.go
  ignite/services/scaffolder/message.go
  ignite/services/scaffolder/module.go
  ignite/services/scaffolder/packet.go
  ignite/services/scaffolder/params.go
  ignite/services/scaffolder/patch.go
  ignite/services/scaffolder/query.go
  ignite/services/scaffolder/type.go
  ignite/templates/app/options.go
  ignite/templates/ibc/packet.go
  ignite/templates/message/message.go
  ignite/templates/message/options.go
  ignite/templates/module/create/base.go
  ignite/templates/module/create/configs.go
  ignite/templates/module/create/files/base/api/{{appName}}/{{moduleName}}/module/{{protoVer}}/module.pulsar.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/autocli.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
  ignite/templates/module/create/files/base/{{protoDir}}/{{appName}}/{{moduleName}}/module/{{protoVer}}/module.proto.plush
  ignite/templates/module/create/files/base/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/genesis.proto.plush
  ignite/templates/module/create/files/base/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/params.proto.plush
  ignite/templates/module/create/files/base/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/query.proto.plush
  ignite/templates/module/create/files/ibc/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/packet.proto.plush
  ignite/templates/module/create/files/msgserver/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/tx.proto.plush
  ignite/templates/module/create/ibc.go
  ignite/templates/module/create/msgserver.go
  ignite/templates/module/create/options.go
  ignite/templates/module/create/params.go
  ignite/templates/module/module.go
  ignite/templates/module/module_test.go
  ignite/templates/query/options.go
  ignite/templates/query/query.go
  ignite/templates/typed/dry/files/component/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/{{typeName}}.proto.plush
  ignite/templates/typed/list/files/component/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/{{typeName}}.proto.plush
  ignite/templates/typed/list/list.go
  ignite/templates/typed/map/files/component/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/{{typeName}}.proto.plush
  ignite/templates/typed/map/map.go
  ignite/templates/typed/options.go
  ignite/templates/typed/singleton/files/component/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/{{typeName}}.proto.plush
  ignite/templates/typed/singleton/singleton.go
  ignite/templates/typed/typed.go
Labels: component:ci, component:templates, component:configs, type:services

#4138 fix: skip the lint cache to avoid failing the CI
  .github/workflows/test-lint.yml
  ignite/templates/module/create/configs.go
  ignite/templates/module/create/params.go
  ignite/templates/typed/map/map.go
Labels: skip-changelog, component:ci, component:templates, component:configs

#4137 chore: prepare v28.4.0
  changelog.md
Labels: component:ci, component:configs

#4146 chore: add v28.4.0 changelog to main
  changelog.md
Labels: component:ci, component:configs

#4148 chore: use ignite errors pkg
  ignite/internal/plugin/testdata/execute_fail/main.go
  ignite/pkg/cosmoserror/error_test.go
  integration/relayer/cmd_relayer_test.go
Labels: skip-changelog, component:ci, component:configs, type:internal, component:packages

#4113 feat: generate chain config documentation automatically
  .github/workflows/gen-docs-config.yml
  changelog.md
  ignite/config/chain/base/config.go
  ignite/config/chain/v0/config.go
  ignite/config/chain/v1/config.go
  ignite/config/chain/v1/validator.go
  ignite/internal/tools/gen-config-doc/cmd/root.go
  ignite/internal/tools/gen-config-doc/go.mod
  ignite/internal/tools/gen-config-doc/go.sum
  ignite/internal/tools/gen-config-doc/main.go
  ignite/internal/tools/gen-config-doc/templates/doc/doc.go
  ignite/internal/tools/gen-config-doc/templates/doc/files/{{Name}}.plush
  ignite/internal/tools/gen-mig-diffs/cmd/root.go
  ignite/pkg/clidoc/struct.go
  ignite/pkg/clidoc/struct_test.go
  scripts/gen-config-doc
Labels: component:ci, component:configs, type:internal, component:packages

#4147 fix(gen-mig-doc): fix repo url
  ignite/internal/tools/gen-mig-diffs/cmd/root.go
  ignite/internal/tools/gen-mig-diffs/pkg/repo/repo.go
  ignite/internal/tools/gen-mig-diffs/pkg/url/url.go
  ignite/internal/tools/gen-mig-diffs/pkg/url/url_test.go
Labels: skip-changelog, component:ci, component:configs, type:internal

#4144 feat: add readme for the migration tool
  ignite/internal/tools/gen-mig-diffs/readme.md
Labels: skip-changelog, component:ci, component:configs, type:internal

#4143 docs: Update SayHello Function Example in Ignite Documentation to to Align with Latest Ignite
  docs/docs/02-guide/03-hello-world.md
  docs/versioned_docs/version-v28/02-guide/03-hello-world.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#4149 chore: bump cometbft to `v0.38.7`
  changelog.md
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4151 chore: update telemetry
  docs/docusaurus.config.js
  docs/package.json
Labels: component:docs, skip-changelog, component:ci, component:configs

#4152 docs: Add to the docs how to use the migration guide
  docs/docs/06-migration/readme.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#4157 chore: update go
  Dockerfile
  changelog.md
  go.mod
Labels: component:ci, component:configs

#4155 feat(internal/tools): improve config doc
  docs/docs/08-references/03-config.md
  ignite/config/chain/base/config.go
  ignite/config/chain/v0/config.go
  ignite/config/chain/v1/config.go
  ignite/config/chain/v1/validator.go
  ignite/internal/tools/gen-config-doc/cmd/root.go
  ignite/internal/tools/gen-config-doc/go.mod
  ignite/internal/tools/gen-config-doc/go.sum
  ignite/internal/tools/gen-config-doc/templates/doc/files/{{Name}}.plush
  ignite/pkg/clidoc/struct.go
  ignite/pkg/clidoc/struct_test.go
  scripts/gen-config-doc
Labels: component:docs, skip-changelog, component:ci, component:configs, type:internal, component:packages

#4159 chore: enable gci linter
  .github/workflows/test-lint.yml
  .golangci.yml
  changelog.md
  ignite/cmd/chain_faucet.go
  ignite/cmd/chain_simulate.go
  ignite/cmd/node_query.go
  ignite/cmd/node_tx_bank_send.go
  ignite/config/chain/parse.go
  ignite/pkg/cosmosaccount/cosmosaccount.go
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/pkg/cosmosclient/gasometer.go
  ignite/pkg/cosmosfaucet/cosmosfaucet.go
  ignite/pkg/cosmosfaucet/transfer.go
  ignite/pkg/cosmostxcollector/adapter/postgres/postgres.go
  ignite/pkg/cosmosutil/gentx.go
  ignite/services/chain/faucet.go
  ignite/services/chain/runtime.go
Labels: component:ci, component:configs, component:cmd, type:services, type:internal, component:packages

#4153 feat: by default generate the migration docs from a major version to another
  ignite/internal/tools/gen-mig-diffs/cmd/root.go
  ignite/internal/tools/gen-mig-diffs/go.mod
  ignite/internal/tools/gen-mig-diffs/go.sum
  ignite/internal/tools/gen-mig-diffs/pkg/repo/repo.go
  ignite/internal/tools/gen-mig-diffs/pkg/scaffold/scaffold.go
Labels: skip-changelog, component:ci, component:configs, type:internal

#4133 feat: improve buf rate limit
  changelog.md
  docs/docs/02-guide/06-ibc.md
  docs/docs/02-guide/07-interchange/02-init.md
  docs/docs/08-references/02-config.md
  docs/versioned_docs/version-v0.25/kb/03-config.md
  docs/versioned_docs/version-v0.25/kb/06-proto.md
  ignite/cmd/cmd.go
  ignite/config/chain/base/config.go
  ignite/config/chain/v1/config_test.go
  ignite/config/chain/v1/testdata/config.yaml
  ignite/config/chain/v1/testdata/config2.yaml
  ignite/internal/analytics/analytics.go
  ignite/pkg/cosmosbuf/buf.go
  ignite/pkg/cosmosbuf/buf_test.go
  ignite/pkg/cosmosgen/cosmosgen.go
  ignite/pkg/cosmosgen/generate.go
  ignite/pkg/cosmosgen/generate_go.go
  ignite/pkg/cosmosgen/generate_openapi.go
  ignite/pkg/cosmosgen/generate_openapi_test.go
  ignite/pkg/cosmosgen/generate_typescript.go
  ignite/pkg/dircache/cache.go
  ignite/pkg/dircache/cache_test.go
  ignite/pkg/dircache/testdata/subdata/subfile
  ignite/pkg/dircache/testdata/testfile
  ignite/pkg/xos/files.go
  ignite/pkg/xos/files_test.go
  ignite/services/chain/generate.go
  ignite/services/scaffolder/scaffolder.go
  ignite/templates/app/files/{{protoDir}}/buf.lock
  integration/doctor/testdata/config-need-migrate.txt
Labels: component:docs, component:ci, component:templates, component:configs, component:cmd, type:services, type:internal, component:packages

#4168 chore(templates): upgrade ibc to 8.3.1
  changelog.md
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs, backport/v28.x.y

#4167 refactor(templates)!: scaffold int64 instead of int32
  changelog.md
  ignite/cmd/scaffold.go
  ignite/pkg/protoanalysis/protoutil/creator.go
  ignite/templates/field/datatype/int.go
  ignite/templates/typed/map/map.go
Labels: component:ci, component:templates, component:configs, component:cmd, component:packages

#4090 feat: remove `protoc` pkg and also nodetime helpers `ts-proto` and `sta`
  .gitignore
  changelog.md
  go.mod
  go.sum
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_ok/go.mod
  ignite/internal/tools/gen-config-doc/go.mod
  ignite/internal/tools/gen-config-doc/go.sum
  ignite/internal/tools/gen-mig-diffs/go.mod
  ignite/internal/tools/gen-mig-diffs/go.sum
  ignite/pkg/cosmosanalysis/app/testdata/modules/app_config/go.mod
  ignite/pkg/cosmosanalysis/app/testdata/modules/runtime/go.mod
  ignite/pkg/cosmosanalysis/app/testdata/modules/single_app/go.mod
  ignite/pkg/cosmosanalysis/app/testdata/modules/spn/go.mod
  ignite/pkg/cosmosbuf/buf.go
  ignite/pkg/cosmosgen/generate.go
  ignite/pkg/cosmosgen/generate_go.go
  ignite/pkg/cosmosgen/generate_openapi.go
  ignite/pkg/cosmosgen/generate_typescript.go
  ignite/pkg/cosmosgen/sta.go
  ignite/pkg/cosmosver/testdata/chain-sdk-local-fork/go.mod
  ignite/pkg/nodetime/nodetime.go
  ignite/pkg/nodetime/programs/sta/sta.go
  ignite/pkg/nodetime/programs/ts-proto/tsproto.go
  ignite/pkg/protoc/protoc.go
  ignite/templates/app/files/go.mod.plush
  ignite/templates/app/files/{{protoDir}}/buf.lock
  integration/cosmosgen/cosmosgen_test.go
  integration/doctor/testdata/missing-tools.go.txt
  integration/plugin/testdata/example-plugin/go.mod
Labels: component:ci, component:templates, component:configs, type:internal, component:packages
