Repository ignite/cli, pull requests merged in 2025-01, with the labels that each got.

#4453 docs: remove repetitive words
  docs/versioned_docs/version-v0.27/03-clients/03-vue.md
  docs/versioned_docs/version-v0.27/04-network/02-introduction.md
  docs/versioned_docs/version-v28/02-guide/06-tokenfactory/01-tokenfactory.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#4456 fix: fix build + bump to latest tagged deps
  go.mod
  go.sum
  ignite/internal/plugin/execute.go
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_ok/go.mod
  ignite/services/plugin/plugin_test.go
  ignite/services/plugin/template/go.mod.plush
  ignite/templates/app/files/app/sim_test.go.plush
  ignite/templates/app/files/go.mod.plush
Labels: skip-changelog, component:ci, component:templates, component:configs, type:services, type:internal

#4457 feat(cmd): allow to manually skip rebuilding
  changelog.md
  ignite/cmd/chain_serve.go
  ignite/cmd/cmd.go
  ignite/services/chain/serve.go
Labels: component:ci, component:configs, component:cmd, type:services, backport/v28.x.y

#4460 ci: fix linter in release/v28.x.y
  .github/workflows/test-lint.yml
  ignite/cmd/cmd.go
  ignite/cmd/doctor.go
  ignite/cmd/plugin.go
  ignite/config/plugins/parse.go
  ignite/pkg/cliui/entrywriter/entrywriter.go
  ignite/pkg/cosmostxcollector/adapter/postgres/schemas.go
  ignite/pkg/openapiconsole/console.go
  ignite/pkg/protoanalysis/protoutil/helpers.go
  ignite/services/scaffolder/type.go
  ignite/templates/field/datatype/custom.go
Labels: skip-changelog, component:ci, component:templates, component:configs, component:cmd, type:services, type:internal, component:packages

#4413 feat: scaffold chain-registry files
  changelog.md
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_chain_registry.go
  ignite/pkg/xgit/xgit.go
  ignite/services/scaffolder/chain_registry.go
  integration/other_components/cmd_chain_registry_test.go
Labels: component:ci, component:configs, component:cmd, type:services, component:packages, backport/v28.x.y

#4463 refactor!: sync with latest simulation changes + make it extensible
  changelog.md
  ignite/cmd/chain_simulate.go
  ignite/pkg/chaincmd/runner/simulate.go
  ignite/pkg/chaincmd/simulate.go
  ignite/services/chain/simulate.go
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/commands.go.plush
Labels: component:ci, component:templates, component:configs, component:cmd, type:services, component:packages

#4466 refactor: add apis to chain-registry
  ignite/services/scaffolder/chain_registry.go
Labels: skip-changelog, component:ci, component:configs, type:services, backport/v28.x.y

#4472 feat: expose chain-registry structs
  ignite/pkg/chainregistry/asset.go
  ignite/pkg/chainregistry/chain.go
  ignite/pkg/chainregistry/consts.go
  ignite/pkg/chainregistry/doc.go
  ignite/services/scaffolder/chain_registry.go
Labels: skip-changelog, component:ci, component:configs, type:services, component:packages, backport/v28.x.y

#4474 fix(chain): fix issue in release ci and command
  changelog.md
  ignite/pkg/archive/tar_gz.go
  ignite/services/chain/build.go
  ignite/templates/app/files/.github/workflows/release.yml
Labels: component:ci, component:configs, type:services, component:packages, backport/v28.x.y

#4479 fix: scaffold an `uint64 type crashs Ignite
  changelog.md
  ignite/templates/field/datatype/types.go
Labels: component:ci, component:templates, component:configs

#4485 fix: update `.gitpod.Dockerfile`
  .gitpod.Dockerfile
Labels: skip-changelog, component:ci, component:configs

#4486 fix: set address prefix with sdk v0.52
  changelog.md
  ignite/pkg/cosmosclient/cosmosclient.go
Labels: component:ci, component:configs, component:packages
