Repository ignite/cli, pull requests merged in 2025-07, with the labels that each got.

#4741 refactor(cosmosgen): generate openapi for external modules
  changelog.md
  docs/docs/08-configuration/01-config.md
  docs/versioned_docs/version-v29/08-configuration/01-config.md
  go.mod
  ignite/cmd/scaffold.go
  ignite/config/chain/config.go
  ignite/internal/tools/gen-mig-diffs/pkg/diff/diff.go
  ignite/pkg/cosmosgen/generate_openapi.go
  ignite/pkg/cosmosgen/generate_openapi_test.go
  ignite/pkg/cosmosgen/testdata/expected_files/openapi/openapi.json
  ignite/pkg/cosmosgen/testdata/testchain/docs/static/openapi.json
  ignite/pkg/cosmosgen/testdata/testchain/proto/buf.gen.swagger.yaml
  ignite/pkg/openapiconsole/index.tpl
  ignite/templates/app/files/config.yml.plush
  ignite/templates/app/files/docs/docs.go.plush
  ignite/templates/app/files/docs/static/openapi.json.plush
  ignite/templates/app/files/docs/template/index.tpl
  integration/chain/cache_test.go
Labels: component:docs, component:ci, component:templates, component:configs, component:cmd, type:internal, component:packages

#4699 docs: Update IBC tutorial
  docs/docs/02-guide/04-ibc.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#4750 chore: update codeowners
  .github/CODEOWNERS
Labels: skip-changelog, component:ci, component:configs

#4744 refactor!: remove react frontend + re-enable disabled integration tests
  changelog.md
  docs/docs/04-clients/03-vue.md
  docs/docs/04-clients/04-react.md
  docs/versioned_docs/version-v29/04-clients/04-react.md
  go.mod
  go.sum
  ignite/cmd/generate.go
  ignite/cmd/generate_hooks.go
  ignite/cmd/scaffold_react.go
  ignite/cmd/scaffold_vue.go
  ignite/config/chain/base/config.go
  ignite/config/chain/config.go
  ignite/pkg/cosmosgen/cosmosgen.go
  ignite/pkg/cosmosgen/generate_composables.go
  ignite/pkg/cosmosgen/templates/composable/index.ts.tpl
  ignite/pkg/cosmosgen/webtemplates.go
  ignite/services/chain/generate.go
  ignite/services/scaffolder/scaffolder.go
  ignite/templates/app/files/readme.md.plush
  integration/app.go
  integration/client.go
  integration/cosmosgen/bank_module_test.go
  integration/cosmosgen/bank_module_test.ts
  integration/cosmosgen/cosmosgen_composables_test.go
  integration/cosmosgen/cosmosgen_hooks_test.go
  integration/cosmosgen/cosmosgen_test.go
  integration/cosmosgen/custom_module_test.go
  integration/cosmosgen/custom_module_test.ts
  integration/env.go
  integration/exec.go
Labels: component:docs, component:ci, component:templates, component:configs, component:cmd, type:services, type:internal, component:packages

#4751 refactor(cosmosgen): improve cache
  changelog.md
  ignite/pkg/cosmosgen/cosmosgen.go
  ignite/pkg/cosmosgen/generate.go
Labels: component:ci, component:configs, component:packages

#4757 fix: always delete temp folder from open api generation
  changelog.md
  ignite/pkg/cosmosgen/generate_openapi.go
Labels: component:ci, component:configs, component:packages

#4768 chore: remove unused parameter for the relayer tests
  integration/relayer/cmd_relayer_test.go
Labels: skip-changelog, component:ci, component:configs

#4781 fix(deps): Support Go 1.25 by upgrading github.com/bytedance/sonic to v1.14.0
  go.mod
  go.sum
Labels: skip-changelog, component:ci, component:configs
