Repository ignite/cli, pull requests merged in 2025-08, with the labels that each got.

#4784 refactor: remove unused message initialization
  changelog.md
  ignite/templates/message/files/message/x/{{moduleName}}/types/message_{{msgName}}.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
Labels: component:ci, component:templates, component:configs

#4793 fix: replace broken `bytedance/sonic` version in the `go.mod`
  .github/workflows/test-integration.yml
  changelog.md
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs

#4791 chore: remove old starport mentions
  ignite/templates/app/files/app/sim_test.go.plush
  ignite/templates/app/files/readme.md.plush
Labels: skip-changelog, component:ci, component:templates, component:configs

#4798 ci: fix job indentation
  .github/workflows/proto-checker.yml
Labels: skip-changelog, component:ci, component:configs

#4799 chore: bump cosmossdk.io/log and remove replace
  changelog.md
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs
