Repository ignite/cli, pull requests merged in 2025-03, with the labels that each got.

#4524 refactor!: downgrade nightly to 0.50 (2/2)
  .github/workflows/test-lint.yml
  .golangci.yml
  changelog.md
  ignite/cmd/testnet_multi_node.go
  ignite/pkg/chaincmd/runner/runner.go
  ignite/pkg/chaincmd/runner/simulate.go
  ignite/pkg/chaincmd/simulate.go
  ignite/pkg/cosmosclient/cosmosclient_test.go
  ignite/pkg/markdownviewer/markdownviewer.go
  ignite/pkg/protoanalysis/protoutil/helpers.go
  ignite/pkg/truncatedbuffer/truncatedbuffer.go
  ignite/templates/app/files/app/app_config.go.plush
  ignite/templates/app/files/app/sim_bench_test.go.plush
  ignite/templates/app/files/app/sim_test.go.plush
  ignite/templates/ibc/packet.go
  ignite/templates/message/message.go
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/depinject.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/simulation.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/simulation/placeholder.go.plush
  ignite/templates/typed/list/simulation.go
  ignite/templates/typed/map/simulation.go
  ignite/templates/typed/simulation.go
  ignite/templates/typed/singleton/simulation.go
Labels: component:ci, component:templates, component:configs, component:cmd, component:packages

#4551 fix: fix the cosmos-sdk version for scaffolded apps
  ignite/services/plugin/template/go.mod.plush
Labels: skip-changelog, component:ci, component:configs, type:services

#4552 fix: avoid direct access to proto field `perms.Account` and `perms.Permissions`
  changelog.md
  ignite/templates/app/files-minimal/app/app.go.plush
  ignite/templates/app/files/app/app.go.plush
Labels: component:ci, component:templates, component:configs

#4550 feat!: integrate with ibc v10 rc.3
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/app/app_config.go.plush
  ignite/templates/app/files/app/ibc.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/testnet.go.plush
  ignite/templates/app/files/go.mod.plush
  ignite/templates/module/create/ibc.go
Labels: skip-changelog, component:ci, component:templates, component:configs

#4549 refactor: remove unused placeholder vars
  changelog.md
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/client/cli/tx_{{packetName}}.go.plush
  ignite/templates/message/message.go
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/simulation.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/simulation/placeholder.go.plush
  ignite/templates/typed/list/simulation.go
  ignite/templates/typed/map/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
  ignite/templates/typed/map/files/tests/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/map/files/tests/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/map/simulation.go
  ignite/templates/typed/simulation.go
  ignite/templates/typed/singleton/simulation.go
Labels: component:ci, component:templates, component:configs

#4553 chore: prepare v29.0.0-beta.1
  changelog.md
Labels: component:ci, component:configs

#4557 refactor: remove `github.com/gookit/color`
  changelog.md
  go.mod
  go.sum
  ignite/cmd/account_create.go
  ignite/cmd/account_delete.go
  ignite/cmd/account_export.go
  ignite/cmd/account_import.go
  ignite/cmd/cmd.go
  ignite/pkg/cliui/clispinner/simple.go
  ignite/pkg/cliui/colors/colors.go
Labels: component:ci, component:configs, component:cmd, component:packages

#4556 docs: fix docs build
  docs/docusaurus.config.js
Labels: component:docs, skip-changelog, component:ci, component:configs

#4559 feat: bump to ibc-go v10 final
  changelog.md
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs

#4555 fix: fix buf lint issues into the chain code
  buf.yaml
  changelog.md
  ignite/pkg/cosmosgen/template.go
  ignite/pkg/multiformatname/multiformatname.go
  ignite/pkg/multiformatname/multiformatname_test.go
  ignite/pkg/protoanalysis/protoutil/creator.go
  ignite/pkg/protoanalysis/protoutil/proto_test.go
  ignite/pkg/xstrcase/xstrcase.go
  ignite/pkg/xstrcase/xstrcase_test.go
  ignite/services/scaffolder/type_test.go
  ignite/templates/app/files/buf.yaml.plush
  ignite/templates/field/field.go
  ignite/templates/field/fields.go
  ignite/templates/ibc/files/packet/component/x/{{moduleName}}/keeper/{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/component/x/{{moduleName}}/types/packet_{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/client/cli/tx_{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/keeper/msg_server_{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/types/messages_{{packetName}}.go.plush
  ignite/templates/ibc/packet.go
  ignite/templates/message/files/message/x/{{moduleName}}/keeper/msg_server_{{msgName}}.go.plush
  ignite/templates/message/files/message/x/{{moduleName}}/types/message_{{msgName}}.go.plush
  ignite/templates/message/message.go
  ignite/templates/module/create/configs.go
  ignite/templates/module/create/files/base/x/{{moduleName}}/types/params.go.plush
  ignite/templates/module/create/files/base/{{protoDir}}/{{appName}}/{{moduleName}}/module/{{protoVer}}/module.proto.plush
  ignite/templates/module/create/files/base/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/params.proto.plush
  ignite/templates/module/create/files/ibc/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/packet.proto.plush
  ignite/templates/module/create/params.go
  ignite/templates/query/files/x/{{moduleName}}/keeper/query_{{queryName}}.go.plush
  ignite/templates/query/query.go
  ignite/templates/typed/dry/files/component/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/{{typeName}}.proto.plush
  ignite/templates/typed/list/files/component/x/{{moduleName}}/keeper/query_{{typeName}}.go.plush
  ignite/templates/typed/list/files/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/list/files/component/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/{{typeName}}.proto.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/list/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/list/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/list/list.go
  ignite/templates/typed/list/simulation.go
  ignite/templates/typed/map/files/component/x/{{moduleName}}/keeper/query_{{typeName}}.go.plush
  ignite/templates/typed/map/files/component/x/{{moduleName}}/types/key_{{typeName}}.go.plush
  ignite/templates/typed/map/files/component/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/{{typeName}}.proto.plush
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/map/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/map/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
  ignite/templates/typed/map/files/tests/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/map/files/tests/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/map/map.go
  ignite/templates/typed/map/simulation.go
  ignite/templates/typed/simulation.go
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/keeper/query_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/files/component/{{protoDir}}/{{appName}}/{{moduleName}}/{{protoVer}}/{{typeName}}.proto.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/keeper/msg_server_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/files/messages/x/{{moduleName}}/types/messages_{{typeName}}.go.plush
  ignite/templates/typed/singleton/files/simapp/x/{{moduleName}}/simulation/{{typeName}}.go.plush
  ignite/templates/typed/singleton/singleton.go
Labels: component:ci, component:templates, component:configs, type:services, component:packages

#4570 build(deps): bump to ibc-go v10.1.0
  ignite/templates/app/files/go.mod.plush
Labels: skip-changelog, component:ci, component:templates, component:configs

#4569 feat: wire custom coin type and get bech32 prefix
  changelog.md
  go.mod
  ignite/cmd/account.go
  ignite/cmd/account_create.go
  ignite/cmd/account_import.go
  ignite/cmd/account_list.go
  ignite/cmd/account_show.go
  ignite/cmd/scaffold_chain.go
  ignite/cmd/scaffold_chain_registry.go
  ignite/cmd/testnet_inplace.go
  ignite/pkg/chainregistry/chain.go
  ignite/pkg/cosmosaccount/cosmosaccount.go
  ignite/pkg/cosmosclient/bank.go
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/services/chain/chain.go
  ignite/services/chain/chain_test.go
  ignite/services/scaffolder/chain_registry.go
  ignite/services/scaffolder/init.go
  ignite/templates/app/app.go
  ignite/templates/app/files-minimal/app/app.go.plush
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/app/config.go.plush
  ignite/templates/app/options.go
  integration/app/cmd_app_test.go
Labels: component:ci, component:templates, component:configs, component:cmd, type:services, component:packages, backport/v28.x.y

#4571 chore: make function comment match function name
  ignite/internal/tools/gen-mig-diffs/pkg/url/url.go
  ignite/pkg/goanalysis/goanalysis.go
Labels: skip-changelog, component:ci, component:configs, type:internal, component:packages

#4575 fix(doctor): fix `ignite doctor` tool
  ignite/cmd/doctor.go
  ignite/pkg/cosmosbuf/buf.go
  ignite/pkg/xos/files.go
  ignite/pkg/xos/files_test.go
  ignite/services/doctor/doctor.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, type:services, component:packages

#4577 fix: add proto version to query path
  changelog.md
  ignite/services/chain/chain_test.go
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
  ignite/templates/query/query.go
  ignite/templates/typed/list/list.go
  ignite/templates/typed/map/map.go
  ignite/templates/typed/singleton/singleton.go
Labels: component:ci, component:templates, component:configs, type:services

#4579 fix(templates): fix default params
  changelog.md
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/query_params.go.plush
Labels: component:ci, component:templates, component:configs

#4583 docs: skip beta docs
  .github/workflows/gen-docs-version.yml
  docs/versioned_docs/version-v29/01-welcome/01-index.md
  docs/versioned_docs/version-v29/01-welcome/02-install.md
  docs/versioned_docs/version-v29/01-welcome/03-tutorials.md
  docs/versioned_docs/version-v29/01-welcome/_category_.json
  docs/versioned_docs/version-v29/02-guide/02-introduction.md
  docs/versioned_docs/version-v29/02-guide/03-hello-world.md
  docs/versioned_docs/version-v29/02-guide/04-ibc.md
  docs/versioned_docs/version-v29/02-guide/05-debug.md
  docs/versioned_docs/version-v29/02-guide/06-docker.md
  docs/versioned_docs/version-v29/02-guide/07-simapp.md
  docs/versioned_docs/version-v29/02-guide/_category_.json
  docs/versioned_docs/version-v29/02-guide/images/packet_sendpost.png
  docs/versioned_docs/version-v29/03-CLI-Commands/01-cli-commands.md
  docs/versioned_docs/version-v29/03-CLI-Commands/_category_.json
  docs/versioned_docs/version-v29/04-clients/01-go-client.md
  docs/versioned_docs/version-v29/04-clients/02-typescript.md
  docs/versioned_docs/version-v29/04-clients/03-vue.md
  docs/versioned_docs/version-v29/04-clients/04-react.md
  docs/versioned_docs/version-v29/04-clients/_category_.json
  docs/versioned_docs/version-v29/04-network/01-chain.md
  docs/versioned_docs/version-v29/04-network/02-introduction.md
  docs/versioned_docs/version-v29/04-network/03-coordinator.md
  docs/versioned_docs/version-v29/04-network/04-validator.md
  docs/versioned_docs/version-v29/04-network/05-coordination.md
  docs/versioned_docs/version-v29/04-network/_category_.json
  docs/versioned_docs/version-v29/04-network/assets/generation.png
  docs/versioned_docs/version-v29/04-network/assets/genesis.png
  docs/versioned_docs/version-v29/04-network/assets/launch.png
  docs/versioned_docs/version-v29/04-network/assets/process.png
  docs/versioned_docs/version-v29/04-network/assets/requests.png
  docs/versioned_docs/version-v29/05-contributing/01-docs.md
  docs/versioned_docs/version-v29/05-contributing/_category_.json
  docs/versioned_docs/version-v29/06-migration/_category_.json
  docs/versioned_docs/version-v29/06-migration/readme.md
  docs/versioned_docs/version-v29/06-migration/v0.18.md
  docs/versioned_docs/version-v29/06-migration/v0.19.2.md
  docs/versioned_docs/version-v29/06-migration/v0.20.0.md
  docs/versioned_docs/version-v29/06-migration/v0.22.0.md
  docs/versioned_docs/version-v29/06-migration/v0.24.0.md
  docs/versioned_docs/version-v29/06-migration/v0.25.0.md
  docs/versioned_docs/version-v29/06-migration/v0.25.1.md
  docs/versioned_docs/version-v29/06-migration/v0.26.0.md
  docs/versioned_docs/version-v29/06-migration/v0.27.1.md
  docs/versioned_docs/version-v29/06-migration/v28.0.0.md
  docs/versioned_docs/version-v29/07-packages/_category_.json
  docs/versioned_docs/version-v29/07-packages/cosmostxcollector.md
  docs/versioned_docs/version-v29/08-references/01-cli.md
  docs/versioned_docs/version-v29/08-references/02-config.md
  docs/versioned_docs/version-v29/08-references/03-config_example.md
  docs/versioned_docs/version-v29/08-references/_category_.json
  docs/versioned_docs/version-v29/apps/01-using-apps.md
  docs/versioned_docs/version-v29/apps/02-developing-apps.md
  docs/versioned_docs/version-v29/apps/_category_.json
  docs/versioned_sidebars/version-v29-sidebars.json
  docs/versions.json
Labels: component:docs, skip-changelog, component:ci, component:configs

#4584 chore: fix some typos
  ignite/config/chain/v1/validator_servers.go
  ignite/pkg/archive/tar_gz.go
  ignite/services/chain/init.go
  packaging/readme.md
Labels: skip-changelog, component:ci, component:configs, type:services, type:internal, component:packages

#4589 docs: fix broken links
  .github/workflows/link-checker-config.json
  .github/workflows/link-checker.yml
  changelog.md
  docs/docs/04-clients/02-typescript.md
  docs/docs/04-network/01-chain.md
  docs/docs/08-references/01-cli.md
  docs/docusaurus.config.js
  docs/versioned_docs/version-v0.25/clients/01-typescript.md
  docs/versioned_docs/version-v0.25/guide/05-scavenge/01-hunt.md
  docs/versioned_docs/version-v0.26/03-clients/02-typescript.md
  docs/versioned_docs/version-v0.26/04-network/01-chain.md
  docs/versioned_docs/version-v0.27/03-clients/02-typescript.md
  docs/versioned_docs/version-v0.27/04-network/01-chain.md
  docs/versioned_docs/version-v28/03-clients/02-typescript.md
  docs/versioned_docs/version-v28/04-network/01-chain.md
  ignite/cmd/scaffold_chain_registry.go
  readme.md
Labels: component:docs, component:ci, component:configs, component:cmd

#4590 ci: bump some github actions
  .github/workflows/auto-author-assign.yml
  .github/workflows/cl-enforcer.yml
  .github/workflows/docs-deploy-preview.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/gen-docs-cli.yml
  .github/workflows/gen-docs-config.yml
  .github/workflows/gen-docs-migration.yml
  .github/workflows/gen-docs-version.yml
  .github/workflows/go-formatting.yml
  .github/workflows/janitor.yml
  .github/workflows/labeler.yml
  .github/workflows/proto-checker.yml
  .github/workflows/release-binary.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-nightly.yml
  .github/workflows/stats.yaml
  .github/workflows/test-cov.yml
Labels: skip-changelog, component:ci, component:configs

#4592 docs(plugin): disclaimer plugin aliases
  ignite/cmd/plugin.go
  ignite/services/plugin/grpc/v1/client_api.pb.go
  ignite/services/plugin/grpc/v1/interface.pb.go
  ignite/services/plugin/grpc/v1/service.pb.go
  ignite/services/plugin/grpc/v1/service_grpc.pb.go
  proto/ignite/services/plugin/grpc/v1/interface.proto
Labels: skip-changelog, component:ci, component:configs, component:cmd, type:services, backport/v28.x.y

#4596 refactor: add default `openapi.yml` when skipping proto gen
  changelog.md
  ignite/cmd/scaffold_chain.go
  ignite/templates/app/files/docs/static/openapi.yml.plush
Labels: component:ci, component:templates, component:configs, component:cmd

#4588 feat: run `buf format` after scaffold proto files
  changelog.md
  ignite/pkg/cosmosbuf/buf.go
  ignite/pkg/cosmosgen/cosmosgen.go
  ignite/services/scaffolder/scaffolder.go
Labels: component:ci, component:configs, type:services, component:packages

#4595 fix: wrong InterfaceRegistry for IBC modules
  changelog.md
  ignite/services/plugin/grpc/v1/client_api.pb.go
  ignite/services/plugin/grpc/v1/interface.pb.go
  ignite/services/plugin/grpc/v1/service.pb.go
  ignite/services/plugin/grpc/v1/service_grpc.pb.go
  ignite/templates/app/files/app/app_config.go.plush
  ignite/templates/app/files/app/ibc.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
  integration/relayer/cmd_relayer_test.go
Labels: component:ci, component:templates, component:configs, type:services
