Repository ignite/cli, pull requests merged in 2025-05, with the labels that each got.

#4654 refactor: use slices.Contains to simplify code
  ignite/pkg/cosmosutil/genesis/genesis.go
  ignite/pkg/goanalysis/goanalysis.go
  ignite/pkg/gomodule/gomodule.go
  ignite/pkg/protoanalysis/protoanalysis.go
Labels: skip-changelog, component:ci, component:configs, component:packages

#4656 fix: xast misplacing comments
  changelog.md
  ignite/pkg/xast/function.go
  ignite/pkg/xast/function_test.go
  ignite/pkg/xast/global.go
  ignite/pkg/xast/global_test.go
  ignite/pkg/xast/import.go
  ignite/pkg/xast/import_test.go
  ignite/templates/ibc/packet.go
  ignite/templates/message/message.go
  ignite/templates/module/create/base.go
  ignite/templates/module/create/ibc.go
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/list/list.go
  ignite/templates/typed/map/map.go
  ignite/templates/typed/simulation.go
  ignite/templates/typed/singleton/singleton.go
Labels: component:ci, component:templates, component:configs, component:packages

#4660 fix: xast test case indentation
  changelog.md
  ignite/pkg/xast/function.go
  ignite/pkg/xast/function_test.go
Labels: component:ci, component:configs, component:packages

#4657 feat(templates): upgrade to cosmos-sdk 0.53
  changelog.md
  go.mod
  go.sum
  ignite/pkg/cosmosclient/cosmosclient_test.go
  ignite/pkg/cosmosver/cosmosver.go
  ignite/templates/app/files-minimal/app/app_config.go.plush
  ignite/templates/app/files/app/app_config.go.plush
  ignite/templates/app/files/go.mod.plush
  ignite/version/version.go
  ignite/version/version_test.go
Labels: component:ci, component:templates, component:configs, type:internal, component:packages

#4644 feat(cmd): improve UI on multi-node command
  changelog.md
  ignite/cmd/bubblemodel/testnet_multi_node.go
  ignite/cmd/testnet_inplace.go
  ignite/cmd/testnet_multi_node.go
  ignite/services/chain/testnet.go
  ignite/templates/app/files/config.yml.plush
Labels: component:ci, component:templates, component:configs, component:cmd, type:services

#4659 feat: add `GetIgniteInfo` gRPC API for apps
  buf.yaml
  changelog.md
  go.mod
  go.sum
  ignite/internal/plugin/execute_test.go
  ignite/internal/plugin/testdata/execute_ok/main.go
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/pkg/cosmosclient/mocks/account_retriever.go
  ignite/pkg/cosmosclient/mocks/bank_query_client.go
  ignite/pkg/cosmosclient/mocks/faucet_client.go
  ignite/pkg/cosmosclient/mocks/rpc_client.go
  ignite/pkg/cosmosclient/mocks/signer.go
  ignite/pkg/cosmostxcollector/mocks/saver.go
  ignite/pkg/cosmostxcollector/mocks/txs_collector.go
  ignite/services/plugin/client_api.go
  ignite/services/plugin/grpc/v1/client_api.pb.go
  ignite/services/plugin/grpc/v1/interface.pb.go
  ignite/services/plugin/grpc/v1/service.pb.go
  ignite/services/plugin/grpc/v1/service_grpc.pb.go
  ignite/services/plugin/interface.go
  ignite/services/plugin/mocks/chainer.go
  ignite/services/plugin/mocks/client_api.go
  ignite/services/plugin/mocks/interface.go
  ignite/services/plugin/plugin_test.go
  ignite/services/plugin/protocol.go
  ignite/templates/app/files/buf.yaml.plush
  integration/plugin/testdata/example-plugin/go.mod
  integration/plugin/testdata/example-plugin/main.go
  proto/ignite/services/plugin/grpc/v1/client_api.proto
  proto/ignite/services/plugin/grpc/v1/service.proto
Labels: component:ci, component:templates, component:configs, type:services, type:internal, component:packages

#4658 fix: indentation for params scaffolded into a struct
  changelog.md
  ignite/pkg/xast/function.go
  ignite/pkg/xast/function_test.go
  ignite/templates/module/create/ibc.go
  ignite/templates/module/create/params.go
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/list/list.go
  ignite/templates/typed/list/simulation.go
  ignite/templates/typed/map/map.go
  ignite/templates/typed/map/simulation.go
  ignite/templates/typed/singleton/singleton.go
Labels: component:ci, component:templates, component:configs, component:packages

#4667 refactor(templates): harden `IsSlice`
  changelog.md
  ignite/templates/field/field.go
  ignite/templates/field/field_test.go
Labels: component:ci, component:templates, component:configs

#4666 fix(templates): make v29 compatible with wasm app
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/commands.go.plush
Labels: skip-changelog, component:ci, component:templates, component:configs

#4665 docs: add coding style
  contributing.md
Labels: skip-changelog, component:ci, component:configs

#4664 feat: add verbose flag to scaffold and generate commands
  changelog.md
  ignite/cmd/generate.go
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_chain.go
  ignite/pkg/cmdrunner/cmdrunner.go
  ignite/pkg/env/env.go
  ignite/services/plugin/plugin.go
Labels: component:ci, component:configs, component:cmd, type:services, component:packages

#4671 refactor: use maps.Copy for cleaner map handling
  ignite/pkg/cosmosbuf/buf.go
  integration/client.go
Labels: skip-changelog, component:ci, component:configs, component:packages

#4670 chore: prepare v29 rc.1 + update codeowners
  .github/CODEOWNERS
  changelog.md
Labels: component:ci, component:configs

#4675 chore: bump deps for internal tools
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_ok/go.mod
  ignite/internal/tools/gen-config-doc/go.mod
  ignite/internal/tools/gen-config-doc/go.sum
  ignite/internal/tools/gen-mig-diffs/go.mod
  ignite/internal/tools/gen-mig-diffs/go.sum
  ignite/internal/tools/gen-mig-diffs/readme.md
Labels: skip-changelog, component:ci, component:configs, type:internal

#4679 docs: Fix References Tab in Documentation
  docs/docs/08-references/01-cli.md
  docs/docs/08-references/02-config.md
  docs/docs/08-references/03-config.md
  docs/docs/08-references/03-config_example.md
  docs/docs/08-references/04-glossary.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#4680 docs: Add tutorials link to the guide
  docs/docs/02-guide/02-introduction.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#4692 docs: Change links in footer, that lead nowhere
  docs/docusaurus.config.js
Labels: component:docs, skip-changelog, component:ci, component:configs

#4686 refactor(cosmosanalysis): proper message filtering
  changelog.md
  ignite/pkg/cosmosanalysis/module/message.go
  ignite/pkg/cosmosanalysis/module/module.go
  ignite/pkg/cosmosanalysis/module/module_test.go
  ignite/pkg/cosmosanalysis/module/testdata/earth/proto/planet/mars/mars.proto
  ignite/pkg/cosmosanalysis/module/testdata/planet/proto/planet/mars/mars.proto
Labels: component:ci, component:configs, component:packages, backport/v28.x.y

#4689 fix(templates): correctly implement `HasGenesis` interface
  changelog.md
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
Labels: component:ci, component:templates, component:configs

#4687 feat: add address type
  changelog.md
  ignite/templates/field/datatype/address.go
  ignite/templates/field/datatype/types.go
  ignite/templates/field/datatype/types_test.go
  ignite/templates/field/field.go
  ignite/templates/ibc/packet.go
  ignite/templates/message/message.go
  ignite/templates/typed/list/list.go
  ignite/templates/typed/map/map.go
  ignite/templates/typed/singleton/singleton.go
  integration/other_components/cmd_message_test.go
Labels: component:ci, component:templates, component:configs

#4683 feat(cmd): allow to change default denom via flag
  changelog.md
  ignite/cmd/scaffold_chain.go
  ignite/config/chain/base/config.go
  ignite/pkg/chaincmd/chaincmd.go
  ignite/pkg/chaincmd/runner/chain.go
  ignite/pkg/cosmosgen/generate.go
  ignite/services/chain/init.go
  ignite/services/scaffolder/init.go
  ignite/templates/app/app.go
  ignite/templates/app/files-minimal/app/app.go.plush
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/config.yml.plush
  ignite/templates/app/options.go
  integration/app/cmd_app_test.go
Labels: component:ci, component:templates, component:configs, component:cmd, type:services, type:internal, component:packages

#4698 docs: Add fmt to imports hello-world
  docs/docs/02-guide/03-hello-world.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#4701 feat(doctor): improve buf migration + docs migration
  changelog.md
  docs/docs/06-migration/v29.0.0.md
  ignite/cmd/chain.go
  ignite/cmd/scaffold.go
  ignite/pkg/cosmosbuf/buf.go
  ignite/pkg/cosmosbuf/config.go
  ignite/pkg/cosmosgen/generate.go
  ignite/services/chain/proto.go
  ignite/services/doctor/doctor.go
  ignite/templates/app/files/go.mod.plush
Labels: component:docs, component:ci, component:templates, component:configs, component:cmd, type:services, component:packages

#4702 feat: improve app detection
  changelog.md
  docs/docs/06-migration/v29.0.0.md
  ignite/pkg/cosmosanalysis/app/app.go
  ignite/pkg/cosmosanalysis/app/testdata/app_generic.go
  ignite/pkg/cosmosanalysis/app/testdata/app_minimal.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/app_config/app.go
  ignite/pkg/cosmosanalysis/app/testdata/modules/single_app/app.go
  ignite/pkg/cosmosanalysis/app/testdata/two_app.go
  ignite/pkg/cosmosanalysis/cosmosanalysis.go
  ignite/pkg/cosmosanalysis/cosmosanalysis_test.go
  ignite/pkg/cosmosanalysis/module/testdata/earth/app/app.go
  ignite/pkg/cosmosanalysis/module/testdata/planet/app/app.go
Labels: component:docs, component:ci, component:configs, component:packages

#4703 refactor!: remove `testutil.Register` function
  changelog.md
  ignite/services/scaffolder/init.go
  ignite/templates/app/files/testutil/nullify/nullify.go.plush
  ignite/templates/app/files/testutil/sample/sample.go.plush
  ignite/templates/ibc/packet.go
  ignite/templates/message/message.go
  ignite/templates/testutil/register.go
  ignite/templates/typed/typed.go
Labels: component:ci, component:templates, component:configs, type:services

#4691 fix(templates): fix .tpl and bump ts-client deps
  ignite/pkg/cosmosgen/templates/rest/rest.ts.tpl
  ignite/pkg/cosmosgen/templates/root/index.ts.tpl
  ignite/pkg/cosmosgen/templates/root/package.json.tpl
Labels: skip-changelog, component:ci, component:configs, component:packages

#4704 chore: add v29, remove dead link, add marketplace link in readme
  readme.md
Labels: skip-changelog, component:ci, component:configs

#4677 refactor: remove xgenny embed walker
  changelog.md
  go.mod
  ignite/config/chain/config.go
  ignite/internal/plugin/testdata/execute_ok/main.go
  ignite/internal/tools/gen-config-doc/templates/doc/doc.go
  ignite/internal/tools/gen-mig-diffs/templates/doc/doc.go
  ignite/pkg/xgenny/sourcemodification.go
  ignite/pkg/xgenny/transformer.go
  ignite/pkg/xgenny/transformer_test.go
  ignite/pkg/xgenny/walker.go
  ignite/services/doctor/doctor.go
  ignite/services/plugin/scaffold.go
  ignite/services/scaffolder/configs.go
  ignite/services/scaffolder/init.go
  ignite/services/scaffolder/message.go
  ignite/services/scaffolder/packet.go
  ignite/services/scaffolder/params.go
  ignite/services/scaffolder/query.go
  ignite/services/scaffolder/type.go
  ignite/templates/app/proto.go
  ignite/templates/ibc/packet.go
  ignite/templates/message/message.go
  ignite/templates/message/options.go
  ignite/templates/module/create/base.go
  ignite/templates/module/create/configs.go
  ignite/templates/module/create/ibc.go
  ignite/templates/module/create/msgserver.go
  ignite/templates/module/create/options.go
  ignite/templates/module/create/params.go
  ignite/templates/query/options.go
  ignite/templates/query/query.go
  ignite/templates/typed/dry/dry.go
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/list/list.go
  ignite/templates/typed/list/simulation.go
  ignite/templates/typed/map/map.go
  ignite/templates/typed/map/simulation.go
  ignite/templates/typed/options.go
  ignite/templates/typed/singleton/simulation.go
  ignite/templates/typed/singleton/singleton.go
  ignite/templates/typed/typed.go
Labels: component:ci, component:templates, component:configs, type:services, type:internal, component:packages

#4711 chore: bump client/v2 + prepare v29
  changelog.md
  ignite/cmd/generate_typescript_client.go
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs, component:cmd

#4710 refactor: remove the `nullify` pkg from the chain `testutil`
  changelog.md
  docs/docs/02-guide/03-hello-world.md
  docs/docs/02-guide/08-state.md
  docs/docs/04-clients/01-go-client.md
  docs/docs/06-migration/v29.0.0.md
  docs/docs/07-packages/cosmostxcollector.md
  docs/versioned_docs/version-v0.27/03-clients/01-go-client.md
  docs/versioned_docs/version-v28/02-guide/05-loan.md
  docs/versioned_docs/version-v29/02-guide/03-hello-world.md
  docs/versioned_docs/version-v29/02-guide/08-state.md
  docs/versioned_docs/version-v29/04-clients/01-go-client.md
  docs/versioned_docs/version-v29/07-packages/cosmostxcollector.md
  ignite/pkg/cliui/clispinner/clispinner.go
  ignite/templates/app/files/testutil/nullify/nullify.go.plush
  ignite/templates/field/datatype/address.go
  ignite/templates/field/datatype/bytes.go
  ignite/templates/field/datatype/coin.go
  ignite/templates/field/datatype/custom.go
  ignite/templates/field/datatype/int.go
  ignite/templates/field/datatype/string.go
  ignite/templates/field/datatype/types.go
  ignite/templates/field/datatype/uint.go
  ignite/templates/field/field.go
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/genesis_test.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/query_params_test.go.plush
  ignite/templates/typed/list/files/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/list/genesis.go
  ignite/templates/typed/map/files/tests/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/map/map.go
  ignite/templates/typed/singleton/files/component/x/{{moduleName}}/keeper/query_{{typeName}}_test.go.plush
  ignite/templates/typed/singleton/singleton.go
Labels: component:docs, component:ci, component:templates, component:configs, component:packages
