Repository ignite/cli, pull requests merged in 2025-06, with the labels that each got.

#4715 ci: fix gen mig diff job
  .github/workflows/gen-docs-migration.yml
  .github/workflows/release-homebrew.yml
  scripts/gen-mig-diffs
Labels: skip-changelog, component:ci, component:configs

#4717 build(deps): bump to cosmos-sdk v0.53.2
  changelog.md
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
Labels: component:ci, component:templates, component:configs

#4706 feat(cosmosgen,cosmosanalysis): generic query template
  changelog.md
  go.mod
  ignite/cmd/generate_typescript_client.go
  ignite/pkg/cosmosanalysis/module/module.go
  ignite/pkg/cosmosanalysis/module/module_test.go
  ignite/pkg/cosmosanalysis/module/testdata/earth/proto/planet/mars/mars.proto
  ignite/pkg/cosmosanalysis/module/testdata/planet/app/app.go
  ignite/pkg/cosmosanalysis/module/testdata/planet/proto/planet/mars/mars.proto
  ignite/pkg/cosmosgen/generate.go
  ignite/pkg/cosmosgen/generate_typescript.go
  ignite/pkg/cosmosgen/generate_typescript_test.go
  ignite/pkg/cosmosgen/template.go
  ignite/pkg/cosmosgen/templates/rest/rest.ts.tpl
  ignite/pkg/cosmosgen/templates/root/package.json.tpl
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/mars/index.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/mars/module.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/mars/registry.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/mars/rest.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/mars/types.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/mars/types/planet/mars/mars.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/mars/types/route-name.eta
  ignite/pkg/cosmosgen/testdata/testchain/app/app.go
  ignite/pkg/cosmosgen/testdata/testchain/go.mod
  ignite/pkg/cosmosgen/testdata/testchain/proto/buf.gen.ts.yaml
  ignite/pkg/cosmosgen/testdata/testchain/proto/buf.lock
  ignite/pkg/cosmosgen/testdata/testchain/proto/buf.yaml
  ignite/pkg/cosmosgen/testdata/testchain/proto/planet/mars/mars.proto
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/index.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/module.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/registry.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/rest.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/types.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/types/cosmos/base/query/v1beta1/pagination.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/types/cosmos_proto/cosmos.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/types/google/api/annotations.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/types/google/api/http.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/types/google/protobuf/descriptor.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/types/planet/mars/mars.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/types/route-name.eta
  ignite/pkg/cosmosgen/testdata/testchain/x/mars/keeper/query.go
  ignite/pkg/cosmosgen/testdata/testchain/x/mars/types/types.go
  ignite/pkg/protoanalysis/builder.go
  ignite/pkg/protoanalysis/package.go
  ignite/pkg/protoanalysis/protoanalysis_test.go
  ignite/services/plugin/grpc/v1/client_api.pb.go
  ignite/services/plugin/grpc/v1/interface.pb.go
  ignite/services/plugin/grpc/v1/service.pb.go
  ignite/services/plugin/grpc/v1/service_grpc.pb.go
Labels: component:ci, component:configs, component:cmd, type:services, component:packages, backport/v28.x.y

#4725 refactor(cosmosgen): wire ts generic template
  changelog.md
  ignite/pkg/cosmosanalysis/module/module.go
  ignite/pkg/cosmosanalysis/module/module_test.go
  ignite/pkg/cosmosgen/template.go
  ignite/pkg/cosmosgen/templates/rest/rest.ts.tpl
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/mars/rest.ts
  ignite/pkg/cosmosgen/testdata/testchain/proto/planet/mars/mars.proto
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/rest.ts
Labels: component:ci, component:configs, component:packages, backport/v28.x.y

#4614 feat: improve integration tests and add query tests
  changelog.md
  ignite/pkg/clidoc/struct.go
  ignite/templates/field/datatype/bool.go
  ignite/templates/field/datatype/bytes.go
  ignite/templates/field/datatype/coin.go
  ignite/templates/field/datatype/custom.go
  ignite/templates/field/datatype/int.go
  ignite/templates/field/datatype/string.go
  ignite/templates/field/datatype/uint.go
  integration/app.go
  integration/app/cmd_app_test.go
  integration/app/cmd_proto_path_test.go
  integration/chain/cache_test.go
  integration/chain/cmd_serve_test.go
  integration/chain/config_test.go
  integration/cosmosgen/bank_module_test.go
  integration/cosmosgen/cosmosgen_composables_test.go
  integration/cosmosgen/cosmosgen_hooks_test.go
  integration/cosmosgen/cosmosgen_test.go
  integration/cosmosgen/custom_module_test.go
  integration/faucet/faucet_test.go
  integration/ibc/cmd_ibc_test.go
  integration/list/cmd_list_test.go
  integration/map/cmd_map_test.go
  integration/msgs.go
  integration/other_components/cmd_chain_registry_test.go
  integration/other_components/cmd_message_test.go
  integration/other_components/cmd_query_test.go
  integration/params/cmd_configs_test.go
  integration/params/cmd_params_test.go
  integration/plugin/plugin_test.go
  integration/relayer/cmd_relayer_test.go
  integration/simulate.go
  integration/simulation/simapp_test.go
  integration/single/cmd_singleton_test.go
  integration/tx/tx_test.go
Labels: component:ci, component:templates, component:configs, component:packages

#4728 feat: ask before overwriting a xgenny file
  changelog.md
  ignite/cmd/chain.go
  ignite/cmd/chain_debug.go
  ignite/cmd/chain_init.go
  ignite/cmd/chain_lint.go
  ignite/cmd/chain_serve.go
  ignite/cmd/doctor.go
  ignite/cmd/generate_composables.go
  ignite/cmd/generate_go.go
  ignite/cmd/generate_hooks.go
  ignite/cmd/generate_openapi.go
  ignite/cmd/generate_typescript_client.go
  ignite/cmd/plugin.go
  ignite/cmd/plugin_default.go
  ignite/cmd/scaffold.go
  ignite/cmd/scaffold_chain.go
  ignite/cmd/scaffold_chain_registry.go
  ignite/cmd/scaffold_configs.go
  ignite/cmd/scaffold_message.go
  ignite/cmd/scaffold_module.go
  ignite/cmd/scaffold_packet.go
  ignite/cmd/scaffold_params.go
  ignite/cmd/scaffold_query.go
  ignite/cmd/scaffold_react.go
  ignite/cmd/scaffold_vue.go
  ignite/cmd/testnet_inplace.go
  ignite/cmd/testnet_multi_node.go
  ignite/internal/tools/gen-config-doc/cmd/root.go
  ignite/internal/tools/gen-mig-diffs/cmd/root.go
  ignite/pkg/cliui/cliui.go
  ignite/pkg/xgenny/runner.go
  ignite/pkg/xos/cp.go
  ignite/pkg/xos/cp_test.go
  ignite/services/plugin/plugin_test.go
  ignite/services/plugin/scaffold.go
  ignite/services/plugin/scaffold_test.go
  ignite/services/scaffolder/init.go
  ignite/services/scaffolder/scaffolder.go
Labels: component:ci, component:configs, component:cmd, type:services, type:internal, component:packages

#4737 feat(cosmogen): implement 3rd party generation root template
  changelog.md
  ignite/pkg/cosmosbuf/buf.go
  ignite/pkg/cosmosgen/generate_typescript.go
  ignite/pkg/cosmosgen/generate_typescript_test.go
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/client.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/env.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/helpers.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/ignite.planet.mars/index.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/ignite.planet.mars/module.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/ignite.planet.mars/registry.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/ignite.planet.mars/rest.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/ignite.planet.mars/types.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/ignite.planet.mars/types/ignite/planet/mars/mars.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/ignite.planet.mars/types/route-name.eta
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/index.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/mars/types.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/modules.ts
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/package.json
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/tsconfig.json
  ignite/pkg/cosmosgen/testdata/expected_files/ts-client/types.d.ts
  ignite/pkg/cosmosgen/testdata/testchain/proto/ignite/planet/mars/mars.proto
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/client.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/env.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/helpers.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/ignite.planet.mars/index.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/ignite.planet.mars/module.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/ignite.planet.mars/registry.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/ignite.planet.mars/rest.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/ignite.planet.mars/types.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/ignite.planet.mars/types/cosmos/base/query/v1beta1/pagination.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/ignite.planet.mars/types/cosmos_proto/cosmos.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/ignite.planet.mars/types/google/api/annotations.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/ignite.planet.mars/types/google/api/http.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/ignite.planet.mars/types/google/protobuf/descriptor.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/ignite.planet.mars/types/ignite/planet/mars/mars.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/ignite.planet.mars/types/route-name.eta
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/index.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/mars/types.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/modules.ts
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/package.json
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/tsconfig.json
  ignite/pkg/cosmosgen/testdata/testchain/ts-client/types.d.ts
Labels: component:ci, component:configs, component:packages, backport/v28.x.y

#4731 feat(template): wire ibc v2
  changelog.md
  ignite/templates/app/files/app/ibc.go.plush
Labels: component:ci, component:templates, component:configs

#4742 feat: Update composables template for new ts-client
  changelog.md
  ignite/pkg/cosmosgen/templates/composable/index.ts.tpl
Labels: component:ci, component:configs, component:packages

#4745 fix: ensure correct typings
  ignite/pkg/cosmosgen/templates/composable/index.ts.tpl
Labels: skip-changelog, component:ci, component:configs, component:packages
