Repository ignite/cli, pull requests merged in 2025-02, with the labels that each got.

#4483 fix: default flag parser for apps
  changelog.md
  ignite/services/plugin/flag.go
  ignite/services/plugin/flag_test.go
  ignite/services/plugin/grpc/v1/interface_flag.go
Labels: component:ci, component:configs, type:services, backport/v28.x.y

#4477 feat: integrate ibc x 0.52
  changelog.md
  go.mod
  go.sum
  ignite/cmd/chain_simulate.go
  ignite/cmd/scaffold_module.go
  ignite/internal/plugin/testdata/execute_fail/go.mod
  ignite/internal/plugin/testdata/execute_ok/go.mod
  ignite/internal/tools/gen-config-doc/go.mod
  ignite/internal/tools/gen-mig-diffs/go.mod
  ignite/pkg/chaincmd/simulate.go
  ignite/pkg/cosmosclient/cosmosclient.go
  ignite/pkg/cosmosclient/cosmosclient_test.go
  ignite/services/plugin/template/go.mod.plush
  ignite/templates/app/files/app/app.go.plush
  ignite/templates/app/files/app/app_config.go.plush
  ignite/templates/app/files/app/ibc.go.plush
  ignite/templates/app/files/app/sim_test.go.plush
  ignite/templates/app/files/cmd/{{binaryNamePrefix}}d/cmd/root.go.plush
  ignite/templates/app/files/go.mod.plush
  ignite/templates/ibc/files/packet/component/x/{{moduleName}}/keeper/{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/client/cli/tx_{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/keeper/msg_server_{{packetName}}.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/keeper/msg_server_{{packetName}}_test.go.plush
  ignite/templates/ibc/files/packet/messages/x/{{moduleName}}/types/messages_{{packetName}}.go.plush
  ignite/templates/ibc/packet.go
  ignite/templates/module/create/files/base/x/{{moduleName}}/keeper/keeper.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/depinject.go.plush
  ignite/templates/module/create/files/base/x/{{moduleName}}/module/module.go.plush
  ignite/templates/module/create/files/ibc/x/{{moduleName}}/keeper/keeper_test.go.plush
  ignite/templates/module/create/files/ibc/x/{{moduleName}}/module/module_ibc.go.plush
  ignite/templates/module/create/files/ibc/x/{{moduleName}}/types/expected_ibc_keeper.go.plush
  ignite/templates/module/create/ibc.go
  ignite/templates/typed/singleton/singleton.go
  integration/ibc/cmd_ibc_test.go
  integration/plugin/testdata/example-plugin/go.mod
Labels: component:ci, component:templates, component:configs, component:cmd, type:services, type:internal, component:packages

#4493 test: fix build
  ignite/services/plugin/template/go.mod.plush
  ignite/templates/app/files/app/ibc.go.plush
Labels: skip-changelog, component:ci, component:templates, component:configs, type:services

#4494 feat: automatic migrate the buf configs to v2
  changelog.md
  ignite/cmd/doctor.go
  ignite/config/chain/parse.go
  ignite/pkg/cosmosbuf/buf.go
  ignite/pkg/cosmosgen/generate_go.go
  ignite/pkg/cosmosgen/generate_openapi.go
  ignite/pkg/xos/files.go
  ignite/pkg/xos/files_test.go
  ignite/services/doctor/doctor.go
  ignite/templates/app/files/{{protoDir}}/buf.gen.gogo.yaml
  ignite/templates/app/files/{{protoDir}}/buf.gen.sta.yaml
  ignite/templates/app/files/{{protoDir}}/buf.gen.swagger.yaml
  ignite/templates/app/files/{{protoDir}}/buf.gen.ts.yaml
  integration/doctor/doctor_test.go
  integration/doctor/testdata/config-missing.txt
Labels: component:ci, component:templates, component:configs, component:cmd, type:services, type:internal, component:packages

#4496 refactor(templates): do not use proto-builder
  ignite/templates/app/files/Makefile.plush
Labels: skip-changelog, component:ci, component:templates, component:configs, backport/v28.x.y

#4500 chore: bump various deps in v28
  ignite/templates/app/files/go.mod.plush
Labels: skip-changelog, component:ci, component:templates, component:configs

#4502 docs: update long description `testnet`
  ignite/cmd/testnet.go
Labels: skip-changelog, component:ci, component:configs, component:cmd, backport/v28.x.y

#4503 Revert "fix: set address prefix with sdk v0.52 (#4486)"
  changelog.md
  ignite/pkg/cosmosclient/cosmosclient.go
Labels: component:ci, component:configs, component:packages

#4506 fix(templates): replace broken vanity url
  ignite/templates/app/files/go.mod.plush
Labels: skip-changelog, component:ci, component:templates, component:configs, backport/v28.x.y

#4513 feat(services): add faucet fee config
  .github/workflows/test-cov.yml
  .github/workflows/test-integration.yml
  .github/workflows/test.yml
  changelog.md
  ignite/config/chain/base/config.go
  ignite/services/chain/faucet.go
Labels: component:ci, component:configs, type:services, type:internal, backport/v28.x.y

#4517 build: switch dockerfile to go 1.23
  .gitpod.Dockerfile
  Dockerfile
Labels: skip-changelog, component:ci, component:configs

#4529 build(deps): bump to v0.50.12
  go.mod
  go.sum
  ignite/templates/app/files/go.mod.plush
  ignite/templates/typed/simulation.go
Labels: skip-changelog, component:ci, component:templates, component:configs, backport/v28.x.y

#4534 chore: add v28.8.0 changelog to main
  changelog.md
Labels: skip-changelog, component:ci, component:configs

#4533 refactor!: promote codespace instead of gitpod
  .github/ISSUE_TEMPLATE/release-tracker.md
  .gitpod.Dockerfile
  .gitpod.yml
  .gitpod/readme.md
  changelog.md
  docs/docs/01-welcome/02-install.md
  ignite/cmd/cmd.go
  ignite/internal/analytics/analytics.go
  ignite/pkg/cosmosfaucet/try_retrieve.go
  ignite/pkg/gitpod/gitpod.go
  ignite/pkg/matomo/matomo.go
  ignite/version/version.go
  readme.md
Labels: component:docs, component:ci, component:configs, component:cmd, type:internal, component:packages

#4532 fix(services): allow tilde and env in config validator home path
  changelog.md
  ignite/config/chain/v1/validator.go
  ignite/services/chain/chain.go
  ignite/templates/app/files/go.mod.plush
  ignite/templates/typed/simulation.go
Labels: component:ci, component:templates, component:configs, type:services, type:internal, backport/v28.x.y

#4537 chore: bump some deps
  go.mod
  go.sum
  ignite/config/chain/base/config.go
  ignite/config/chain/v0/config.go
  ignite/config/chain/v1/config.go
  ignite/pkg/cliui/model/events.go
  ignite/pkg/cliui/model/spinner.go
  ignite/pkg/cosmosgen/generate_composables.go
  ignite/pkg/cosmostxcollector/mocks/saver.go
  ignite/services/chain/init.go
Labels: skip-changelog, component:ci, component:configs, type:services, type:internal, component:packages

#4540 fix(chaincmd): skip non json in JSONEnsuredBytes
  changelog.md
  ignite/pkg/chaincmd/runner/runner.go
Labels: component:ci, component:configs, component:packages, backport/v28.x.y

#4543 test: fix faucet test
  changelog.md
  ignite/pkg/chaincmd/runner/runner.go
  ignite/pkg/cosmosfaucet/client_http.go
Labels: component:ci, component:configs, component:packages
