Repository ignite/cli, pull requests merged in 2025-04, with the labels that each got.

#4586 refactor: remove network as default plugin
  changelog.md
  ignite/cmd/plugin_default.go
  ignite/cmd/plugin_default_test.go
  ignite/internal/tools/gen-cli-docs/main.go
  integration/network/genesis.json
  integration/network/network_test.go
  integration/network/request_test.go
Labels: component:ci, component:configs, component:cmd, type:internal

#4606 chore(templates): bump collections
  go.mod
  go.sum
Labels: skip-changelog, component:ci, component:configs, backport/v28.x.y

#4604 docs: update default url
  docs/docs/01-welcome/01-index.md
Labels: skip-changelog

#4576 docs: update docs for v29
  docs/docs/01-welcome/01-index.md
  docs/docs/01-welcome/02-install.md
  docs/docs/02-guide/02-introduction.md
  docs/docs/02-guide/03-hello-world.md
  docs/docs/02-guide/07-simapp.md
  docs/docs/04-clients/02-typescript.md
  docs/docs/04-clients/03-vue.md
  docs/docs/04-clients/04-react.md
  docs/docs/04-network/01-chain.md
  docs/docs/04-network/02-introduction.md
  docs/docs/04-network/03-coordinator.md
  docs/docs/04-network/04-validator.md
  docs/docs/04-network/05-coordination.md
  docs/docs/04-network/_category_.json
  docs/docs/04-network/assets/generation.png
  docs/docs/04-network/assets/genesis.png
  docs/docs/04-network/assets/launch.png
  docs/docs/04-network/assets/process.png
  docs/docs/04-network/assets/requests.png
  docs/docs/06-migration/readme.md
  docs/docs/06-migration/v29.0.0.md
  docs/docs/07-packages/cosmostxcollector.md
  docs/docs/apps/01-using-apps.md
  docs/docusaurus.config.js
  docs/src/pages/index.js
  docs/src/pages/index.module.css
  docs/versioned_docs/version-v0.26/01-welcome/01-index.md
  docs/versioned_docs/version-v0.27/01-welcome/01-index.md
  docs/versioned_docs/version-v28/01-welcome/01-index.md
  docs/yarn.lock
Labels: component:docs, skip-changelog, component:ci, component:configs

#4609 fix: add work dir for relayer integration test
  changelog.md
  integration/relayer/cmd_relayer_test.go
Labels: component:ci, component:configs

#4613 refactor: rewrite prompts to use bubbletea
  changelog.md
  go.mod
  go.sum
  ignite/cmd/account.go
  ignite/cmd/account_import.go
  ignite/cmd/chain.go
  ignite/cmd/generate_typescript_client.go
  ignite/cmd/scaffold.go
  ignite/internal/analytics/analytics.go
  ignite/internal/tools/gen-config-doc/go.mod
  ignite/internal/tools/gen-config-doc/go.sum
  ignite/internal/tools/gen-mig-diffs/go.mod
  ignite/internal/tools/gen-mig-diffs/go.sum
  ignite/pkg/cliui/bubbleconfirm/confirm.go
  ignite/pkg/cliui/bubbleconfirm/question.go
  ignite/pkg/cliui/cliquiz/question.go
  ignite/pkg/cliui/cliui.go
  scripts/go-mod-tidy-all.sh
Labels: component:ci, component:configs, component:cmd, type:internal, component:packages

#4621 chore: added a link to the lint badge
  readme.md
Labels: skip-changelog, component:ci, component:configs

#4627 docs: added a badge and a link to Twitter
  readme.md
Labels: skip-changelog, component:ci, component:configs

#4347 fix(cosmosgen): fix ts-client
  changelog.md
  docs/docs/04-clients/02-typescript.md
  ignite/cmd/generate_composables.go
  ignite/cmd/generate_hooks.go
  ignite/cmd/generate_typescript_client.go
  ignite/pkg/cosmosanalysis/module/module.go
  ignite/pkg/cosmosgen/generate_typescript.go
  ignite/pkg/cosmosgen/generate_typescript_test.go
  ignite/pkg/cosmosgen/template.go
  ignite/pkg/cosmosgen/templates/module/module.ts.tpl
  ignite/pkg/cosmosgen/templates/module/registry.ts.tpl
  ignite/pkg/cosmosgen/templates/module/types.ts.tpl
  ignite/pkg/cosmosgen/templates/rest/rest.ts.tpl
  ignite/pkg/cosmosgen/templates/root/client.ts.tpl
  ignite/pkg/cosmosgen/templates/root/index.ts.tpl
Labels: component:docs, component:ci, component:configs, component:cmd, component:packages, backport/v28.x.y

#4633 feat(cosmosfaucet): loosen faucet check when indexer disabled
  changelog.md
  ignite/pkg/cosmosfaucet/cosmosfaucet.go
  ignite/pkg/cosmosfaucet/transfer.go
  ignite/services/chain/faucet.go
Labels: component:ci, component:configs, type:services, component:packages, backport/v28.x.y

#4628 docs: collections docs + minor nits
  docs/docs/01-welcome/03-tutorials.md
  docs/docs/02-guide/03-hello-world.md
  docs/docs/02-guide/05-debug.md
  docs/docs/02-guide/08-state.md
  docs/docs/04-clients/01-go-client.md
  docs/docs/07-packages/cosmostxcollector.md
  docs/docs/08-references/04-glossary.md
Labels: component:docs, skip-changelog, component:ci, component:configs

#4641 chore: add v28.9.0 changelog to main
  changelog.md
Labels: component:ci, component:configs

#4646 fix: Adjust GHA Dockerfile UID/GID and fix tarball_prefix quotes
  actions/cli/Dockerfile
  actions/release/vars/action.yml
Labels: skip-changelog, component:ci, component:configs, backport/v28.x.y

#4643 feat(xast): allow append arbitrary blocks
  changelog.md
  ignite/pkg/xast/function.go
  ignite/pkg/xast/function_test.go
Labels: component:ci, component:configs, component:packages, backport/v28.x.y

#4638 feat: add include feature to the chain config file
  changelog.md
  docs/docs/08-references/02-config.md
  ignite/config/chain/base/config.go
  ignite/config/chain/parse.go
  ignite/config/chain/parse_test.go
  ignite/config/chain/testdata/include1.yml
  ignite/config/chain/testdata/include2.yml
Labels: component:docs, component:ci, component:configs, type:internal, backport/v28.x.y

#4645 fix: refactor the `xast.ModifyFunction` to improve the readability
  changelog.md
  ignite/pkg/xast/function.go
  ignite/pkg/xast/function_test.go
Labels: component:ci, component:configs, component:packages

#4652 docs: add v28.10.0 changelog
  changelog.md
Labels: component:ci, component:configs
